{"openapi":"3.1.0","info":{"title":"bizapis-1","version":"2"},"servers":[{"url":"https://apigwqa.bizapis.com"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"bearer","x-default":"eyJuYW1lIjoiRG9jdW1lbnRhdGlvbiIsImxpY2Vuc2UiOiJiM2ZkZDQzYS1kMDNhLTQwMTctODRmNS1jZTc2ZmI3YzEwNDAiLCJ0eXBlIjowfQ"}}},"security":[{"sec0":[]}],"paths":{"/v2/documents/rcbev2":{"post":{"summary":"Authentication","description":"","operationId":"authentication","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"0afb339e-3490-4237-a80b-fb4ea3dad7ae\",\n        \"Entidade Sujeita\": {\n            \"Firma ou denominação\": \"Loja, LDA\",\n            \"NIF\": \"123456789\",\n            \"País de residência\": \"PORTUGAL\",\n            \"Natureza Jurídica\": \"123\",\n            \"CAE\": \"Não Disponível\",\n            \"Identificador entidades jurídicas\": \"Não Disponível\",\n            \"Morada\": \"RUA Castilho 1234-123\",\n            \"Distrito\": \"123456\",\n            \"Concelho\": \"123456\",\n            \"Freguesia\": \"123456\",\n            \"Endereço eletrónico institucional\": \"loja@hotmail.pt\"\n        },\n        \"Dados Beneficiario\": [\n            {\n                \"nome\": \"David\",\n                \"apelido\": \"Marques\",\n                \"data nascimento\": \"17/05/1988\",\n                \"nacionalidade\": \"PORTUGAL;\",\n                \"fonte de informação\": \"Certidão permanente com o código de acesso n.º 1234-1234-1234.\",\n                \"menor de idade\": \"Não\",\n                \"maior acompanhado\": \"Não\",\n                \"Interesse Detido\": {\n                    \"benefeciario\": \"Dvid Marques\",\n                    \"proprietario\": \"Sim\",\n                    \"tipo de ativos\": \"Ações ou Quotas\",\n                    \"capital social\": \"25 %\",\n                    \"tipo de detenção\": \"Propriedade\",\n                    \"estrutura da detenção\": \"Direta\",\n                    \"direitos de voto\": \"Não\",\n                    \"controlo sobre a entidade\": \"Não\",\n                    \"direção da entidade\": \"Não\"\n                }\n            },\n            {\n                \"nome\": \"Rogerio\",\n                \"apelido\": \"Silva\",\n                \"data nascimento\": \"27/12/1979\",\n                \"nacionalidade\": \"PORTUGAL;\",\n                \"fonte de informação\": \"Certidão permanente com o código de acesso n.º 1234-1234-1234.\",\n                \"menor de idade\": \"Não\",\n                \"maior acompanhado\": \"Não\",\n                \"Interesse Detido\": {\n                    \"benefeciario\": \"Rogerio Silva\",\n                    \"proprietario\": \"Sim\",\n                    \"tipo de ativos\": \"Ações ou Quotas\",\n                    \"capital social\": \"25%\",\n                    \"tipo de detenção\": \"Propriedade\",\n                    \"estrutura da detenção\": \"Direta\",\n                    \"direitos de voto\": \"Não\",\n                    \"controlo sobre a entidade\": \"Não\",\n                    \"direção da entidade\": \"Não\"\n                }\n            },\n            {\n                \"nome\": \"Edgar\",\n                \"apelido\": \"Luis\",\n                \"data nascimento\": \"28/09/1982\",\n                \"nacionalidade\": \"PORTUGAL;\",\n                \"fonte de informação\": \"Certidão permanente com o código de acesso n.º 2505-2303-8173.\",\n                \"menor de idade\": \"Não\",\n                \"maior acompanhado\": \"Não\",\n                \"Interesse Detido\": {\n                    \"benefeciario\": \"Edgar Luis\",\n                    \"proprietario\": \"Sim\",\n                    \"tipo de ativos\": \"Ações ou Quotas\",\n                    \"capital social\": \"50 %\",\n                    \"tipo de detenção\": \"Propriedade\",\n                    \"estrutura da detenção\": \"Direta\",\n                    \"direitos de voto\": \"Não\",\n                    \"controlo sobre a entidade\": \"Não\",\n                    \"direção da entidade\": \"Não\"\n                }\n            }\n        ]\n    },\n    \"file\": \"JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFuZyhlbi1VUykgL1N0cnVjdFRyZWVSb290IDE1IDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4vTWV0YWRhdGEgMzAgMCBSL1ZpZXdlclByZWZlcmVuY2VzIDMxIDAgUj4+DQplbmRvYmoNCjIgMCBvYmoNCjw8L1R5cGUvUGFnZXMvQ291bnQgMS9LaWRzWyAzIDAgUl0gPj4NCmVuZG9iag0KMyAwIG9iag0KPDwvVHlwZS9QYWdlL1BhcmVudCAyIDAgUi9SZXNvdXJjZXM8PC9FeHRHU3RhdGU8PC9HUzUgNSAwIFIvR1MxMSAxMSAwIFI+Pi9Gb250PDwvRjEgNiAwIFIvRjIgMTIgMCBSPj4vUHJvY1NldFsvUERGL1RleHQvSW1hZ2VCL0ltYWdlQy9JbWFnZUldID4+L01lZGlhQm94WyAwIDAgNjEyIDc5Ml0gL0NvbnRlbnRzIDQgMCBSL0dyb3VwPDwvVHlwZS9Hcm91cC9TL1RyYW5zcGFyZW5jeS9DUy9EZXZpY2VSR0I+Pi9UYWJzL1MvU3RydWN0UGFyZW50cyAwPj4NCmVuZG9iag0KNCAwIG9iag0KPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzMzY+Pg0Kc3RyZWFtDQp4nKVSTUvEMBC9B/If5qh7SGcmTZtACex2P1AQFAsexKO7JwX1/4OTNlkru4JiC33MZOa9N+lAdQtdV930V2vAGGG17qHa3Ts4fGhFcNCqZYNcQxOsIagbNDYANyZgDe/PWu0XWsHmpgeYMVFmetMKDaYnEANCI9828Nj4sIBXrVaDVtWWgMmEBoZ9EkV5CY663gQPw4tQJTtijmh0h7DT6rFDdG1k7pCabeRaEDmyFSSMTAk3U94tp3y7nmKpp5DOc77U+X6MEe0Us481T33kz5z7MPXnPLnM3zbRJgyZPxQ/GaXehkmXwkxf+gr/qFd0xQfjly7KPNYJEo98QpBRfLh5XRutn81dfIqvUb/cV76Po+4v5hrx6H95/l4Kv8P4BMO1Vhv56Xda/Wc7XEr5k+0oO5E8fdM6WVH+44ryOROWTc0/mLiAy1MHn4PKsSENCmVuZHN0cmVhbQ0KZW5kb2JqDQo1IDAgb2JqDQo8PC9UeXBlL0V4dEdTdGF0ZS9CTS9Ob3JtYWwvY2EgMT4+DQplbmRvYmoNCjYgMCBvYmoNCjw8L1R5cGUvRm9udC9TdWJ0eXBlL1R5cGUwL0Jhc2VGb250L0JDREVFRStDYWxpYnJpLUxpZ2h0L0VuY29kaW5nL0lkZW50aXR5LUgvRGVzY2VuZGFudEZvbnRzIDcgMCBSL1RvVW5pY29kZSAyNiAwIFI+Pg0KZW5kb2JqDQo3IDAgb2JqDQpbIDggMCBSXSANCmVuZG9iag0KOCAwIG9iag0KPDwvQmFzZUZvbnQvQkNERUVFK0NhbGlicmktTGlnaHQvU3VidHlwZS9DSURGb250VHlwZTIvVHlwZS9Gb250L0NJRFRvR0lETWFwL0lkZW50aXR5L0RXIDEwMDAvQ0lEU3lzdGVtSW5mbyA5IDAgUi9Gb250RGVzY3JpcHRvciAxMCAwIFIvVyAyOCAwIFI+Pg0KZW5kb2JqDQo5IDAgb2JqDQo8PC9PcmRlcmluZyhJZGVudGl0eSkgL1JlZ2lzdHJ5KEFkb2JlKSAvU3VwcGxlbWVudCAwPj4NCmVuZG9iag0KMTAgMCBvYmoNCjw8L1R5cGUvRm9udERlc2NyaXB0b3IvRm9udE5hbWUvQkNERUVFK0NhbGlicmktTGlnaHQvRmxhZ3MgMzIvSXRhbGljQW5nbGUgMC9Bc2NlbnQgNzUwL0Rlc2NlbnQgLTI1MC9DYXBIZWlnaHQgNzUwL0F2Z1dpZHRoIDUyMC9NYXhXaWR0aCAxODIwL0ZvbnRXZWlnaHQgMzAwL1hIZWlnaHQgMjUwL1N0ZW1WIDUyL0ZvbnRCQm94WyAtNTExIC0yNTAgMTMwOSA3NTBdIC9Gb250RmlsZTIgMjcgMCBSPj4NCmVuZG9iag0KMTEgMCBvYmoNCjw8L1R5cGUvRXh0R1N0YXRlL0JNL05vcm1hbC9DQSAxPj4NCmVuZG9iag0KMTIgMCBvYmoNCjw8L1R5cGUvRm9udC9TdWJ0eXBlL1RydWVUeXBlL05hbWUvRjIvQmFzZUZvbnQvQkNERkVFK0NhbGlicmktTGlnaHQvRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0ZvbnREZXNjcmlwdG9yIDEzIDAgUi9GaXJzdENoYXIgMzIvTGFzdENoYXIgMzIvV2lkdGhzIDI5IDAgUj4+DQplbmRvYmoNCjEzIDAgb2JqDQo8PC9UeXBlL0ZvbnREZXNjcmlwdG9yL0ZvbnROYW1lL0JDREZFRStDYWxpYnJpLUxpZ2h0L0ZsYWdzIDMyL0l0YWxpY0FuZ2xlIDAvQXNjZW50IDc1MC9EZXNjZW50IC0yNTAvQ2FwSGVpZ2h0IDc1MC9BdmdXaWR0aCA1MjAvTWF4V2lkdGggMTgyMC9Gb250V2VpZ2h0IDMwMC9YSGVpZ2h0IDI1MC9TdGVtViA1Mi9Gb250QkJveFsgLTUxMSAtMjUwIDEzMDkgNzUwXSAvRm9udEZpbGUyIDI3IDAgUj4+DQplbmRvYmoNCjE0IDAgb2JqDQo8PC9BdXRob3IoVGlhZ28gQWx2ZXMpIC9DcmVhdG9yKP7/AE0AaQBjAHIAbwBzAG8AZgB0AK4AIABXAG8AcgBkACAAMgAwADEAOSkgL0NyZWF0aW9uRGF0ZShEOjIwMjMwNTIyMTc0NjEyKzAxJzAwJykgL01vZERhdGUoRDoyMDIzMDUyMjE3NDYxMiswMScwMCcpIC9Qcm9kdWNlcij+/wBNAGkAYwByAG8AcwBvAGYAdACuACAAVwBvAHIAZAAgADIAMAAxADkpID4+DQplbmRvYmoNCjIzIDAgb2JqDQo8PC9UeXBlL09ialN0bS9OIDEwL0ZpcnN0IDY3L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzU0Pj4NCnN0cmVhbQ0KeJyVUsFqwkAQvQv+wxzb02ZXkyqIIFVpEUMwQg+hhzVOYzDJyroB/fvuJGlMqYX2srNvZt7bmZcIDg6IIbgchAvcESAc4E8c+NimbXBBjG3Bg8HIswXwhAA+Am9oCwI8z4HJhAXEcmDDQhaeZMG21xOy0OgyNosMcxYkMKjqK3Cm037vfxT+R8osNqXMtngxD/AIbBWBeIdWqBWxm9UiwQ8FopAhG7KkCi6FuypuozJXcZljYe6KOTW9YXU6thpxo5RhG5XhWp7IYdILpLZaVCWzq/2jZmKaoq36dssVXltvllarUAaZT8ei2N8AGbJTFxZibNgLyj3q+k6cr/trkaUFhgdJE1JiVlgFaVJVNFib9EPaS4XelD7ulDretqfM+YBoaEjD1jLWqoOfD/bs4HkqM5V0EmGW7rHTW79j2xItc7ZMk1Jjs6tf5ueIflvxzV1f5niOavjbd+z3PgGrPtvoDQplbmRzdHJlYW0NCmVuZG9iag0KMjYgMCBvYmoNCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzMzPj4NCnN0cmVhbQ0KeJxdkstugzAQRfd8hZftIsIm4SUhpIgkEos+VNoPIPaQIhVjGbLg72tmLFrFEliHuXc8eCas6lOt+5mF73aUDcys67WyMI13K4Fd4dbrQERM9XL2hG85tCYInblZphmGWndjUBQs/HDBabYLezqq8QrPQfhmFdhe39jTV9U4bu7G/MAAemY8KEumoHOJXlrz2g7AQrTtauXi/bzsnOdP8bkYYBGyoGLkqGAyrQTb6hsEBXerZMXFrTIArR7i3nXt5HdrUb13as4jjmr/fVNtSYVAmYhwO0Re7ZNmj1lFRbq4XClOkWJOdCSKVhKcMiYCSXCiPREpkwPRmQhziigjSpBi70uJvC8jOhHlSMmFqEJKE6IzkVdekLIcKeVE9EcpVZ3TeSnVmdN56eH/Ha53v47I1lh5t9b1FOcIm7m2sdewjZoZzepan1/bPLZODQplbmRzdHJlYW0NCmVuZG9iag0KMjcgMCBvYmoNCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMjQzNTMvTGVuZ3RoMSA4NzEwND4+DQpzdHJlYW0NCnic7H0JXJvXle/9Fn0S2vcV+CQEEiCBALGbRWaREAgMBtkYjNkxTozteMNr7Dip45C0dZq0SdMmcVMl6YwnieS0/TmkaVPi1+C0xmknTd+0iV+SX9uZvFfPNJO2b55t4J37SWLxFqfpTPt7Twc+3f3ec//n3HPO/eD3EyIQQlL4oJFnVbur4PHeomcQIkahtm9wrH+bLzP1KEJjeoSo3w7u3mmu/rgVyvvfRIh8dGTbxrFtf7znIEJ3QHfmtY2b946835trQehOGL9q++hw/xDz8mMp0Pg7eIpHoUKamfK/YP50KKePju3c03fajtebRuj21s1bB/v/bv77Mwidewehksyx/j3bUn8qoKC9Afqbx4Z39j925MRuRBQLoHzPlv6x4breWj0ieDRCeR9s27pj59wcGkVE0b/g/tu2D29774g/H6HxM7BBIcJ7Zcrfzw68+PNeWcUfkQlPg9DZdx7fhtNf+MfXXP5w9pfCPfwnoJiESBQlGMegOUScEZ67/OFlgXAPN9MSMmpwjekh9BUkQHsQBSPlyIVGAKVJ5jUoEYimswgn4iEB76s8N0yZGk2pN9FREgaRMookSZoi6V+j3PlXUfp+jgOg5nazGS93mY7ywH+CtJkRMY/bqFM8Kd4pUtNSlBvnhjiP/iyiG9Ar8Nx+K32pD9Ert9Tv+U/uR/zh1ua67vxd1x/LTP35c15NtHxxLrrmLzfvfxZRP0KqTz3mn1GY+jEav14b3YzCy/ruWV6+4ZwBFKZ3XjsnPbQ4nvinm88F7ZIbtZE/vf5Y3gfcutdto4+jrTdb72qinlmchzp/FQ6VKHDdMT6U/GnW+EsSdQaN/lnjNqKh69XzY/W8S9GUzlxuH6g/3Np65BByxPP0I8jBfA45BKeRg7Ys1t+MmI5b63c9unoNPBf99mIdX4gc1Kuo9ppxmdfaQqh7Np4nzqCHP2lt6PPsZ+mzdL1r2pzXl9mtzEVOLZ+X0qPg9cbwvrq8nvwGsi+b8zyy08HlddddG/rQl5Cdn4nszHOf3P9W+vxnEeyRO9dkO2ok30GtZBi1EC+hLPJhVEi+h3YRa9Bt8b5EG9rF9X0H7SIvoABOufqPoJyNvMQv/nr7+GsT6DX3JChBCUrQ3wKRXyNSb9jWDResBF1DlOiT45wEJShBCUrQ3y7RP0T9f4l5yP+NjpAfojYu/xzk70VH4m3E9sU83J+O0F9eUv7HaJ7842JdghKUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoAQlKEEJ+n+IPvG/5BOUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoARFaX7yr81BghL0VyYq9iRHv+2LYKAEOfIKotH/hIpsZIacEHISlIZqkRf5UTNqRatRP9qENqNtaCc6QeSbk8yHMn5ymZ7nvrEL+ppRDaqHvoFY30HouwVtX9IXQV9i/o9wDs/D81sYxUcC9A3gAfOD5gdR0UX7+/3/oxKh2DeR2eDJjD2Y8Per5aKCJbtx4t1QjdQjsB8bqkJ1hJwwEqlEJtFKdBE9xG7iIHEf8QBxnHiMcBC5hI8oJZoQQ/yJG/2nq7/xDMpk7PvRSHRzio6Mrv3ZSIGUCHH8Y3Jxn7ATLl0LT9dN2QA+l++Zq90KD7d3SLndf0Ye/yuJurVuWJq3Pikx8v+RfiOPZ7gz2NG+uq11VUtzoKnR3+Dz1tfV1qz0VFdVVqwoLystKS5y5eY4M20Z6dY0Vq9WyGUSkTBJwGd4NEUSyFlv9faZw7a+MG2zNjTk4LK1Hyr6l1T0hc1Q5V3eJ2zu47qZl/f0QM+Rq3p6oj09Cz0JubkCVeQ4zfVWc/hcndV8muhq64T85+us68zhi1y+mcvTNq4ggYLFAiPM9frROnOY6DPXh727Ryfq++pgvohIWGutHRbmOFFEKIKsCHLhTOu2CJFZRXAZMrO+PEIigQQvG6Yy6vuHwq1tnfV1JotlHVeHarm5wkxtmM/NZd6EeUb3myPOVyceOC1HA30O8ZB1qH99Z5jqh0ETVP3ExL1hhSOcZa0LZ+37tR62PBx2Wuvqww4rTNa0emEBIszLkFvNE39EwLz14u+W1/THapgM+R8RzuItLsAE7fE8At6AQ9ifxYJ5uf+0Bw1AIXy4rTNaNqMB0ynkcTnWhck+3PJqvEUTxC2H4y0Lw/usFiyq+r7Y7+5RffjwgDnHCehzvxnwC+3mMGXrGxgcxWn/8IS1ri6KW0dn2FMHGU9/bK/1kTwX9O/vg01swjC0dYZd1m1htbUm2gEqzFgGm9o7uSGxYWF1bRj1DcZGhV31dZgvc/1EX12UQTyXta3zJeSefy9SaDa96EaFaB3mI6ytBaHY6ic6h0bCbJ9pCPRzxNxpsoQ96wC+ddbO4XVYSlZ5OOs9WM7CrciNgr1d1TveGe+cnyEwd5Imah2WFlSYvfBhramABjmIiytiidZUmDsJE4p3g1ViPXBu2TxQoDJqG3AThYfWNpgs6yxRuglLphhPvIywYMlccqhY4Cm6zg1Zi/bGDGWZ64frljC4bFJejMHYbNfnk8RYxBaGEQIszoZ4E5UBJxfqSJiGq8JS1JvDqNXcaR22rrOCDnlaO/HeMNacfJvarU1tXZ2ctGNa0rGsFG0vXWiL5cJkLSig12GKy5Qr+7jyQrHhqmZ/vNk8IbA2tU/gma2xCZEZjg/smLH5++8vVRbCufSCabN6+61mudk70X96/vDARMTjmdhW3zdajuew+ocmrO2dFSaOtdWdB0378FJK1EQ0ddTkOMHw1ESsxLG2iIc41t7V+ZIcIfOxjs5TJEHW9tWsi6RDW+dLZjDpXC2Ja3ElLphxAc+0GgoCrr/pJQ9Ch7lWmqvgyoOnCcTVCeJ1BBo8TUbr5PE6EuroaJ2Hq8MEEtKPAr5ga+vNQ1g2B9aNTvStwycLaUGO8EuECWsVCpPWqghBMuKw0DpcExZZa3B9Na6vjtYzuJ4PWkFoCUCzftQax8paP9o/fAoRhEZlLY0QSFGcgyJJrpVSogJVw0MSZUQxKkUsuLdoWkIUnypl31xZBWWCaEClEAwECS+k9ZDWQVoLaQ2kKyH1QFoNqQvSXEhzIHWiIDoMzpKAz0aYwx9tQ6tgJgL9HvqDkyYqUR48JJfbBs9heN6Dh55/lah8UarwImCyEDoVQlMhehMeGjq7kRmew4T7FCV2rRQT+TCZDD5ZeLbCcwieLxL5p3gydJrI9XyNUH8Qmmffj8yzv3r4DvaffpHL/vLtTex/f+tx9hdvO9mfv13CvjljZM/PjLLnZp5nfzJzmJXNEGPsDAHJijemj7Bnpx9gX58uZn801cL+t6lO9sxUL/va1Aj7w6kx9tWpwyyakk+Zp6gx81TeFImzJK4hV5iniB9M2tjvT5azr0yuZr83Oca+PLmDfWnybvb05F62dZI4Pf/qi5P7jni5dHRLNA12RdMaL04985OuAu93Ik3styM97IuRQfZU5DY2HBlnX4gcYZ+PdLPPhO5gnw7tY78ZeoB98vEU9onHy9ivP/4Q+9VHg+yjD+SxE8R9wc9RDvYeysce6T4cvOvk4eCh7oPBO08eDLoOEq6D1Qe3Hnzy4PmD8weZvd3jwT0nx4Ps+BfHnxynxol9wQPd+4L7T+4LbttHHOs+Grz35NEge/SLR588Sh2ltgdbd/ftJndDZsvIWDA8RvSObR07NEaNQc3O7u3BHSe3Bz3b+7Zv2354O72d3Bq8o3trcNvJrcGtDMHeBkxt8m0Mjp7cGBzxDQWHTw4FB30DwX5fX9DTR6z3dQW7T3Z5GoNroeMaX0cweLIj2O5rC64+2RZsY7zsKl9LsIXKYJt9TcHAyaZgo68h6D/ZEGwgHazP5w16CQebniZkrWl6FlGEgHqFwIrHA408jjocTaf586ubwoLW7jBxLJzRjj89bV1h5lgYBbu6OyME8YV1p4xgLTo4K8iVP/f5z6OUmqZwSnvnKerEiZSadU3hwzjv8XD5eZxH0GXdhh2Oa2nHVfkdO3C6I1aA350LzQQ8KJY6YnmHI95O7NqwY+eu+BpcP6iIltHCYMKBNuzg6mGRnfgjzgBOd+o3QCD9BG+MOj33EA6JedLZX9563L+EfGgD2o2+CdH7jj9rfIx4u5GIiiAGfxvx/KX5i3PPwHOaJ11Sw/FJp0CNIjpmPmn+X6GHiquTcb0+wr3mTlM1iOHGimZfh1p8e8igkqAsmS+G8sfkvTgfHcF/Yu6FuWe5VhFdQnwNcGhH5Wgl3Ek6YG9B1ItuR3dCuRHyA2gfpN1wS9mFjsA9pwmtgfYRNAYYHEJfBxxeRT+DkUEYuRFuPeMw8l50HD2CTqKzqAcNQc+daD+agBvMK2gU3QHz3Y0eQI9Ce09snucg3Yb2osPoPvQgegxaGqANr7gK+u+BOSbQbbDacRg3jr83/G+NeF1Ig07M/8d8zdxTs9+jMigx8RPY872wo12wl0togKdGt/Oc838i0uY/4gnnf0cfmv+IyJ//dySkDlD4TpkLF7RzIEEKbntlcJNs9KTn8MnyU3XS53R18EMS5ucFNEGyAoKyFjFUm0Hhr6YJ5Hr3wrsXzlXDo1CWlRGud9+9cBHnXC75Rfh5dyYvn1BYFNyjlpJ8vpqxpuWSRfbCYre7oIosKrRZ06QkV1dYXFJFuQtSSUodr6kiufK5K/1U+5U/kXelr+ws5Gk1QqmQRxs16vyVmYrOAXt1nplP8XkUT8DPLKm11I/Upr3HSHUKpV7GMDK9UqGTgnZe+nee9HIpfeTynZS2YoPHSvy9gE/SPHpapzHletJb1ys0CipJJharBHyVUmKr6Zo9EJ8hluJb/Svw8WtAKhU5wIWXelJs7ikR+5pRpNGI0GtOkdE+mZ/PT5+UtxVO8jtQ9cXqi8oy10XA5p2LijKXsgxwKQBU1FLaakmzFSkACQtsUoPhSaWowlzSalVgbFTRrAWy1K9NBQ3dt3nnIkqbTUlo73igO0eTXe0oXF+f+XZy5cDqNy74u8qTO7JW7VzzIWGs6vU7iNvKBlqrHFpTOn083ZQb3NuY29FQrhaWdGwl1e72Fea5PHvN2tnznoGatDk+W9kN9vr2+Y9pMc8EGmD3qJOR4zVpuf5li21S1U5PFuW9nLQGVc++dRE/hPzCxbfO5OVnqKXMElExmpjosFA16lQS7wOLkBaTNF/l6b8zsO9H9ze1Pvjj/eVj6/0mPk1SfCFf6m7f09796Fhl6W1fH2zbu6ZExgh4VFiklIpVjuzUYOj3jz1x+YUebZrTJJapxFKNTJBVkOX/wpv33jV9XwNkeRItfhuBZbMDZONEuR6d0T6VpDKrzCjJOGmzMYZJSZt9klmUCOE6F9XTAm4b5DXSsFoUV2WpHXSSmD/7FBYCGeSLBTQtgPJF4g1BNC+YKyaT+eIkuliilvKj0POlGqlELeHPlfElkFOJmdkrkOP4nb9EBYBfO+Ct4qumJCkoNYU/qVIZmMm0NkMQVcdZdZ1RlMXU5iq+4mclzjkVwDzOiYhfYT64fAYcBqVCL2WA6xKu9m2OIS1PrJbh3OyPGCFD0/jjZY7hKG9ECdgNDZJ/F00J5at5mB3CdTGGVnTNqHQ1REl8Cb5MJ1fCeVMvzPjbeC4uIS/MakRaj1AzhZJkqzUxoYA8Li6TRGzuKPJejO7seaWNkeoVeAHi3zDmpVK1DOP8cnyRy7sWsWV4gG0FavJkSvLydC6XMFevN06l54vFwimUXtwm0uskLn1+LsNmtrFBZZDbYXW1UlemcAM7b10sULjl+ENRVulyuxXupVu3ElIK5+yEdZkMMM86wk2AKePYZ3iMTKeUAzTkHEUKpCqJVC0REHPJBNSrwDTxbMoagy1FLSBO8ohXhDpDisKfpJaLFhH84uXbaDBvFI9P01+5fMdSWYk0qarLV2ikt6gF2FDhN75Yq56BnSejLGTzqNKZKUXKa0iRMckwYuukpk28RK/eWrBG2NRcpUs0f9EYUc9Ubg/t/NaiJhF8e+Pgxgb7XTW9G3NPh4PbW7Kor3V9ZXPFnGKZMumqu3e1dewqk83OOAK3x/n7Z+CvGNWhYk+yPFeRJXwNlbyWVa2YSs6VT3o8uspJS5suJo+4+bxY8NbFtzjnsigGO5VLWa/GX6tLpWLWVKfSaqlCm91mi28DFjYA6nIhvVeTV9dXe3RxRx/nVRsbtzRY02vWl1iKcjLVeyX8XzSuTakrOTHZtNln0YKlorGHIMqLNtRnzr60dJ88WlIevL3KM9xcqpI5q9oK5n5mNVKPtO8wCOAAZnjW4J2rYOcv0laUjjJRjces19nFNsl5nQ3KIpvwPLJlpGTbp8ViZcqwcpQ3inePNw97JgwuPWy+rExZJn83mgIKWjXDRGGwUFgbbbbCEoLzobSOb4XK53lik1ZnkvHJoTlHDyWQGdUao5hH7KGESqNKppWLkxgySP6AuD9LphJSFGyG4M9d4gsZihaqZdQ7AhFDERTNJPE2z/4GvF8Yzu8eiP+i3q/QY7K5Z0TsDPg+53kEvm8afF/GtHzIPc3fuNT3vcVlPqXn4wS2R+esDHRVzf1EZrHICEX3zha7wlpozW4qtfxAm99c+9J0lS9HuxIcmP+nfyppLLMQ2XlttQVWhYGlnmMN6fUDVba68ly5wFnXRZy0e3L0c4+lumvnqvKb3Ka5vfo8L7YW4/MfU4fobFSEMjwqPbKfF2unU9LOKkbI6XznWf6mRcfnivs9eonfo2/k96hDfENhY2/pxn/YX1+3/x9G87oCFQY+xSQxInvNQF3TwXUFBT13ta7s8WRJeHDGH9QYDdZUTcPE64fuPPv5JmVKusGol6gkjNlmLt/61MaRE1vKzHYLI1VjfcLS+CVIQ4lYlOyRqs4j40ySflo6ZJrmReHH7F6Mn+8Y5pivpSf7l3X3TN3/GwzvpWOTd3rudPY8uP3Zp7cc78sjU46+caw+CmTD0Vf2dD6ytfrKC4WbQ4AYrE3OwdoxXzuTBK5WBb52GvvaacmQfZrZ+Fl8LUwO2jh7hRP7FUbIpyBSYOaaiX0L+aMEZ/YLwYUxUSYZyGIPO3eCEasheJAwc7sYsQpLODx/ifwA+LUih0fDU8wki0QmlGziTSsUOnraPKQbXe5tXTFlZW7mbrXkB1Lp3CBx7wJPe3Hgie0JcP1bqZT60KifO4aZ4dgqB8GDyUhiqJ+xBiOndx9RP6edyIPcHmNqqkw/gzJl54us0wYe/OQJz5aPqM/mbYoByUHIaSAOJWNiXaZ1xSUKS1wtgT2NQs3wo34qrqmwHCOgpa6mscD6Lw0XV9z2pTXFO3Ln/g82bjR8EK0KViKxtLStth2YOuoNTPxwV/VYe4kqifqSGEIF1sbW7Hxyw6ZvbC0zGomaOOC6lLktCiNflaIRtTxwZveBnxxfpTVblLoY8tS3weq5AHmtVTyjSxfNIF32cPrZayxd1OsuqgmH9FLQF2KChSz1bfB7CuxHZ/81jj2OEXDQTyp5XI2MUcWBJy7MpS0I4T940RxvrpUIx/NRjoks4JiLfWaE8mGOwxvFPlnxZfk4hWVV1y6A/6omgVkredtJG3oeLm0MaZOg2Dl6A9bS44hINYP4kmH1NL1xaUTEXCcgIt8AxSuQWeJbJT7HF/GpQqMRDsI/xle90gPyie6HVwC6X4pWeixOTY5dP5MmcQlzctIKhTMorWgoRyuiUmxDKaPymDBwEBQVhhJiH9A8PQ6ElrpeHAHFvM/NIiCthlcA+MgVOgkEQEO0LlmqEvPJuXGSkYDj1Up5FkWDzmJUCYggTfQJtSaLplppXoTw8Ss9AhEOfahvXhlcenxEGlZ15TeUVm/RJBnYmJ6dASRXoEyP2qI8l0znnUPJxcOibB0+3tTGqJaVLVMyBptFO2Gz2a1qjO21G9Fqde5cahF+6kyqst5gls297lzrJIB4Eo08upEWhV4hFRDG3N5ckmuRahQKrZhXyhqSk8m8lifb0gOBQPrsV5fuA98P5pjVf782u7Oz00EqGRE+iCIG7PvW+Y9oC1gHFdwQwL6rz6PU80LDtGzEOs3bdI19X3Jj5sz7EldEW6r2fnvX+As7S6v2fXv3Hc/trjic3nZ3b+89q23Wtrv7+u5pTyeTD517sKXh2OuHDvz4eIvv3jPH1j+xq9a754nO3hO7axr2ncD+BhD2gB6lgPeHyNLGzChSzyOFfZrHE2dMa4bEo7cSWUYjNP6ysMyTt/7unpMLtlNxxexJLepYYb6ryavL13zrO1WtJcnkh837O11gYZeAx/DFhYGButYtSh4957NUrI5xuQO4dINVhQhFeC5f7lAUnretAKPvUEyvWKEr4+x9VNOXhpegHG8vOeN2+3Wiy4V4RafDseWiG93BSI0qpU4moLrl9uKmyt2LnuDShjuD2anFTbnJuRkWWbeQ/319Ubv3mRN1a0pMnKZTAonwktNflDpXtHR3md7BcnewNl8mthaszPzYoCM/tNfkmebuTynkopbA/Efg05yoCcfRNTO2QluhNGUGSfPOllWdTanlOUaEb6j0Z3mx8AW2x0Uwb0VdyaLeMHG9ib6SWShffZ1nyA9KB+5tKVjf5JYyPJJkhAKh09tXURCssjr9PX09fmfemh11matq8qLtAiYps7K90OHNN+X4e/p7/DlEsm9rIEtlSpYKxQoxIJSUkp6id9U6cmvdmdnuuv7qFYO+TLnOIBVKlWKpViYwsSZ9dpklr96dnZVfux7vOxkk7AAJm5HRI0b0jFZGy6dNQ0JO/QoI15nZc3HXvehFFt0ihGUOiWTuPLZAKq2UgVzMfZO/4nIfGo1XNiwI4inOyUGMgY0p6Nfo/L9BaD3F6Vf/dx4pfbaUzD89/3tPkVDSkKkqVZFClVFFCmR6KCfpCiPIbsfmqfyUYmX2M2nWlFBu0Te12tzGypC4mQ5glqtxbDz7B+6typkeLvQAS+vY0NPj6MngYnybraiIWXzT4i6KHfBYDc3pJT8qJi0OAyiLRAP3GknlQ6t8d7RkV20/MXBcX7ymqqKvwSXEm2QMnva+vJ7Dq9LGn27Y3GAd7PLtr1cLRTyeSDhc05BRP1DZtLUxo6V8XUUqiIgWKcQagyEtRZnTsb/lJWOBN6elxx/A0hgCPFjAowgNe+pGsndnH82mRjJ2ZxzNoERyk5x8VPQtEQnRlohMhu4CZD8lLaZC+YYQm5fvySer2VUsmc/ms870kKrR+XRSM2fZFFhFe3rwa0QOlg09YE16MF37zomJ6iizLPJmSZpvrAx0ujY8OOCu3vJQR87q+mJDEo9UCKVZnu7qI5+3+UY8FevrckRYyo+JVVKRMTNVVb3/xV33fG9PmSI53SCRqyQpunRH+vQrvV/sddlybXyZJrZn5gxvD9qF1njyNva23RbJK2lDyRG7vVcdEdSc6nWEtvrKrdWhgqHGQLrv6a5mlEylBaQBQ4hqxPvjHNHsr6vd8EStOLZDBRfe4q64oL3FxVFnv2h9uC3yFytsttixpK+PgGYZTlod6FAUMUpDr298uGndviYL54QhdjIWtRbXTzRDUaEETy22K2p6q1Iy8zm4xLbKzsqr4LoaXH2eTqPM3fCFPkt5bqqIsq5urhg51jf7TvyOTBo6NjVlDfTOji/cmi+RZFpFW27D2iKJTC1O0VnslqUwS68WiECQ4nXUbO/Io/lJYlFMCrwXeWPoTtTrKUTjm1ZRkYaSVVJ9xF3pXgU/42pb16nx1da1ocYDjUPpvU9vb3brQ9JKf3Iop7k2JPBymlbtvlgQEwUXW3PGkXvzI/8ReDG4C4A4FsAjNZoouAx2DdolYNOxsCjNtvyM3rKEyLUapbN9l99/RyDzEl8koOXSSxXNenuqVoDvhozYkJ5rqNtQYbpLKqcFIv5dyQU+h8NXYEor+RRyok5hGLe05jiDhzo2MnC5NBhmP9q/WSgWwiGX6AxisZCf7t/WR7IGA756rq3tr0xhS1pyq7vLb1FSYCVvB6twF8jGhsrQuEdckqnWosDugqMFZA4Yyxe1qBnS//BUaFDzbudRJ5kp10CHjUYiSWPQkElyg5wUiExlEWlhtp5GrlOqcotXVGY30dLskL6xMCRt5kVt50UuVMXvo3VlnN0Eswl20wG/C7HqUtsJJ2Exlls4Q5xMSoBjiVom10j4DY91D0yszSwYON67+lgNvkbgczHedH+gfqAqWV/e15Be19DsVONXJRTY0yMt6wJHXhjY8dIRr99HWuJKPtvS3Vez+Zi36Qtba9W5/uK4/7gP7KUDFaJBz8rd+UfzyT25xCNZz2aRX8l8JpNMshqsZBJrYEnBCH83n1SpLM5TyEE4CulTliLnN2k62RWyNYImpyWFksFcguuIhV0AQ8G7PTgPxnIDZy57OEd4Q62Dsr2YQ4FP3WdTzj5iCexbVz3kx14C1Af2Vtix1bPpqS1lK7Z8rXfkeI9jPzVxT91Gn40i+emmjmP9hVqTFlyjjC8RCYUGg7p6/3f37Pjuodq6HY92iI4/5e7YWgFn1QH37wNgMStQtcfuNgvEDVq5HDx4HqKQKZInyyayqzOIDGGo2Ge0hfL85oDcz8VnBdg+9pzpcc/Ccwbc4rJb79LDuHAxWTyB0TsveQAuEDyB1pKTml2eLrvAF8LZklxgJNGL4zGpDAJu/rG0+tH6NI8F7lE8VqoQ0nAiTCt6am6PnpErr8eFSpVFD8bG3qMdNolMJNdE90eHYX/9KODJ8vnS2tMjuWJtpCNNmaZEZe5cQajL1+5fFar2WrWuUJk/K5AcEHM7hC0WYI8A2zzjPoONj5u7nsSu+AuG43pbtdxw19G3oIuDLYvVdFgoEuisOcnttReiZuZC3PDP1THRS+wCKNb6kRqnR5kEqCSJBHo8qob4XjrUOlYqBWKMlU4LSO06fB2crsWsb8M97Ta5gAbQJLFxfbcv1qEokrz3AckxtNqT43aXDKsjXamptaLIWE5JpNlXO6wyyEOjjb1ee6jdV1IbavZXBnL8hgBnD2Iaw8X1ENWfc0fjegwpdygybuxPGebTaZVu4UIe89W89zGMCp2MZ1juTmk+T1heWKjzdReqzkURPxf3vHGcszuPrjcW5WVqpXS0ScJgH723yaK+iQ/9F5KQCOiUip7qG2ophy7N8BmBQCgWcGHu7I+j7jmGtkADaH8ZrHTNsWODDw9FtrW3VzWvjQx+ebAwUiWuGoSfbY4Iu2/ntof9x0OHvUNrt4X2+W8L9ASa/TpjWSAjkBcyNiq8vhDPx8U2XHizqNlYDLE7B3ar0T+qcFFuVMVvhOdNYp9PkNWnOBYU5Vh7dL0JIy/hxe1848ONseiIKxoL24rr72uOiwzEmeSu4MSpnonakpklB+gqq3L9A0Sn3FgsN42aQOLipBtJ/NbOG/ggkDr1AEhdhYJohcdcj74jZCPBNnOkOM/Z5m8OVfjMzlCx7O94xX5bwMAdLO5CH5MmOBm4Sc5c++KBugURLIvYNfgtJfUAX5Gq06Uq+XwlThV85VI8lx8Ua91gtTbbasDBDQCqTMlmWzykVK2gz+lYlUCgYnU6Vi0QqNnLeTdDJnou+ElJQolSrNXykwRgwnTcX9CwBXqVQ+cA3GlKWltz9pgjzh7nZoDJCT9lbOTA+pxIbWXZHr+Mx6vdGRr0rfd3hvzeHHNZqNbvDsRBW7DtYHzOxaGLv8md4U6Ccumb3JvieBNI6euY+mtx5r0axTeOs5LDmUN3rvaTNNh0lQeoBTE40kAMNBaDKhnEsBLEoLxlMdxIWcXX+IbrSYmzXNQ+kFIrKvWksqzVK4y0GqyRMreryasKVfusUTdr8PPioljQ3rdipifjsxt/al8cOJJhxMVl7luw8gW2JVZe/RmNecxjPg9IjKNuT0F7e56LZUWARJ/LVTEmioz35kW8nortAMqIr9ffHQp486wVIa+/OLAEnQVNXYQo6jYBKIXyU4H1afV0EUze83HAqCiY2k9jY6/SUGzXAWv7Ert+i1h/Cs1cLgpOFh/Rx0EWw2iVJ9vTGBm2WlHh8LDY2+lGEa1c3BLqbfb43f7ycm1OKNnXiMQhrZ/hrjJYAIB0NRcKcjI4g0WgjP8t6qawLo2JLbd6VyV814uB02uTAcklIbNVTkzG1TV+MV3RsnAx5cuSbdlqfDGlmm8QJcskGLqlQfWF+Du3C7Er6Lsb41dQjVEmSeLBFTRAuqOIcu9ajqPdHk9VlbHFFLGvXy/ZLI0YVxn33h2RjEmM8GM/hPId9r3+zf4dO/JHQkFfi78hVOK92yS1h/L9loA6cG+Iz71b4qBeMMvV0fhkybX/6gBl4Y+9t26MryeNTyck5gxflgKw1gKsc/U3Vn0sMFuNabnA0mXE96zcbcYsxg0CaDBzDXLi5fhhWCZJDXThUY1Lob/5iViPxRo9EUvE2sdJWyq9dWnj/6mrnXuIOgA34irUgnrRpOdgVlFZESnOT84nHXkr8kiXWSxvEDuSHaSgLNOfSZZaG6yk0ZptJXUp9hSy2PB/2fkS6Lau88yHh43YAWIjCC4PJBaCAAGQ4E4tBCmQBBeQ4qLF1gaCIAkJBCgAlMLYSWwlluwcJ844cUVnTMdN6MaeJHNCSXabJjlnOuM5J3FqJ6nTzulJnG2yNDNVM3E7jR1b9Pz33vewcJFlt5m2M9AvAvfdd99////7//vf7V0MmGi9yQYfEpuELv9y0+Cm/+A18fimWaDy8f3iJr/YbBb7m9A77dSxzUbbGZVPzO8c3pBPbej1Zzr5G/tCjUzfRufw3RvMOLvZehAtxHlv/hVaX4B5dcvNF04awUPARyADv90IxC5JnoS5toudatcbDMTQdocIemCDkX0dheveO9BSUnsHt6BkMELPzG+159Zu0esPdodNyWev+PeWKx9ptDTfde/I/mStrjLU/b8PLE36mheeSp197LRLbWlm/D5fXTXTcvzeYUewmifTqH50frFtorXy/Hz74dbK0+fu2nrD6jFLH3tg+vxADf9DVQZXrHPsfVPuOpOutc7eSkvpmp4j3fuSU822wDF//YHOVnPlcOOB03b7XQdHV6ebJOLKrf+5kLUemPTMZaz7D9+K9g3wJVUt3ibj8KilfQCNmc6BDe8HG+6H/vhAb11LzcQmpVRSA9caqqnJzlDLgYkaQX1go2l4ZKN+rGJDSGAmqzcav5/nvfkCt/Bt221Xoq1oG5s25lqPeMcaji/27xPu01Md+jI+D/t+08jZQ8HFQas7PBxycMs6jYPBAadYoVepdQrhjoUdy7mrZ9yycr1SqVCIVQaVWGfSVfWfn0k2HbCpuZUeja3HucKtAL1FVnpGP55kV3p41OdhhPKAME21UPt77XZvu3fAy6e8ai9dNujiDZTzZJstjbrNmkaYzzYNWwdyU1jwPrIhhdzrFF7x3msitH3OxH+gaNLy0VGuQ902tbnNpFJ4iGus+XkiTX3q7d/xfMJaSk9ZKHOvwvBclX5TWvusSU0GED/ktiJ3bpBrUZePfB6cnVezXZ7yuia3Bf3lJOI/xNXPa/bVWcC3LQRLXg3/j8me/KaUrXavPfkd1ezCneK4goU4rgPvkWses5zdoS20UIFeJ9+n9dFlBi+yP7+9fKCcbtRu1sg20cmcGmT4RpM1t3qBwg7P+72TEFq6iPHvwPb6d7Y92YcO/8E72T6Pzn1Hw9j0NN7f+QZog3ahT/T2xm2rNnrecsFCz5svmOm4cdVIXynnXdXwRJrLGrpMwXuwjCcRPySmxXxeme4aOqZVc03aYNpQDdc/LSS7O3i99uRNsljL/XunXWz+NzpTf5Q8+5lzbR2pP0qd/czZ9g/WDFw4dvjCiJX75v008fzlkf4PXFtOPP/AcN8Hrr1/7OFzB7sXHj4c/tjZA93zD4M+n4dI9XXQpxFiVajXE+9Z7aGP9fDinlUPLWzgCfk8S7t0U++6Ruml7W0WgdC3YR82h9TjXRtCbvyA+gSyxd3FdgGc8I5d7ENea+fUEWsMJLB/3R999FTDQH+/LWcoCEcqnVLUODo60QSByvGBiq7TQ9bgUNg18tBIMHqgmveL7J9eGtRY2+1bTZypBP+Li0Efdh1s1I1c+tLK6MeSfSgKbV24O9K/9BDxSXod71raerV21eZpyKuUPu0atqv0TEiPvA9tSaFFyJPI9wpXWXfzOayTiF6nhWKRpIKxG82tXQft2z3O0bevq0ZR56iVCyAWp1R6hVgilRj90/tvPbHT5x7pGnAo+WUyiViG39maefvX9FdB5hA133vgytDVIbrSzpPZeXqaJ6B5gS9brS0tcvMmKiof9mx0SJ/WnOlY7qAnNLwOTYfGsG8jYBY6hw2s3UC/bduK38NL5S3em8VGFNzxfvhXfcfvHfFOH/IapEgVWePBo12e0c7ahsDU0alAg3VkZaKuv6NBL0Yr6RJRGdM65PUOeowNfdNHp/vA2QILQ3aVsVJXY0JvjFdZqnQNBxsbu12W+sZ90z3eu4dQJ6SWyTVyuVYpNlQaDA3tjHufu67O2X2YxUg4JVyiHqXu7T3U+eXYic3A8qbVqb3ngU2VSbUUiMUCWpVKG+CP3U+N3ROq3VgZ6DxxdmDk6UkP0FH/5+xnh49uDIw9oNowhR7aYHdfW/C2mIasU2iwY6DXZl4ox0OgFm95F9kg++H32GFQblN21/0vejtw+tsCXbBXucfoWDjFE4hk1TYy7XiA7Ic9UOUfdLmG/FUNNeLd0L69rZyj5wJVPp3O0DR9MRRaHmvYbXwsUyulUiU3Qt62PzY8U6U37WKmrtsbue3EIYdYXDns6E8dLtqUKxgj8yjH27+h7xb8B6qbmuntlKoV6iGXtEc6IuUrpNVSur5p00gp1ApaodA4nZRKU6s5qBnXCMo0TRv1oWrFhjHUzM5+br6EGvmpky8gK3pP+m/ifXWXbbcNzNuZgL47P0G5QgxwpWhqoVHsObUgwN1mUoD1FfxSiE5fTfW6JwOBljn/ZrjKvtlCtdQBKY6F50KnTon89vDGsVDHBgzZRqtChg3RIBuh0RwPze54XrKnQvwVz+jQelvxnIwdQu6xmHH7TV4OI35PfXAhyATquKmYtxVPuAq2WMhKW1kBKntDyL+W317CUymdfI/NqD1mztsxfvtthCn/PwlraTvvGXApMW2jP0FRlOIrFO/tt28M9an4E65W1tf4/xF8LYDen/IG1JuumhqXapPf5gqE1K6NnraQbsM2JiH7ry9BsOB58aomGr8jcPGLp+8ewCtGdW6eK79DkIy6tz72rqFgdRRcF7xCxajpXo83oNx0hY9tKvoUVUBUm2uaCocCoZ4eZsg3RA8dU7o22kLloPQJrhUh/0Lv6qDR4gtokabAx7avGRh2bL3upn/+nVbNbu1NcF2kJussPeatmgJ4eHyRymzbHSDeT8kbsKhJ4kW03/XkXyiAJqlUSFmMCqCTKZQKuXwv8HhiDu+tN3Zvt+JeaLcfp873HpzN9m+eut+x2bfSp67ctF+yH+5rsxsM9ra+w0Jq8dQ9yXuSi9KNBwfvD2VD/Y7KUxuLocGNY2OujX1juf1fAnULmRYByKhBk4l4wWoN63jvtDO8uy/esYcWWCi3qCPuLVheqVdv31uG1l7wBoe6xrqLAcWqWuvtzIdTr6OFHtt+Rv7Ou9N7tII7bByF9s2v5pDoITLh6HGDRA/Br/LR4/y5cF8+eojE0LLOUnf1+msPjG+ebTmrPHvy5Fkl3xze7GumNm3mqY25saHRA6HmkMvFdPo66c5xyrxhCwk29OwAhG1ceC2UbJpgo2Nre/Fi6Lu32R3EJV7/HQWevGHoQwZNLrTLi4zNtVb+2HuA/o4CG8xmRukXabfQRDXByGB/LyPWd69TaMl5XaW96vE08G1rDCM1rzWc71iTZvkZ8sqMhpwqQu/p5pddeGSevsd7hvkBWeFrhrRbbzTrHKe73KHW6oah+QNzqrpOp7XHUy2SqeQdZ3r6jrUZF2ddvY26juaWISf9M6lMKmu3Nxpc+x1Nh5qMjlovoyrXa6p0mvJqU23HcOP7FSZrhdvd4Ea+NAzaGYVGykfO5djWpfq16ro11Xn+mrthTZzdfi4HHy7KyVowXhcRgfFEmTbSApHlRM+HLzeG5rr1LqfDiPpsUZlQJHEPWsMzM4e9g3apCJ1O9UtUMkll/ac+Nn4+VC+Sl5dL5Sq5RK0s49tMZ+PxGGMTK7VofWQCJF0U6Skr1Ua5e40SU9s61bSuqV0ySfgNa4bzLWvyHPzkJfSb38vDfqfvKAHiizqTolwu9M3uC9zVWcn0nj7on2lEJzlVOrlwselwk7PbqlHWdbqck20IbhSehnwtnvBiz8D58UZnA69HIBbw+fCxddzvt3YP251jPVZvD9IiDFqcAm+yUR50ttkjWDdrNGb7OmUWCPhrHk+Fc405r11TStYqWOzJe4sQlbkBAPvmbe6FI4O+yCb5143oUybl1ke0TUNt1gMtFmmZWOVo8vgqHvmEfXA+0H9mf1VcEB5r6Gkw0AJhhb5poNkE3q/WmwxKeZngk48GU2POhuDJVkV4qtLdbUHe4qS/zbshqqbakQXKyymlYb3RXle25kvWrRnWGlNVGWUK9yk3yQ7LrZYX8puvuSGgYbe9v/b86j7vBgjEF/oqzTZD2YdlCrn0AYFMp1YD/NNS+Ddt9Ax6DT5tmZAW/lCmLKPVqtpmy36d3qDbcqKwgizC+286qKe783BrhaSsTKam+FQr73f0CcB+HzVK3U2d6PUffqKh/AlXcL3ZBWQz718XU2Pr5ul1m+BqV6rh8Jp+6KrKI+a3y+VM79X280evMhe4E1cQLG/+1c0u9tXS7/2g4FD+qzeJhW6/Tt2+Y5ka/sQ7lqnJo+iKPiEvmzJoLPumW6y9OpnKVf9pV6i1xjJwbnggerDa1VBjqavQGyz7plrMTfprUunTfQdqvbWqvn2Mr1bVvr/9007z0XBzX4NG8HO92tha7RlqqVQppeZyvZkW0Tpre529z18NYwfGGahVekzWbqOxw+kZ8ptFQt1nOw5oLe6Kjn1aS+NWor6OFta6TU6bpsqG/GKF/jZ9ToSiiLNX31C+XiVbp6o0DUblmut83ZIxI8xwy65dxQcXyJKH/fZLrvQ5vGyjlQsOHmyY9AjkOjVqiqhJgk8IfCd93RPNBvpnOdMfmJhobd36KHfNrxeIBDSEJMHWVzwu6/6pTtQSz9Lfpv5W+FpuvfUzVdS6tPbTJvUylja33qrdIVdHwXrrj8AzNZw0Gp1MoKiy28xVNrs5Lw9thu6KpuHjeavJZIU/FjPqVcAMr4yuS9VLuFq8Mrqzyle3K53nnteOs8Qi+Lgb/cKAVUMsoVxznLcamWXOEOwiKFkDvY0dkIK5xU9gy8bAAwcbDjdxF7qqSp3/dHP34WILHD7c5t96MI+AVCaTDrV6rPsPd7J96qMgpRbiIDp3s07VrEtN0OvUrwmzd37upp1+1DGaHBhNDFhsw+dHBs8O1i9pGoOt3oEmA/o+dob/egDm/I6RRLAvOeF2jpwbco111zGdYU/TWBeziPxgBaLCwyCLneqgmnvNtT7put6xTunda3XnpT5vrUBoXlZf8LOC4XNbN/NLk3utSuZwE7OrynqyJkk/zBw8tb/S42qs4EyK3vw3G1pP7+u9q9O0pKzvanRO+psmcDfDf31gOdwo0dXqt17jjqjTryFYAc4Wn2c8fsg52lPv7fmu31/fPcx6AO9FPF6p79XUVVKq9Urp447zdSp9zbI+k1+FvPVC+W1WIYnpyVFn3os0XyQok6uNWnVtnSMnuK6qqtzkcli1qjpjmYAn+IG8XC4CL5ebmyxbTxTbftzihDJlIhl+s2SAfpH3Y5DxIDpX07XOMG633LROyRuvNrdfNXUJbeelVzUGDPn2czVkMXHnOmI7jKQExYsO3OvgAt6P6/bN+Gu6PLUy6DJEAmkVdJH+QVfvSK+rpn3MW91sq5AJELYincUDw2V8h59tOOg2ylRq6HukaplQrVU3NNVaTUbHwTZrl9MgkSukOjUMX4QKtcJbXe+o1Fv34fE5aPc54WepFhQNqfpax7pWJatNOdZMsjVtyoVHVWiZCL8J8sKtF14tGFdt7wyLOkw0wEJ5vM+JyvTmGuWJMOkPuba4hq7W6j3mRpjDCGm+pFwrFYv4x0/w9qHO8BI3LLmEu8pXOrs0fIkS/4Yt/xree5JRckrzPPWcSMJHr87+8CWe92Zu3Er2l3g+bj9p6zuCl9nto60bmIugGriki7jM7cWl3u2qQ39b3xFavPV1Xvjbegm48GrefoP3DeExiItOytQrMzzP6K/LhDbzqJryHnz15e2BgZ/fBSsOFbxnca+hVwgVQlWlXlepEpWLdRZTpUUrFmstlSaLTsw7zk0N+K/INTKBUKaWv9lUZTNIJAZbVZVdL5Ho7aDZ1tu/5q0JjmKZzL1yw18w+m/L1I0gVZwCmdQv3LlUHxTKtNhYCqGyUqetUIoUYk11/p2xao2YVykibUfEN0pVEoFQopS+patgkDRMhakOvfRVh3YM+Qv0BWgjSKrKXrn+hsxywyk02wfUA9DMX2rhoc313YTalmPQ02eE8nKFslwmNEo05nKtWSPeeqwoy1HLv5+bLfH+Onca21Gcp1BQVBkVoWYEZwRTkNJQlVQ99EVt1AFqgEr2dh80P8f0M+3lzxl7jFbqOaFTyBiFQiPDb5E8p2x6rsUVfMYRCPj2P9Pl49c8I66ra9U/Y1K3PiP3UV4YTXJvGqu5BDnYk5+45j9Yh2tr9bdouUQuR7gjx7ZLDvnm/6TOHg4PfQh/bo1YHSMjI1vfwl/0uVonZN4y4C/eDfYefIzwP4outj6EPnlnrQ2jw9+0OgYmbk3UuEJjP2VccI9Gud2h0Bh6Q+MS/Zf0F4WvUhWAF54ZaJ7UocFCjXNdQj1phR5gzeEQVq0pLzeuQRMr+uUHsuha3rXzdwhQ4MC//GCvr9ezQ0r2OCX9RffY4v7/rqqsVH3rvvs7O+v2NVU+Mzh5z2Vbe53Gf+rEx55lutwm/o2O6c4qrZG+YdTOn+o8YhQxzX281q7Am3qrZ+srwdDW32ks6FcLD9Pfoq8LfwkjwOZeU2UlZX9SYXy8iv+4pwrIaVkrf9D5eFk2f/AM7w/B3JisKm07Q08b0dA5v53BLiMY6OuiMolz/4Rv8iMnW9ojD05Zg90eZZlIJ7H4h/2ddwesD1xoGWmrk0jK+P06aCYVRo1/9t+dOrMW75DDrE6s13uM1cbGiezwY48bzeQtR4T8EUC+Gv3Ogta8LjKIlEpKpF2rrOSXr0kvm9f46aLfWQCkWf8q+JUFHKItekuLnv1BA/qIcSuB0OU9IpPLZVt/wqs0yGRbv+CNGfmUiyCqMxq1/+Ayarb+B5bju/Q+kKMSZuLlEkouWKd0wjW5XM1fq7iszuQP/r6EzJ3/5QSElEVDgiv3own75NKtP+fVS+WGrVcrGKYCpLhHKhduGnVbr0OXvfV1iUwmoV8GCQgC36VeE/6EUsBIVL4uklyhcyPR8hxbtLTzGuJlqmUq6B+g538lkUolt4wshu3AQY3O2CvXKbH0ipKFjed94WYRVogRwNNu3HpYVYkY8pqMfLoJEPk25neGSCTQARaNMIrVN64LNesVtsuMSMXXVV3WZWQZOlNwhh5HXooISo7M2/GJeVFBOzBq/dp20iI0Ap2BqTXSW38pMFWaK/hbP+EZaxlDdXl/o0v2D/wtlZ0Z1JmJhhu3jkvKJGX052+dwIi9aNLXWG69TMNkUW+61Q4xGFntCkhqhHZr79WKateV1JMVSmZNKJTWrJVflhYYbtuJ7SL5DIaC89rt9BVn+PxQDKFj1tww+43HFy50tWvs6vi5YycEv+s+1Wfd+hWW6M8rdAJh+fKZrpBSQG998y6Klek6Rq+d6u+1qvzrRteTFsm6Q2F18C0WY9mTlNG/ZjUrldrmNfNlbQYvm5BpbRc3zDJ2qX+ivpkPpPnT2tvkRiHGYCCHtQs0uK53aAwKET+sqGnosA8TL7zONGqisWMjjR2VI1Lhs01+jaPu1NKxKfrnoAp0IH9c22rXbz3PeSdNqxYPh08ZNYM9X9Br6Kqmg0ohf+vNYYr39p+Kj9B28ZMQOcs2QWWv39fMh+Y3QCdufUr85BD+2b7H3ol4fF50F/rqTqIlO6j1thQvoF/cCfHbMV3/5yaBbk+6T/D9PAlNLJ3fhb4m8uToCqZr2+jrRfTrPIlnxd/KU5l2D5rH9H1CkqMF9Af/FJLW3IbW8iS7W3a33An0PCFF8y70h4iUA8pbqtfVV3aS5q7b0o8IlT+tDSPSHdRbcvQFjgwaTId30L076POFZFQW0YU96DeIKkZYejVPpu8Sqgyx9Pdm8Q5arbJVl1fbd9Cr/xSqGQX6w1pBbbT2PzMp5psWCaZWoCuWl+ragK7U/WP9+L8opesfK1GJ/hnoR4VkbfxXRBdKVKL/t8mmvgNatr1ke8musYcxpTBdtf8tIkc70DMlKlGJSlSiEpWoRCUqUYlKVKISlahEJSpRiUpUohKVqEQlKlGJSlSiEpWoRCUqUYlKVKISlahEJfoXpa+UqET//xJFUS30KQqdQYZ/tBqfnENpHlVJ29k0TSnpXjbNp3y4FEoLCsoIqQo6zKZFkD/PpsXUBfo+Nl1GNfIFbFpCMcIyNi2lnxI2sGkZdUT8DTYtpxrLati0QikqG2LTSmoYyvCwrBSvzBBm0zxKYYywaZoSG5Nsmk9VGI+waUFBGSElN66waRHk38+mxVSP8eNsuozSG2bYtIRSG7/JpqW8CeNfs2kZ5TI52bSc0pum2bRCzDfF2bSSsuXKqEE27lkNJTRyZcqxbHyKJ5CAAuX0P7JpYguSJrYgaWILkhYUlCG2IGliC5ImtiBpYguSJrYgaWILkia2IGliC5JWKCuYBJsmtiBpNaXMPasBTu3UsxRDtaBT4VQnpMaoOBWl0lSKysDfPJWFvH5Ipall/BmBnDikkpQH7gSoBBBDTULeArUI9zL4KgbfMSh9AT7noKSCGoLULOTEqItQYhy4xYDHNLWKUww1CpxXge8KrjEBqQUsCQN/KSizCs9ydTA5mX2UH1L23FUH5cb1R4DDMpRloN4I1IN4RKlzbNlhuFqEXHR3BeTL5PSZhvw41iGxpzzzGAeG6oPrWbiDciMYhWIdCZ8UqymDa1mBu1GsL4fuRXg2jXNWoNQcRo2B/EWcN0aFQCaEThw/l8S49uDnY7hEjFqCOhHKc/iTYSXiyjI4P4NtGgdZOOvl9UD3syBFHJ7MAAo7PaAb+0AEc57FfIhExBrI2gsgfQJrcgRrkMnV0g4cW8BKxc83FTy/nTPBLYJRQP42h3VEvM9hPOeL8NnprQv4egV05Uoj6y/BNfKEOEbD83/J66Ulv/834/ejIEmUaoCcDOVk7zPUIPaK1G39dAnuEw2IvhEsA8N6Qxz74DzkLuG6VuHqIqSy2E4ZqHUW0glcG/FchEccPhdYJAnXLNaZ1JnEGkexJkm2xSE7hrDV5iEHeewKRjiD+cZYW8WxzgSrDPaaDG5dxKORRZfZfK6WJdy2sxhFImUScpZwrYRnBiOZlwDVuIx1Ia2Hw57InsBehTxlkfVsJBVpn1EsfxxrnM35PcGM1ELsnGT1Iu17FpfMS1yoEULtffg5ovU5uPbsiGcOzG0Jc1jFOKyw7bgQb847k6ynp7GvZFkrZ3I+HMO2ZtgYRLQhMi6wZVB8fD/LPQtaEAtdyFkpgn0EtZClIr242BQFSSK4/ihbvwcjlcXW66a8QHO47SOrLO2Ibh42JnohvYqttIC5odixCrkRkJfEAI4r4ZnAbQRpPY8tSqxOeO0WQzMYg2WMNGml3HPIBsdxHQT3VYwXabnZXDTiSnMoRVlPRjq7cRtF5ZbZqFXotcvYJkkWLcIlxl5HWA+NYXzjWEMi3SyWg7Pz9oiSZZ8gnpfekTOf08F9Rz0VaSNzGNMs2xZJ/0Hqdefq2a4B8amLGKcobkG7YXaR1TSOe4IEjvmkZ9qJPXqGtLMGKO8sirC7cycyvFdsC+M3iXUMG62y2HLRoqixXYN8jNguV0+BDyBNiC4kdnJ9eToXh+dwJEriiBTZU1Pie5EiryLtOMV+Eq1IegW3F9J/zuFWHWf7PsIHlUzgyLC3j5JRRpK1TJ4710LiBTF2EUexOIszGnUocH8eY3Xg4i2HcrFXu7FlIjg9l+tttvfD21tCw7a4EMPjiIs4vsax9ZFVI5CHEFqAEtw9L8vz9La+3cm23ny0yMdGTpp3M3q6w9EKU7WNxyjHg6nOefNZyCN24ryGxOoEO8rJe/ftRmCcV+49CkOWm8i1nEzBKJrYm3hBjK2LROwka3c31jnNjo64cS/pJRZYO3N+TPxqmR03kBpSeBQSwXpynhKh8qPQ7fHs92CLHEIRrDvCLc7G+jm2rUbZkUcSy1o4povjsUkG+yYr4962hfRU8TgUrO0swGiuYLxU2B7umB+VH+NxpXePbu5t0Y3DfvvTCTxGim/Tm5MrP0fIt5p8T8TZ0E1xY1U0JuWuYwUesoxHownsb4sFPSyRehbLEmN7qpWcLQtjCbGhl7V4BreSRE4Grl0X+9Kdo1rYwxMtC3uaYp/OI3ER47j0Hu3I9QYreKxNkIkVSDCHP1GdeVzOQoloQd+RvU08JpF/DmvA9XjdRVGcjMYu4PRus8Ik7iO4XqZwtMr1E7vFlOKnMjhWEFvNsnrv3udG9rBoOqd9BntpEnMnrWjnPOC9egDXvw1RQXx3nBqAq6PQW07inBDkMRBFJ+HOEbg6BLmHIMcBJabY+w5sqaO4HxqCcjO4jyM8JuEzDNfHcYwboBh8ja5GoHwYeKFng9QxXEcQuE3hkpOY9xjkjsJ3kC2HnuiHnBm4RulBHAVJfWF4isxxQ2yfSCSdhnwmp2GxVCFcIyfZGFxNAv8h9m4AeIcwPyQ/qn8Ap8M5OQdYSQMYI8QZ8ewHiUbxFcqdge8JKDeF6w9gnYm0YazDANwnugSxBKhmD6srKYfwOcLeQTZC8o0C5bUKYAyGsDR5/PrhewIkR/wH4e407iHG4clDWNMpjF6QxQxpO4qv8loRS/VjbRCqCINDkB6Dv8EcdpP4k8gyWcCtGLuj+H6+FNEvwH72Y+TG8RWxRj++msa2QnfdrC0nsR7baz2KPTGISwWwxlM5DxnA3kuk57yT1DFeIAmpD9m2UBbOq5nbtBHChbs/w1p6Jy4I9QDGBMk1lat5L87QNp9lWnzNncxYPJpOZVLzWaY/lV5OpSPZeCrpYQKJBDMZX1jMZpjJWCaWvhCb8yiGYrPp2EVmfDmWnF5djjGjkdXUSpZJpBbiUSaaWl5NoycYxNnnZ+zoq8PNTEYSy4vMUCQZTUXPQe5wajHJDK3MZVA904vxDJMo5DOfSjN98dlEPBpJMGyNUCYFlTKZ1Eo6GmOQuBcj6RizkpyLpZnsYowZC00zo/FoLJmJ9TCZWIyJLc3G5uZic0yC5DJzsUw0HV9G6uE65mLZSDyR8eQA6Gb6I4n4bDoOjECNydjCSiKSPhJLZ9Aj7Z4WP3u/Cd/nCoNsESabjszFliLpc0xqnsiTg3UhnVpZRtnR1NJyJBmPZTyjK9GGSMYJIjCD6VSqmNVSCnQCVSPJDCiSjs8z85GleGKVuRjPLjKZldlsIsYAz+RcPLkAuEDRbGwJnkzOQRXpJMjrYUJZZj4Wya6kYxkmHQMg41moI5pxM5mlCJg2GlmGNHpkaSWRjS8Dy+TKUiwNJTOxLGaQYZbTKXAIBBhwTyRSF5lFUJyJgxrRLBNPMlmEA0gGjwDMSagL1JyNL2DGpKJs7H1ZeDh+Lubh4HVkmKVIcpWJroBXEbkRYkmwczoCuqTjGWTUWGSJAeCgGuC4ADmZ+PuheDYFCl1AKkUY8IElUhcCOroYSYNgsbRnMZtdznR7vXOpaMazxFnCAwbwZleXUwvpyPLiqjcyC06HikLJxEo0kplPJUF1KJU3XmZleTkRBy9C9zzM8dQKyL7KrIA/ZZHnomwkUhRAzsbczFw8swzeTKBdTsfhbhSKxOA7AoDG0kvxbBbYza5inTnfBKHBgqk0l5hHNbh3+hJYZG4lmnUjx7gAz7rRM1wFgNTFxXh0sUCyi1BpPBlNrEBDyEufSoLNGuJO0kYKigOH20lLmhR4HVggk03Ho8Q1uAqwR3C8ejACDXGoBbwTxZU08uG51MVkIhWZK0YvQqACG4M6KagKPleyyxAS5mJITVRmMZZYLkYUghR4ESmODBLHHrsYn41nUbBSTIPI8ynkt0hkFmo3MxvJgKypZC5scEZoYH0hlvRcjJ+LL8fm4hFPKr3gRVdeKHmaDTBOMC92C+yNiM3uEXG3SPYXbIlRVOIVBPPZFOiEoAGvTkCUw3AXx0wEZVHUVCgmkHEyODKB3gBBDJ4CxwZk5tzMfBoiIAo50CQWQGeEMWAFFoXHmdQsRL4kAiWCozbnZ3euBRIoksmkovEI8g9oZxA8ktkICa7xBCDTgDgWactMsWH7FSeWaA7HJWKHXcvhiIeyC9zNzbobkp67nYiDn5K6Ea806bagBtyIkIZuFFXj8+g7hgFZXgGFMou4wQLr2RXUeDMok/US0NALimdiKFimluMktu0pKmnwUCVpNCzSWIiLi6ml2+iImsFKOgnCxDCDuRREMyzL2Vg0yzlY3o/B+efiuOF1ExeHMHYhVtD7JlNZ1GRIWI2zzZh4Cnsrs4gi82ysqOVGChRNo+ozWXCmOJgo1wfcDgDU3oaCzNT4wPTRwGSQCU0xE5PjR0KHgocYR2AKrh1u5mhoemh8ZpqBEpOB8PRxZnyACYSPMyOh8CE3Ezw2MRmcmmLGJ5nQ2MRoKAh5oXD/6MyhUHiQ6YPnwuPQyYegJQLT6XEGVciyCgWnELOx4GT/EFwG+kKjoenjbmYgNB1GPAeAaYCZCExOh/pnRgOTzMTM5MT4VBCqPwRsw6HwwCTUEhwLhqeh8wtDHhM8AhfM1FBgdBRXFZgB6SexfP3jE8cnQ4ND08zQ+OihIGT2BUGyQN9okFQFSvWPBkJjbuZQYCwwGMRPjQOXSVyMle7oUBBnQX0B+N8/HRoPIzX6x8PTk3DpBi0np3OPHg1NBd1MYDI0hQAZmBwH9ghOeGIcM4HnwkHCBUHNFFkEiqDrmalgXpZDwcAo8JpCDxcW9ihKewSlPYJ3gW1pj+D3t0cgxX+lfYJ/m/sExHqlvYLSXkFpr6C0V7A9mpf2C4r3Czh0SnsGpT2D0p7Bv7o9A2ib7NkGitp6E1r47v947Dc6hUDPJZILbNqTIekjKB1IR2ZhNpteSrqZ/tV0ws0MxlLn8GcaPtMxSKPlJjczGskm311pLAMPywF/1Z+Bbx0Rqfqq71L1J0WSxstDl3+r4Inppy5VfwSy7qN5vGaZTyISupR8ulJI+SIiqUvEE/AuddA8wVNTvsM+d0FO1Wdr7qui9mEax4ExhYcqqCM9gMhnKWAm0L0Vsd79+Rt/09q1GRoVvZn9s62vXat46lLFjO+S4L/4LvG/8BSf5tG01g8ivviBFsO9H7wlJDi/6FPkpOUJQa6LWEz+jECkpWemmrU+Dboo00qPRjKL8eRCNpVsVvuUKFOsFU/G5pZSybnmGl8VypFq9btu+DRbfLXoPl9bkb8/HV+KNU1lI0vLzER/wFdjVDS3+7p8Hc0dbZ1tbXfBZWfBpe/+678XyRQ+Gbov0wrGxicmmx0+G7msSfbHl9Ha76GpIBOcCnd3tHQeaupvbRtoGugK9jXbfPVEo6pdNZoiK+i+S7y6QoR5Qop/iaeiIF9KX+LxqEeWn1SefPrqjT/57TNf+pb/Sz/5iqr+cDJT9qvwGzbboy/PHvuv37j/i29d++nf3HvldfePf3PxQ0+1Vhi7Hhqbf4I/+HPT93/2mwff6LwuqH34Ed0x9eYnuo6/8fdvNXQd/8iFS+eEwcAht/tS4u/uVb71ckC28sk3E6NPjl3/xI/us79xzwfmf/vEZ+s/7v3++ZmNZ1+JfudTtmuu1/Z/refCT+nKX3/pxNAvNx//TJfO/2eP/J9irjwcyu4Nm8UuZJBEdsY23hlkCyFb9jWF7PuaZGthxp6s2WVPSHbis2QvW4WEkiWRPUISym+Gkq+vb/n98V3fzHXNXM973vecM+fcz32f5zzvvHJqMz29GAs9aM77/vDwB0b1sQVPfIqVpnl6eV1fhWCIz7LOdRzpx+esXa5ZPaYgcgsfKHwX7kERtOVQg58EgmAo7mQQiKn5JrlWWpYOUYgQTHgkjx9eXYn2CgIJRcVqBpiAIVg/ysaAiLEjgg8wYoeUkRxKC6W2/tTHcB7WiZwFcznG2ySP5h4r69zFECMblA6g9aNmE9p4qa3gSrJ4astjq5y3pEW4nALQxZ3ABFUDVADlDMUM+SC5b5vuFm6OP2VqXB3scEcFvuU8LgnsTyNuFncnEYtKBPYUwICACOuY+PiEIBBUFTgDKH23AXDQyW8NeHp6/qoBK7e/qNkdgOH6ywElA0i+Vwkh+skhITiUOGbsGPV41w5OFxGM1zKaIx3WU2zy3pPYSnKk+p0mUurO71GdGCs4AfNcycw4TM+weUXslExB0SCR4TXGuq7Fo7lRLeSONI3w1FMR5ZeCFdU1mSOijYM+VEBQaez90gS3OeEY5XGhub7xF1UpZWV008XW8qA+cZJy2/ceMJSV+KDKfdNJ8RFfnyXosOC1nSOF1k4+jWV6RLeOvW7OK9WyoEl7Gsstr/pZ/L5j+LrIMDxjgfy5Q/gyq6WV2aNSHhQne2RAtQRvx6sZ1y/3rlyu4VflellrFDFdEbtSKjRTlL0qjJ5scCZ3MHXLGR/pIKh/Ga9n6nDRlis5W9Uc/3Ove/m1NQBDAMLS2OwBGmudDd3wQWvO7uzSWOvBUSPF0tj1f4Us4ADnntMzHSy3tGLWsbPZzXhgJxaX90buspkIIIpEogDsW2iPzX6YgPu/0r9v5ZA/Kf9bNgq5Uc3eQhiZ7OdNs81puu0Wwre5lp0QEq9Qld1lEiogLog4Hu21eTWfCQOq9Omir4N0Ksy3JX3agjKuBJLssDpnrthItnHRTcGZPkJjZSwW3tbQ3FyEJQuPirrqukgsFMoTA8pNDyOBJLIuj45Pl+JoPXvDamMfEwUyLx7PE/5wsXncHU/lRt/r6PkBr6/hm4WmIZL1vzEVmSc0tAWURhUNFPM+190SfvXkYsy74zsLFx26fIk83McptZT6P+C1K6lmEwpPnTv05ert9nfn3wZ+HEimYIq4OxlwpGmgM50R9PiLUi4sRjCBRQm10cyehVf2UKfT35nbEL0k6uy3WrsAI53/zkZ+2BG5ukc3HDi62VdmVSLQvqdCDtBV14B5wDNTsbkdm2ajvvbagqoWWCKgjSs+DMVy0R1FQP5npRECUDgTH8aLEgQAJIrXQhQQMhe2MuMXEjMX4hdCCYryiwqeQPFbigojrc1QKGEha4vfUaCSs+WUJv5zzL0jIiKslU55nZfBcX9Ogb9kKBfXS7ssiIULFsdYFGMBjMOvCe6DHxDhB0R3KdDsAAXqAdjVygEKlP/bBr6z4F804Q6Q4ToOA4F2oGAA7yd3hmDAIDwCWqbhs82a7WwaWVpeg4sbX57Uv2j88PmY/qJOu50i/ovWroWJ7STDOJPDovBGfHnYeLJ3SJ11wXDtPFiPrUqSzUvGqWjjA9752KQbDN3EcT3JDKeB/BzaxzWKhh95hcLSIw1EWtQZilk7KZ8MYSjzhZeLWNsj2e+iw8a4GCatGUOlEDtnIWpNzv4ZqPmKcgFNfWOCUpqb7YwWVZfI3g74cFLwxMvnovyl4qXOKnuyhX4tpXx8Y4qIRquN9zzSUMw+Pu9OiEM83OVDa9FcvfyRbnN1dKUuvWJEYo5TozPXow0upvZF5nzS0g9PSZNjJ+xT7fwzTww6MX8NfLHTUp1wgvirJHVTInV+Y1D3EqapQI9djq5SKdArqOdzX6r00ZfUodPh6bbsIbYS+Y/91DmniVhULb7cvkWjJlipb6oxeOY30YgdxEipyR05hw6vZ6W1DpH+jsFu9+ZyttJH6AfEti07nKSIpq76lxbWZddceRavf8fHoItK0byPZWn7ZCuS9JOAlGWOiIuppnTV6SiNDNKwh9cN1h/bBJsNpyW2tt/sclF804iIXSxdLwGcFuyV82bjPdrriVq/SnwsuiRCUKb/7Gh/7cfYzmCGFT97kMaDY+hL5c8NWaXFDejGQt7btCrnCrzmCJO80LMgdDqasS6azAMjtdQ6xJ8JBUcofV4aAT+DZGFFgBArAkt7IkBiRmsrtMv9DD8vYU126ZSEOIYz9NYKnyXoKC0Ei0bkUeDI7w4S74MVC0PePd5k/8Gb2i4uWPLEQtfO2s7CzN2KWeayu62Lm527N47cARFACBBEooQFATEsuaOQu6YggDP/uzX03/F7eqZj6diwUgzPVQfE0Tf1E2/bkrTYNAufjtCps1O8783tVS10B5gPzxO+0I2jUY49JhtTlGgEcL7Cc5i5Ur8QSkjxiRyauBzazdQlyB6curJmw8C3fWU6hHFuWj07s4lNpzN8U/4Zcc+F4p4SWWjW57uOt2wG4a8VdEqCeqbgCgiu+0EaetpkkxC+LfuoKMA5ePUckLp5fSChfIYl4fpGH2yVqErHSbtCPipdCe+MovVhLm7rvITJ5wToM1mfA3IPK1ITY9IDFvW8voKSGTWJAvEoAYXFqlE2hdpWft304uNeMkjP7pQxCf9bmWbgSsZDpdufUspAT1lVdHc+47c0M5N+5/cC7IjkAhT7jIMPQLBfB/j8l6tLHH0zUkChWPwFAZQExN80gQaEO4IHoBP3uBkdBaDD/ajJ72NMT+lzJUxxwLZ53pDoxJ2bvJNpccfsX4cnhtK7kDbzTEZOoeolgzVCGMIK0NwTBWUAq0MZchkyQdL/fF28X4y7lQxH5buCoHtAEJQABeD0AUEQ/X/WxLjfIbdX6z9cD2PHmjLhRosR5PSJkdmKQs/hp95aaqBShPtFQycyWMHTh1ciqxH9VFk3ncyrz4K71JlhmkkjPqcmztYWGyQzvGEEBd2v9VoJ61mQAL2feBhJgt8erjSxrEMzolEQMzkdbv/Cr+ld7AqBQCBkNpqHndV1a3170isJcegT4YRrHZ16aoQDiVtcdabYbRv+Ni3yOXMjadrEMGbpCUJ61Odu5BkPpCSvG2n7nKvkTiAJbKyZxCxiebD6yLx6mG+bMO+F7Ib5umukslf6ddxY3gOdtV5WRoagIyTU5H2vqBM/nvzN2qCcX2D6c2BQt5b+TKprrON9MdX+de+Ge3Q+5txLWSncQgSe9OYdksedmDDLpI/5ap/JlU99XrhW+fZOnrtwtXrbRTYqTg/Sk9o3L55XkKOuKy8vUbNpT5fd8fNm8UujAaxnZKku0LensbL0yM3yztauKXXz9Q+h/FQ5eZTYTc7P6S/dHU1K7RR3qUdzuRMcfu/B0pCCaeLSfVBqLxma6WFW4ZwJu9twT3GZyuXLDZRj2dcxrfabbB3W9amMwVSWYEn+4nOR1ZMsU5UlnRYVXrr4/TIIzfuxJTleBeUZ8ZfpX8YEwy6zCqDyiJwzDG9yNGQsBXSyDMwf1+hIfq88/glk5RJKeq3drv2d81xuwlMk9w55m6HRkNqxzKFNgTRphB6tQwcs+wuAIfQBMPjm36WAPKpv79kRP4cB6JB/hYpRALDnkNz/xCF/RARIrGyIogBhsT3ROLFrIgGc+Z9HLBjwH7UDjNMOMFY7sD5XsLzpRsmAKBxyvoehVBOqWXlgwJIue4zHYfa85r1qAlF6qHKNbwvZ8RERh0dUQ6TLos1JBCXtYi9A1EjZ56GHvC2Dr8easjsWpynfnrW90DeWolNGwtdS/DKft8iHuHgw/lynKT3+rLXHDEqbk0pguoBI81n56SrjoVYE5HKB7WqX06q4USbtmkLNuKjlfWdLYa+7GRYU/M9P3dp4O0p46IWRd44y9/Shhxkwz4exkktbb3nPUzKp6cOzfNzGqcSrlC8MLS7KRfu/vFJ2JejYS6nSm8YzoRoB9CuZAucmoyT4iwQN2qqkvqKel0MkS8uKY0Sv96X68X1U149mEeZoEXO29NWpuU1ReJQtoGutBhIU/slkuUe74WZscF0jizuHCR38QTcXXJQjUezMiWdXS2OKGNhy860XzJjs38CVU01CJjiMn7OoSGm3Vp6VZocs9/oYCrxge+tqTKGl4Fm+gfem7j4YYzLcSFNef6xfT2VaLJNilk25jq769FX5yaYWN59xt2n2sQaFpLalZoazw/7hC2rKQG5BxNiCYXrx9kiJ9URTAvrK4sCiyrQydy4Mfjf3mo3fuxvmXiZlAgGDZ28bNXjC4R8WnVrgkXyRp0Q0mt4Eng5tJVZt68+RE3CP++S84cVswAczNo1LltIQDHhVEnJkNE19Lb6kTiHDMbFvfCDk5r52LmK1c/YX8vdDPH8Zlxzdv4AaDCU7ToKns5vxkcOT+b2u/kGUD0Y8bvziYGSU3G/U+Opv5nIfI3vZQoWA83vihttC1chQy1AJUv6/Nn2wfov1Wqyz7gclJoCgCQq1K3MXDsicNqAJqB+QOdl/JnN/Ub87gE7HdZ4Zik4A0LEAOnp/kBAQAO0PSH9vDgyiFfy7MAt3OzL2l9k5mbl5W7heQti6OwGn9isAA0LHUcyMeKp4uId04JJrJrvJtb1krDfWuvQtTWy1nyxHMDP+KhCzWQnKSRzX9aZHPB9yt2FNIY0//MYiJkk2/lqfN1lUk5UJgk9qo8Wt18n/60PpGZJOiQbF/OxVu2GLBlbhnARjq4Coa2EKmnpDZDFX++hVGFZPyoZp95R8cXgrRYjgTnkneSynv5LRM1ZsYtay47Sklw/bKuza3Sh3//C1Lk6wAk/zDcraO/n4ZCmLtpu2iLgMHmkeBwNlCyZiO+fzifGT/muNkasKvKPbEj31wkvOHEVTxVyLPSOr5MVJ8IRENXJJ0hWi0AGmFhTdxHIb/1PDtAplMZJHJM2PCoumyl4O04RoyRuIoi5y0fuWrnFtjPKJM9sllp0LtXV2ya1ybzmFT3AXxAOXwkjD1KxJG8vVPr6J9GVwobkmn+sxdYrHKrvFWNs8qIXR4kRC0Nir1Y0V2sxkrjdPchJ63htbyLw1JLwdLEXgSdBLUHqZifqhmVnl8utHx6APx2Qek8Pfj1oJLCSsZxrFD+ENZCrUn1tNyCFWUaJM8mPqweNuK03JkZb3PC78qC8rK93Hh3VTKY6pYEuRze9j2kaDQ5VKwsT8ZS/6hTmRJG86lZ2Bcjbby++KN7fD5kn95uwkireBRahqxNjYZSeLaMneVH11jQa/s6yZXodRLD5LMiSl0lt53XeMmzJDUs5e1FdXkm+U7UjxMCTxU3L44p3eVO/kZN+hfQl2yEfzCRIDLQEw0PtgEAhAx/3XwvXr7cAfyZEMdCuOfL6BmBiCJDuYecH24odFiiQHDpbSAGw/LoQisdQW+Wiub+MDUQsgWNtqU5kcRJa7tAxYHriEDKkP6Gbw+MF/eQ+f7h+fsZDJ6cf+p56tu/93AuaftBmKAeH5m1qmaslHIpqzk8qLGUq4XF0JKK53O4bFu3jXMbEpfXT80G82arIUq8bDaWeNjmpU+7qFv9ksagbP5hoxvzLK6s/Cs361bpDN2kjdImhq42TCwD35Anabp9veMi1p82lCPIyxZX3FKOlo7qiFinszFnSZg6wZDugRtr5YX07pD2oNqw69GONnlcL8EOZ8FVVaeRIie4svdogi8yfTC3P4tylUn4zmZlVL3OuVfTfd5JxFf/1oYh5Tp7zUTi6p4oxxyhozUbs/4jX4wSr9mQ8wA6sEuGbrwrz/wqXZJTJy+NIbMfqsW/MpxRwy1tFWfcFV6PB6LypjtBOHz4m13sBzMaGZGDAcuzxh/zFHBEgMmAZ76PAuNCP+s0D815m2A5g0BugOQpL0R8YQhG18vwQfSbG7cXwCKYxC4l7n/4BIwcrjU+J9VM4XEqEj669iX8ZuE734KWTCYcXaZMTn9ZdN0cjCOHvSOs9uWWWATclguNzI6NPF546nO+HzKwLW9+wuLFC9m+ykdFnPHqfqMKarun1o69xRmWUB8WdL/cPmd9eUBe3vMxfPGNmbhKv1dCCs+E89ktMQ8S2oiLuw88RZsPXlci4GMQB5PdNWPRfkQQan1+qUEZ/+JGyhaSMNWYVFMhtW2rIyBi55UMT4CIyelLgW7U+XHP+oWWFTH33oZM3UNLvm/Lp9STjnRWEVCrD+qojvKzdTEi5Kxi+vbDVCrlNKLSsYrScOVqKIzS5MKlJGpJrmpqMJ9CCkx1fzuukq5qN8vZyEX/mOeK5EgStY6N2mUdqPLX2XNB7h/Q/1OLL+DQplbmRzdHJlYW0NCmVuZG9iag0KMjggMCBvYmoNClsgMFsgNTA3XSAgM1sgMjI2XSAgMTdbIDUzNSA1MzVdICAyOFsgNDg5XSAgODdbIDUwOF0gIDkwWyA1MzJdICAyNThbIDQ3MV0gIDI3MlsgNDI1XSAgMjgyWyA1MjBdICAyODZbIDQ5NF0gIDI5NlsgMjk5XSAgMzM2WyA0NjldICAzNDZbIDUyMF0gIDM0OVsgMjIxXSAgMzY3WyAyMjFdICAzNzRbIDUyMF0gIDM4MVsgNTIxXSAgMzkzWyA1MjBdICAzOTZbIDM0NV0gIDQwMFsgMzg3XSAgNDEwWyAzMjldIF0gDQplbmRvYmoNCjI5IDAgb2JqDQpbIDIyNl0gDQplbmRvYmoNCjMwIDAgb2JqDQo8PC9UeXBlL01ldGFkYXRhL1N1YnR5cGUvWE1ML0xlbmd0aCAzMDYxPj4NCnN0cmVhbQ0KPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz48eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSIzLjEtNzAxIj4KPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyI+CjxwZGY6UHJvZHVjZXI+TWljcm9zb2Z0wq4gV29yZCAyMDE5PC9wZGY6UHJvZHVjZXI+PC9yZGY6RGVzY3JpcHRpb24+CjxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8ZGM6Y3JlYXRvcj48cmRmOlNlcT48cmRmOmxpPlRpYWdvIEFsdmVzPC9yZGY6bGk+PC9yZGY6U2VxPjwvZGM6Y3JlYXRvcj48L3JkZjpEZXNjcmlwdGlvbj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI+Cjx4bXA6Q3JlYXRvclRvb2w+TWljcm9zb2Z0wq4gV29yZCAyMDE5PC94bXA6Q3JlYXRvclRvb2w+PHhtcDpDcmVhdGVEYXRlPjIwMjMtMDUtMjJUMTc6NDY6MTIrMDE6MDA8L3htcDpDcmVhdGVEYXRlPjx4bXA6TW9kaWZ5RGF0ZT4yMDIzLTA1LTIyVDE3OjQ2OjEyKzAxOjAwPC94bXA6TW9kaWZ5RGF0ZT48L3JkZjpEZXNjcmlwdGlvbj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIj4KPHhtcE1NOkRvY3VtZW50SUQ+dXVpZDozMzUwRTg2Qy01QTExLTQxREQtQkNCNy01MDNBQTBDQTQwREM8L3htcE1NOkRvY3VtZW50SUQ+PHhtcE1NOkluc3RhbmNlSUQ+dXVpZDozMzUwRTg2Qy01QTExLTQxREQtQkNCNy01MDNBQTBDQTQwREM8L3htcE1NOkluc3RhbmNlSUQ+PC9yZGY6RGVzY3JpcHRpb24+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8L3JkZjpSREY+PC94OnhtcG1ldGE+PD94cGFja2V0IGVuZD0idyI/Pg0KZW5kc3RyZWFtDQplbmRvYmoNCjMxIDAgb2JqDQo8PC9EaXNwbGF5RG9jVGl0bGUgdHJ1ZT4+DQplbmRvYmoNCjMyIDAgb2JqDQo8PC9UeXBlL1hSZWYvU2l6ZSAzMi9XWyAxIDQgMl0gL1Jvb3QgMSAwIFIvSW5mbyAxNCAwIFIvSURbPDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPjw2Q0U4NTAzMzExNUFERDQxQkNCNzUwM0FBMENBNDBEQz5dIC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDEyMD4+DQpzdHJlYW0NCnicY2AAgv//GYGkIAMDiFoGoe6BKcZPYIq5B0IdBFMsnhAqFUyxckKoIDDF5gGh6sAUuy6Y4lBmYGACminOwAqh2CAUO4TigFAsEIoZQkE1cAK1c7LAeIwQigkoyHUabDRPMpjKvg+mcm5CqC9gqtKGgQEAzdMPVw0KZW5kc3RyZWFtDQplbmRvYmoNCnhyZWYNCjAgMzMNCjAwMDAwMDAwMTUgNjU1MzUgZg0KMDAwMDAwMDAxNyAwMDAwMCBuDQowMDAwMDAwMTY2IDAwMDAwIG4NCjAwMDAwMDAyMjIgMDAwMDAgbg0KMDAwMDAwMDQ5OCAwMDAwMCBuDQowMDAwMDAwOTA4IDAwMDAwIG4NCjAwMDAwMDA5NjEgMDAwMDAgbg0KMDAwMDAwMTA5NyAwMDAwMCBuDQowMDAwMDAxMTI1IDAwMDAwIG4NCjAwMDAwMDEyODkgMDAwMDAgbg0KMDAwMDAwMTM2MiAwMDAwMCBuDQowMDAwMDAxNjA4IDAwMDAwIG4NCjAwMDAwMDE2NjIgMDAwMDAgbg0KMDAwMDAwMTgzNyAwMDAwMCBuDQowMDAwMDAyMDgzIDAwMDAwIG4NCjAwMDAwMDAwMTYgNjU1MzUgZg0KMDAwMDAwMDAxNyA2NTUzNSBmDQowMDAwMDAwMDE4IDY1NTM1IGYNCjAwMDAwMDAwMTkgNjU1MzUgZg0KMDAwMDAwMDAyMCA2NTUzNSBmDQowMDAwMDAwMDIxIDY1NTM1IGYNCjAwMDAwMDAwMjIgNjU1MzUgZg0KMDAwMDAwMDAyMyA2NTUzNSBmDQowMDAwMDAwMDI0IDY1NTM1IGYNCjAwMDAwMDAwMjUgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAyNzYzIDAwMDAwIG4NCjAwMDAwMDMxNzEgMDAwMDAgbg0KMDAwMDAyNzYxNSAwMDAwMCBuDQowMDAwMDI3ODY1IDAwMDAwIG4NCjAwMDAwMjc4OTIgMDAwMDAgbg0KMDAwMDAzMTAzNiAwMDAwMCBuDQowMDAwMDMxMDgxIDAwMDAwIG4NCnRyYWlsZXINCjw8L1NpemUgMzMvUm9vdCAxIDAgUi9JbmZvIDE0IDAgUi9JRFs8NkNFODUwMzMxMTVBREQ0MUJDQjc1MDNBQTBDQTQwREM+PDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPl0gPj4NCnN0YXJ0eHJlZg0KMzE0MDINCiUlRU9GDQp4cmVmDQowIDANCnRyYWlsZXINCjw8L1NpemUgMzMvUm9vdCAxIDAgUi9JbmZvIDE0IDAgUi9JRFs8NkNFODUwMzMxMTVBREQ0MUJDQjc1MDNBQTBDQTQwREM+PDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPl0gL1ByZXYgMzE0MDIvWFJlZlN0bSAzMTA4MT4+DQpzdGFydHhyZWYNCjMyMjE5DQolJUVPRg==\"\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"0afb339e-3490-4237-a80b-fb4ea3dad7ae"},"Entidade Sujeita":{"type":"object","properties":{"Firma ou denominação":{"type":"string","example":"Loja, LDA"},"NIF":{"type":"string","example":"123456789"},"País de residência":{"type":"string","example":"PORTUGAL"},"Natureza Jurídica":{"type":"string","example":"123"},"CAE":{"type":"string","example":"Não Disponível"},"Identificador entidades jurídicas":{"type":"string","example":"Não Disponível"},"Morada":{"type":"string","example":"RUA Castilho 1234-123"},"Distrito":{"type":"string","example":"123456"},"Concelho":{"type":"string","example":"123456"},"Freguesia":{"type":"string","example":"123456"},"Endereço eletrónico institucional":{"type":"string","example":"loja@hotmail.pt"}}},"Dados Beneficiario":{"type":"array","items":{"type":"object","properties":{"nome":{"type":"string","example":"David"},"apelido":{"type":"string","example":"Marques"},"data nascimento":{"type":"string","example":"17/05/1988"},"nacionalidade":{"type":"string","example":"PORTUGAL;"},"fonte de informação":{"type":"string","example":"Certidão permanente com o código de acesso n.º 1234-1234-1234."},"menor de idade":{"type":"string","example":"Não"},"maior acompanhado":{"type":"string","example":"Não"},"Interesse Detido":{"type":"object","properties":{"benefeciario":{"type":"string","example":"Dvid Marques"},"proprietario":{"type":"string","example":"Sim"},"tipo de ativos":{"type":"string","example":"Ações ou Quotas"},"capital social":{"type":"string","example":"25 %"},"tipo de detenção":{"type":"string","example":"Propriedade"},"estrutura da detenção":{"type":"string","example":"Direta"},"direitos de voto":{"type":"string","example":"Não"},"controlo sobre a entidade":{"type":"string","example":"Não"},"direção da entidade":{"type":"string","example":"Não"}}}}}}}},"file":{"type":"string","example":"JVBERi0xLjcNCiW1tbW1DQoxIDAgb2JqDQo8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMiAwIFIvTGFuZyhlbi1VUykgL1N0cnVjdFRyZWVSb290IDE1IDAgUi9NYXJrSW5mbzw8L01hcmtlZCB0cnVlPj4vTWV0YWRhdGEgMzAgMCBSL1ZpZXdlclByZWZlcmVuY2VzIDMxIDAgUj4+DQplbmRvYmoNCjIgMCBvYmoNCjw8L1R5cGUvUGFnZXMvQ291bnQgMS9LaWRzWyAzIDAgUl0gPj4NCmVuZG9iag0KMyAwIG9iag0KPDwvVHlwZS9QYWdlL1BhcmVudCAyIDAgUi9SZXNvdXJjZXM8PC9FeHRHU3RhdGU8PC9HUzUgNSAwIFIvR1MxMSAxMSAwIFI+Pi9Gb250PDwvRjEgNiAwIFIvRjIgMTIgMCBSPj4vUHJvY1NldFsvUERGL1RleHQvSW1hZ2VCL0ltYWdlQy9JbWFnZUldID4+L01lZGlhQm94WyAwIDAgNjEyIDc5Ml0gL0NvbnRlbnRzIDQgMCBSL0dyb3VwPDwvVHlwZS9Hcm91cC9TL1RyYW5zcGFyZW5jeS9DUy9EZXZpY2VSR0I+Pi9UYWJzL1MvU3RydWN0UGFyZW50cyAwPj4NCmVuZG9iag0KNCAwIG9iag0KPDwvRmlsdGVyL0ZsYXRlRGVjb2RlL0xlbmd0aCAzMzY+Pg0Kc3RyZWFtDQp4nKVSTUvEMBC9B/If5qh7SGcmTZtACex2P1AQFAsexKO7JwX1/4OTNlkru4JiC33MZOa9N+lAdQtdV930V2vAGGG17qHa3Ts4fGhFcNCqZYNcQxOsIagbNDYANyZgDe/PWu0XWsHmpgeYMVFmetMKDaYnEANCI9828Nj4sIBXrVaDVtWWgMmEBoZ9EkV5CY663gQPw4tQJTtijmh0h7DT6rFDdG1k7pCabeRaEDmyFSSMTAk3U94tp3y7nmKpp5DOc77U+X6MEe0Us481T33kz5z7MPXnPLnM3zbRJgyZPxQ/GaXehkmXwkxf+gr/qFd0xQfjly7KPNYJEo98QpBRfLh5XRutn81dfIqvUb/cV76Po+4v5hrx6H95/l4Kv8P4BMO1Vhv56Xda/Wc7XEr5k+0oO5E8fdM6WVH+44ryOROWTc0/mLiAy1MHn4PKsSENCmVuZHN0cmVhbQ0KZW5kb2JqDQo1IDAgb2JqDQo8PC9UeXBlL0V4dEdTdGF0ZS9CTS9Ob3JtYWwvY2EgMT4+DQplbmRvYmoNCjYgMCBvYmoNCjw8L1R5cGUvRm9udC9TdWJ0eXBlL1R5cGUwL0Jhc2VGb250L0JDREVFRStDYWxpYnJpLUxpZ2h0L0VuY29kaW5nL0lkZW50aXR5LUgvRGVzY2VuZGFudEZvbnRzIDcgMCBSL1RvVW5pY29kZSAyNiAwIFI+Pg0KZW5kb2JqDQo3IDAgb2JqDQpbIDggMCBSXSANCmVuZG9iag0KOCAwIG9iag0KPDwvQmFzZUZvbnQvQkNERUVFK0NhbGlicmktTGlnaHQvU3VidHlwZS9DSURGb250VHlwZTIvVHlwZS9Gb250L0NJRFRvR0lETWFwL0lkZW50aXR5L0RXIDEwMDAvQ0lEU3lzdGVtSW5mbyA5IDAgUi9Gb250RGVzY3JpcHRvciAxMCAwIFIvVyAyOCAwIFI+Pg0KZW5kb2JqDQo5IDAgb2JqDQo8PC9PcmRlcmluZyhJZGVudGl0eSkgL1JlZ2lzdHJ5KEFkb2JlKSAvU3VwcGxlbWVudCAwPj4NCmVuZG9iag0KMTAgMCBvYmoNCjw8L1R5cGUvRm9udERlc2NyaXB0b3IvRm9udE5hbWUvQkNERUVFK0NhbGlicmktTGlnaHQvRmxhZ3MgMzIvSXRhbGljQW5nbGUgMC9Bc2NlbnQgNzUwL0Rlc2NlbnQgLTI1MC9DYXBIZWlnaHQgNzUwL0F2Z1dpZHRoIDUyMC9NYXhXaWR0aCAxODIwL0ZvbnRXZWlnaHQgMzAwL1hIZWlnaHQgMjUwL1N0ZW1WIDUyL0ZvbnRCQm94WyAtNTExIC0yNTAgMTMwOSA3NTBdIC9Gb250RmlsZTIgMjcgMCBSPj4NCmVuZG9iag0KMTEgMCBvYmoNCjw8L1R5cGUvRXh0R1N0YXRlL0JNL05vcm1hbC9DQSAxPj4NCmVuZG9iag0KMTIgMCBvYmoNCjw8L1R5cGUvRm9udC9TdWJ0eXBlL1RydWVUeXBlL05hbWUvRjIvQmFzZUZvbnQvQkNERkVFK0NhbGlicmktTGlnaHQvRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0ZvbnREZXNjcmlwdG9yIDEzIDAgUi9GaXJzdENoYXIgMzIvTGFzdENoYXIgMzIvV2lkdGhzIDI5IDAgUj4+DQplbmRvYmoNCjEzIDAgb2JqDQo8PC9UeXBlL0ZvbnREZXNjcmlwdG9yL0ZvbnROYW1lL0JDREZFRStDYWxpYnJpLUxpZ2h0L0ZsYWdzIDMyL0l0YWxpY0FuZ2xlIDAvQXNjZW50IDc1MC9EZXNjZW50IC0yNTAvQ2FwSGVpZ2h0IDc1MC9BdmdXaWR0aCA1MjAvTWF4V2lkdGggMTgyMC9Gb250V2VpZ2h0IDMwMC9YSGVpZ2h0IDI1MC9TdGVtViA1Mi9Gb250QkJveFsgLTUxMSAtMjUwIDEzMDkgNzUwXSAvRm9udEZpbGUyIDI3IDAgUj4+DQplbmRvYmoNCjE0IDAgb2JqDQo8PC9BdXRob3IoVGlhZ28gQWx2ZXMpIC9DcmVhdG9yKP7/AE0AaQBjAHIAbwBzAG8AZgB0AK4AIABXAG8AcgBkACAAMgAwADEAOSkgL0NyZWF0aW9uRGF0ZShEOjIwMjMwNTIyMTc0NjEyKzAxJzAwJykgL01vZERhdGUoRDoyMDIzMDUyMjE3NDYxMiswMScwMCcpIC9Qcm9kdWNlcij+/wBNAGkAYwByAG8AcwBvAGYAdACuACAAVwBvAHIAZAAgADIAMAAxADkpID4+DQplbmRvYmoNCjIzIDAgb2JqDQo8PC9UeXBlL09ialN0bS9OIDEwL0ZpcnN0IDY3L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzU0Pj4NCnN0cmVhbQ0KeJyVUsFqwkAQvQv+wxzb02ZXkyqIIFVpEUMwQg+hhzVOYzDJyroB/fvuJGlMqYX2srNvZt7bmZcIDg6IIbgchAvcESAc4E8c+NimbXBBjG3Bg8HIswXwhAA+Am9oCwI8z4HJhAXEcmDDQhaeZMG21xOy0OgyNosMcxYkMKjqK3Cm037vfxT+R8osNqXMtngxD/AIbBWBeIdWqBWxm9UiwQ8FopAhG7KkCi6FuypuozJXcZljYe6KOTW9YXU6thpxo5RhG5XhWp7IYdILpLZaVCWzq/2jZmKaoq36dssVXltvllarUAaZT8ei2N8AGbJTFxZibNgLyj3q+k6cr/trkaUFhgdJE1JiVlgFaVJVNFib9EPaS4XelD7ulDretqfM+YBoaEjD1jLWqoOfD/bs4HkqM5V0EmGW7rHTW79j2xItc7ZMk1Jjs6tf5ueIflvxzV1f5niOavjbd+z3PgGrPtvoDQplbmRzdHJlYW0NCmVuZG9iag0KMjYgMCBvYmoNCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMzMzPj4NCnN0cmVhbQ0KeJxdkstugzAQRfd8hZftIsIm4SUhpIgkEos+VNoPIPaQIhVjGbLg72tmLFrFEliHuXc8eCas6lOt+5mF73aUDcys67WyMI13K4Fd4dbrQERM9XL2hG85tCYInblZphmGWndjUBQs/HDBabYLezqq8QrPQfhmFdhe39jTV9U4bu7G/MAAemY8KEumoHOJXlrz2g7AQrTtauXi/bzsnOdP8bkYYBGyoGLkqGAyrQTb6hsEBXerZMXFrTIArR7i3nXt5HdrUb13as4jjmr/fVNtSYVAmYhwO0Re7ZNmj1lFRbq4XClOkWJOdCSKVhKcMiYCSXCiPREpkwPRmQhziigjSpBi70uJvC8jOhHlSMmFqEJKE6IzkVdekLIcKeVE9EcpVZ3TeSnVmdN56eH/Ha53v47I1lh5t9b1FOcIm7m2sdewjZoZzepan1/bPLZODQplbmRzdHJlYW0NCmVuZG9iag0KMjcgMCBvYmoNCjw8L0ZpbHRlci9GbGF0ZURlY29kZS9MZW5ndGggMjQzNTMvTGVuZ3RoMSA4NzEwND4+DQpzdHJlYW0NCnic7H0JXJvXle/9Fn0S2vcV+CQEEiCBALGbRWaREAgMBtkYjNkxTozteMNr7Dip45C0dZq0SdMmcVMl6YwnieS0/TmkaVPi1+C0xmknTd+0iV+SX9uZvFfPNJO2b55t4J37SWLxFqfpTPt7Twc+3f3ec//n3HPO/eD3EyIQQlL4oJFnVbur4PHeomcQIkahtm9wrH+bLzP1KEJjeoSo3w7u3mmu/rgVyvvfRIh8dGTbxrFtf7znIEJ3QHfmtY2b946835trQehOGL9q++hw/xDz8mMp0Pg7eIpHoUKamfK/YP50KKePju3c03fajtebRuj21s1bB/v/bv77Mwidewehksyx/j3bUn8qoKC9Afqbx4Z39j925MRuRBQLoHzPlv6x4breWj0ieDRCeR9s27pj59wcGkVE0b/g/tu2D29774g/H6HxM7BBIcJ7Zcrfzw68+PNeWcUfkQlPg9DZdx7fhtNf+MfXXP5w9pfCPfwnoJiESBQlGMegOUScEZ67/OFlgXAPN9MSMmpwjekh9BUkQHsQBSPlyIVGAKVJ5jUoEYimswgn4iEB76s8N0yZGk2pN9FREgaRMookSZoi6V+j3PlXUfp+jgOg5nazGS93mY7ywH+CtJkRMY/bqFM8Kd4pUtNSlBvnhjiP/iyiG9Ar8Nx+K32pD9Ert9Tv+U/uR/zh1ua67vxd1x/LTP35c15NtHxxLrrmLzfvfxZRP0KqTz3mn1GY+jEav14b3YzCy/ruWV6+4ZwBFKZ3XjsnPbQ4nvinm88F7ZIbtZE/vf5Y3gfcutdto4+jrTdb72qinlmchzp/FQ6VKHDdMT6U/GnW+EsSdQaN/lnjNqKh69XzY/W8S9GUzlxuH6g/3Np65BByxPP0I8jBfA45BKeRg7Ys1t+MmI5b63c9unoNPBf99mIdX4gc1Kuo9ppxmdfaQqh7Np4nzqCHP2lt6PPsZ+mzdL1r2pzXl9mtzEVOLZ+X0qPg9cbwvrq8nvwGsi+b8zyy08HlddddG/rQl5Cdn4nszHOf3P9W+vxnEeyRO9dkO2ok30GtZBi1EC+hLPJhVEi+h3YRa9Bt8b5EG9rF9X0H7SIvoABOufqPoJyNvMQv/nr7+GsT6DX3JChBCUrQ3wKRXyNSb9jWDResBF1DlOiT45wEJShBCUrQ3y7RP0T9f4l5yP+NjpAfojYu/xzk70VH4m3E9sU83J+O0F9eUv7HaJ7842JdghKUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoAQlKEEJ+n+IPvG/5BOUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoAQlKEEJSlCCEpSgBCUoQQlKUIISlKAEJShBCUpQghKUoARFaX7yr81BghL0VyYq9iRHv+2LYKAEOfIKotH/hIpsZIacEHISlIZqkRf5UTNqRatRP9qENqNtaCc6QeSbk8yHMn5ymZ7nvrEL+ppRDaqHvoFY30HouwVtX9IXQV9i/o9wDs/D81sYxUcC9A3gAfOD5gdR0UX7+/3/oxKh2DeR2eDJjD2Y8Per5aKCJbtx4t1QjdQjsB8bqkJ1hJwwEqlEJtFKdBE9xG7iIHEf8QBxnHiMcBC5hI8oJZoQQ/yJG/2nq7/xDMpk7PvRSHRzio6Mrv3ZSIGUCHH8Y3Jxn7ATLl0LT9dN2QA+l++Zq90KD7d3SLndf0Ye/yuJurVuWJq3Pikx8v+RfiOPZ7gz2NG+uq11VUtzoKnR3+Dz1tfV1qz0VFdVVqwoLystKS5y5eY4M20Z6dY0Vq9WyGUSkTBJwGd4NEUSyFlv9faZw7a+MG2zNjTk4LK1Hyr6l1T0hc1Q5V3eJ2zu47qZl/f0QM+Rq3p6oj09Cz0JubkCVeQ4zfVWc/hcndV8muhq64T85+us68zhi1y+mcvTNq4ggYLFAiPM9frROnOY6DPXh727Ryfq++pgvohIWGutHRbmOFFEKIKsCHLhTOu2CJFZRXAZMrO+PEIigQQvG6Yy6vuHwq1tnfV1JotlHVeHarm5wkxtmM/NZd6EeUb3myPOVyceOC1HA30O8ZB1qH99Z5jqh0ETVP3ExL1hhSOcZa0LZ+37tR62PBx2Wuvqww4rTNa0emEBIszLkFvNE39EwLz14u+W1/THapgM+R8RzuItLsAE7fE8At6AQ9ifxYJ5uf+0Bw1AIXy4rTNaNqMB0ynkcTnWhck+3PJqvEUTxC2H4y0Lw/usFiyq+r7Y7+5RffjwgDnHCehzvxnwC+3mMGXrGxgcxWn/8IS1ri6KW0dn2FMHGU9/bK/1kTwX9O/vg01swjC0dYZd1m1htbUm2gEqzFgGm9o7uSGxYWF1bRj1DcZGhV31dZgvc/1EX12UQTyXta3zJeSefy9SaDa96EaFaB3mI6ytBaHY6ic6h0bCbJ9pCPRzxNxpsoQ96wC+ddbO4XVYSlZ5OOs9WM7CrciNgr1d1TveGe+cnyEwd5Imah2WFlSYvfBhramABjmIiytiidZUmDsJE4p3g1ViPXBu2TxQoDJqG3AThYfWNpgs6yxRuglLphhPvIywYMlccqhY4Cm6zg1Zi/bGDGWZ64frljC4bFJejMHYbNfnk8RYxBaGEQIszoZ4E5UBJxfqSJiGq8JS1JvDqNXcaR22rrOCDnlaO/HeMNacfJvarU1tXZ2ctGNa0rGsFG0vXWiL5cJkLSig12GKy5Qr+7jyQrHhqmZ/vNk8IbA2tU/gma2xCZEZjg/smLH5++8vVRbCufSCabN6+61mudk70X96/vDARMTjmdhW3zdajuew+ocmrO2dFSaOtdWdB0378FJK1EQ0ddTkOMHw1ESsxLG2iIc41t7V+ZIcIfOxjs5TJEHW9tWsi6RDW+dLZjDpXC2Ja3ElLphxAc+0GgoCrr/pJQ9Ch7lWmqvgyoOnCcTVCeJ1BBo8TUbr5PE6EuroaJ2Hq8MEEtKPAr5ga+vNQ1g2B9aNTvStwycLaUGO8EuECWsVCpPWqghBMuKw0DpcExZZa3B9Na6vjtYzuJ4PWkFoCUCzftQax8paP9o/fAoRhEZlLY0QSFGcgyJJrpVSogJVw0MSZUQxKkUsuLdoWkIUnypl31xZBWWCaEClEAwECS+k9ZDWQVoLaQ2kKyH1QFoNqQvSXEhzIHWiIDoMzpKAz0aYwx9tQ6tgJgL9HvqDkyYqUR48JJfbBs9heN6Dh55/lah8UarwImCyEDoVQlMhehMeGjq7kRmew4T7FCV2rRQT+TCZDD5ZeLbCcwieLxL5p3gydJrI9XyNUH8Qmmffj8yzv3r4DvaffpHL/vLtTex/f+tx9hdvO9mfv13CvjljZM/PjLLnZp5nfzJzmJXNEGPsDAHJijemj7Bnpx9gX58uZn801cL+t6lO9sxUL/va1Aj7w6kx9tWpwyyakk+Zp6gx81TeFImzJK4hV5iniB9M2tjvT5azr0yuZr83Oca+PLmDfWnybvb05F62dZI4Pf/qi5P7jni5dHRLNA12RdMaL04985OuAu93Ik3styM97IuRQfZU5DY2HBlnX4gcYZ+PdLPPhO5gnw7tY78ZeoB98vEU9onHy9ivP/4Q+9VHg+yjD+SxE8R9wc9RDvYeysce6T4cvOvk4eCh7oPBO08eDLoOEq6D1Qe3Hnzy4PmD8weZvd3jwT0nx4Ps+BfHnxynxol9wQPd+4L7T+4LbttHHOs+Grz35NEge/SLR588Sh2ltgdbd/ftJndDZsvIWDA8RvSObR07NEaNQc3O7u3BHSe3Bz3b+7Zv2354O72d3Bq8o3trcNvJrcGtDMHeBkxt8m0Mjp7cGBzxDQWHTw4FB30DwX5fX9DTR6z3dQW7T3Z5GoNroeMaX0cweLIj2O5rC64+2RZsY7zsKl9LsIXKYJt9TcHAyaZgo68h6D/ZEGwgHazP5w16CQebniZkrWl6FlGEgHqFwIrHA408jjocTaf586ubwoLW7jBxLJzRjj89bV1h5lgYBbu6OyME8YV1p4xgLTo4K8iVP/f5z6OUmqZwSnvnKerEiZSadU3hwzjv8XD5eZxH0GXdhh2Oa2nHVfkdO3C6I1aA350LzQQ8KJY6YnmHI95O7NqwY+eu+BpcP6iIltHCYMKBNuzg6mGRnfgjzgBOd+o3QCD9BG+MOj33EA6JedLZX9563L+EfGgD2o2+CdH7jj9rfIx4u5GIiiAGfxvx/KX5i3PPwHOaJ11Sw/FJp0CNIjpmPmn+X6GHiquTcb0+wr3mTlM1iOHGimZfh1p8e8igkqAsmS+G8sfkvTgfHcF/Yu6FuWe5VhFdQnwNcGhH5Wgl3Ek6YG9B1ItuR3dCuRHyA2gfpN1wS9mFjsA9pwmtgfYRNAYYHEJfBxxeRT+DkUEYuRFuPeMw8l50HD2CTqKzqAcNQc+daD+agBvMK2gU3QHz3Y0eQI9Ce09snucg3Yb2osPoPvQgegxaGqANr7gK+u+BOSbQbbDacRg3jr83/G+NeF1Ig07M/8d8zdxTs9+jMigx8RPY872wo12wl0togKdGt/Oc838i0uY/4gnnf0cfmv+IyJ//dySkDlD4TpkLF7RzIEEKbntlcJNs9KTn8MnyU3XS53R18EMS5ucFNEGyAoKyFjFUm0Hhr6YJ5Hr3wrsXzlXDo1CWlRGud9+9cBHnXC75Rfh5dyYvn1BYFNyjlpJ8vpqxpuWSRfbCYre7oIosKrRZ06QkV1dYXFJFuQtSSUodr6kiufK5K/1U+5U/kXelr+ws5Gk1QqmQRxs16vyVmYrOAXt1nplP8XkUT8DPLKm11I/Upr3HSHUKpV7GMDK9UqGTgnZe+nee9HIpfeTynZS2YoPHSvy9gE/SPHpapzHletJb1ys0CipJJharBHyVUmKr6Zo9EJ8hluJb/Svw8WtAKhU5wIWXelJs7ikR+5pRpNGI0GtOkdE+mZ/PT5+UtxVO8jtQ9cXqi8oy10XA5p2LijKXsgxwKQBU1FLaakmzFSkACQtsUoPhSaWowlzSalVgbFTRrAWy1K9NBQ3dt3nnIkqbTUlo73igO0eTXe0oXF+f+XZy5cDqNy74u8qTO7JW7VzzIWGs6vU7iNvKBlqrHFpTOn083ZQb3NuY29FQrhaWdGwl1e72Fea5PHvN2tnznoGatDk+W9kN9vr2+Y9pMc8EGmD3qJOR4zVpuf5li21S1U5PFuW9nLQGVc++dRE/hPzCxbfO5OVnqKXMElExmpjosFA16lQS7wOLkBaTNF/l6b8zsO9H9ze1Pvjj/eVj6/0mPk1SfCFf6m7f09796Fhl6W1fH2zbu6ZExgh4VFiklIpVjuzUYOj3jz1x+YUebZrTJJapxFKNTJBVkOX/wpv33jV9XwNkeRItfhuBZbMDZONEuR6d0T6VpDKrzCjJOGmzMYZJSZt9klmUCOE6F9XTAm4b5DXSsFoUV2WpHXSSmD/7FBYCGeSLBTQtgPJF4g1BNC+YKyaT+eIkuliilvKj0POlGqlELeHPlfElkFOJmdkrkOP4nb9EBYBfO+Ct4qumJCkoNYU/qVIZmMm0NkMQVcdZdZ1RlMXU5iq+4mclzjkVwDzOiYhfYT64fAYcBqVCL2WA6xKu9m2OIS1PrJbh3OyPGCFD0/jjZY7hKG9ECdgNDZJ/F00J5at5mB3CdTGGVnTNqHQ1REl8Cb5MJ1fCeVMvzPjbeC4uIS/MakRaj1AzhZJkqzUxoYA8Li6TRGzuKPJejO7seaWNkeoVeAHi3zDmpVK1DOP8cnyRy7sWsWV4gG0FavJkSvLydC6XMFevN06l54vFwimUXtwm0uskLn1+LsNmtrFBZZDbYXW1UlemcAM7b10sULjl+ENRVulyuxXupVu3ElIK5+yEdZkMMM86wk2AKePYZ3iMTKeUAzTkHEUKpCqJVC0REHPJBNSrwDTxbMoagy1FLSBO8ohXhDpDisKfpJaLFhH84uXbaDBvFI9P01+5fMdSWYk0qarLV2ikt6gF2FDhN75Yq56BnSejLGTzqNKZKUXKa0iRMckwYuukpk28RK/eWrBG2NRcpUs0f9EYUc9Ubg/t/NaiJhF8e+Pgxgb7XTW9G3NPh4PbW7Kor3V9ZXPFnGKZMumqu3e1dewqk83OOAK3x/n7Z+CvGNWhYk+yPFeRJXwNlbyWVa2YSs6VT3o8uspJS5suJo+4+bxY8NbFtzjnsigGO5VLWa/GX6tLpWLWVKfSaqlCm91mi28DFjYA6nIhvVeTV9dXe3RxRx/nVRsbtzRY02vWl1iKcjLVeyX8XzSuTakrOTHZtNln0YKlorGHIMqLNtRnzr60dJ88WlIevL3KM9xcqpI5q9oK5n5mNVKPtO8wCOAAZnjW4J2rYOcv0laUjjJRjces19nFNsl5nQ3KIpvwPLJlpGTbp8ViZcqwcpQ3inePNw97JgwuPWy+rExZJn83mgIKWjXDRGGwUFgbbbbCEoLzobSOb4XK53lik1ZnkvHJoTlHDyWQGdUao5hH7KGESqNKppWLkxgySP6AuD9LphJSFGyG4M9d4gsZihaqZdQ7AhFDERTNJPE2z/4GvF8Yzu8eiP+i3q/QY7K5Z0TsDPg+53kEvm8afF/GtHzIPc3fuNT3vcVlPqXn4wS2R+esDHRVzf1EZrHICEX3zha7wlpozW4qtfxAm99c+9J0lS9HuxIcmP+nfyppLLMQ2XlttQVWhYGlnmMN6fUDVba68ly5wFnXRZy0e3L0c4+lumvnqvKb3Ka5vfo8L7YW4/MfU4fobFSEMjwqPbKfF2unU9LOKkbI6XznWf6mRcfnivs9eonfo2/k96hDfENhY2/pxn/YX1+3/x9G87oCFQY+xSQxInvNQF3TwXUFBT13ta7s8WRJeHDGH9QYDdZUTcPE64fuPPv5JmVKusGol6gkjNlmLt/61MaRE1vKzHYLI1VjfcLS+CVIQ4lYlOyRqs4j40ySflo6ZJrmReHH7F6Mn+8Y5pivpSf7l3X3TN3/GwzvpWOTd3rudPY8uP3Zp7cc78sjU46+caw+CmTD0Vf2dD6ytfrKC4WbQ4AYrE3OwdoxXzuTBK5WBb52GvvaacmQfZrZ+Fl8LUwO2jh7hRP7FUbIpyBSYOaaiX0L+aMEZ/YLwYUxUSYZyGIPO3eCEasheJAwc7sYsQpLODx/ifwA+LUih0fDU8wki0QmlGziTSsUOnraPKQbXe5tXTFlZW7mbrXkB1Lp3CBx7wJPe3Hgie0JcP1bqZT60KifO4aZ4dgqB8GDyUhiqJ+xBiOndx9RP6edyIPcHmNqqkw/gzJl54us0wYe/OQJz5aPqM/mbYoByUHIaSAOJWNiXaZ1xSUKS1wtgT2NQs3wo34qrqmwHCOgpa6mscD6Lw0XV9z2pTXFO3Ln/g82bjR8EK0KViKxtLStth2YOuoNTPxwV/VYe4kqifqSGEIF1sbW7Hxyw6ZvbC0zGomaOOC6lLktCiNflaIRtTxwZveBnxxfpTVblLoY8tS3weq5AHmtVTyjSxfNIF32cPrZayxd1OsuqgmH9FLQF2KChSz1bfB7CuxHZ/81jj2OEXDQTyp5XI2MUcWBJy7MpS0I4T940RxvrpUIx/NRjoks4JiLfWaE8mGOwxvFPlnxZfk4hWVV1y6A/6omgVkredtJG3oeLm0MaZOg2Dl6A9bS44hINYP4kmH1NL1xaUTEXCcgIt8AxSuQWeJbJT7HF/GpQqMRDsI/xle90gPyie6HVwC6X4pWeixOTY5dP5MmcQlzctIKhTMorWgoRyuiUmxDKaPymDBwEBQVhhJiH9A8PQ6ElrpeHAHFvM/NIiCthlcA+MgVOgkEQEO0LlmqEvPJuXGSkYDj1Up5FkWDzmJUCYggTfQJtSaLplppXoTw8Ss9AhEOfahvXhlcenxEGlZ15TeUVm/RJBnYmJ6dASRXoEyP2qI8l0znnUPJxcOibB0+3tTGqJaVLVMyBptFO2Gz2a1qjO21G9Fqde5cahF+6kyqst5gls297lzrJIB4Eo08upEWhV4hFRDG3N5ckmuRahQKrZhXyhqSk8m8lifb0gOBQPrsV5fuA98P5pjVf782u7Oz00EqGRE+iCIG7PvW+Y9oC1gHFdwQwL6rz6PU80LDtGzEOs3bdI19X3Jj5sz7EldEW6r2fnvX+As7S6v2fXv3Hc/trjic3nZ3b+89q23Wtrv7+u5pTyeTD517sKXh2OuHDvz4eIvv3jPH1j+xq9a754nO3hO7axr2ncD+BhD2gB6lgPeHyNLGzChSzyOFfZrHE2dMa4bEo7cSWUYjNP6ysMyTt/7unpMLtlNxxexJLepYYb6ryavL13zrO1WtJcnkh837O11gYZeAx/DFhYGButYtSh4957NUrI5xuQO4dINVhQhFeC5f7lAUnretAKPvUEyvWKEr4+x9VNOXhpegHG8vOeN2+3Wiy4V4RafDseWiG93BSI0qpU4moLrl9uKmyt2LnuDShjuD2anFTbnJuRkWWbeQ/319Ubv3mRN1a0pMnKZTAonwktNflDpXtHR3md7BcnewNl8mthaszPzYoCM/tNfkmebuTynkopbA/Efg05yoCcfRNTO2QluhNGUGSfPOllWdTanlOUaEb6j0Z3mx8AW2x0Uwb0VdyaLeMHG9ib6SWShffZ1nyA9KB+5tKVjf5JYyPJJkhAKh09tXURCssjr9PX09fmfemh11matq8qLtAiYps7K90OHNN+X4e/p7/DlEsm9rIEtlSpYKxQoxIJSUkp6id9U6cmvdmdnuuv7qFYO+TLnOIBVKlWKpViYwsSZ9dpklr96dnZVfux7vOxkk7AAJm5HRI0b0jFZGy6dNQ0JO/QoI15nZc3HXvehFFt0ihGUOiWTuPLZAKq2UgVzMfZO/4nIfGo1XNiwI4inOyUGMgY0p6Nfo/L9BaD3F6Vf/dx4pfbaUzD89/3tPkVDSkKkqVZFClVFFCmR6KCfpCiPIbsfmqfyUYmX2M2nWlFBu0Te12tzGypC4mQ5glqtxbDz7B+6typkeLvQAS+vY0NPj6MngYnybraiIWXzT4i6KHfBYDc3pJT8qJi0OAyiLRAP3GknlQ6t8d7RkV20/MXBcX7ymqqKvwSXEm2QMnva+vJ7Dq9LGn27Y3GAd7PLtr1cLRTyeSDhc05BRP1DZtLUxo6V8XUUqiIgWKcQagyEtRZnTsb/lJWOBN6elxx/A0hgCPFjAowgNe+pGsndnH82mRjJ2ZxzNoERyk5x8VPQtEQnRlohMhu4CZD8lLaZC+YYQm5fvySer2VUsmc/ms870kKrR+XRSM2fZFFhFe3rwa0QOlg09YE16MF37zomJ6iizLPJmSZpvrAx0ujY8OOCu3vJQR87q+mJDEo9UCKVZnu7qI5+3+UY8FevrckRYyo+JVVKRMTNVVb3/xV33fG9PmSI53SCRqyQpunRH+vQrvV/sddlybXyZJrZn5gxvD9qF1njyNva23RbJK2lDyRG7vVcdEdSc6nWEtvrKrdWhgqHGQLrv6a5mlEylBaQBQ4hqxPvjHNHsr6vd8EStOLZDBRfe4q64oL3FxVFnv2h9uC3yFytsttixpK+PgGYZTlod6FAUMUpDr298uGndviYL54QhdjIWtRbXTzRDUaEETy22K2p6q1Iy8zm4xLbKzsqr4LoaXH2eTqPM3fCFPkt5bqqIsq5urhg51jf7TvyOTBo6NjVlDfTOji/cmi+RZFpFW27D2iKJTC1O0VnslqUwS68WiECQ4nXUbO/Io/lJYlFMCrwXeWPoTtTrKUTjm1ZRkYaSVVJ9xF3pXgU/42pb16nx1da1ocYDjUPpvU9vb3brQ9JKf3Iop7k2JPBymlbtvlgQEwUXW3PGkXvzI/8ReDG4C4A4FsAjNZoouAx2DdolYNOxsCjNtvyM3rKEyLUapbN9l99/RyDzEl8koOXSSxXNenuqVoDvhozYkJ5rqNtQYbpLKqcFIv5dyQU+h8NXYEor+RRyok5hGLe05jiDhzo2MnC5NBhmP9q/WSgWwiGX6AxisZCf7t/WR7IGA756rq3tr0xhS1pyq7vLb1FSYCVvB6twF8jGhsrQuEdckqnWosDugqMFZA4Yyxe1qBnS//BUaFDzbudRJ5kp10CHjUYiSWPQkElyg5wUiExlEWlhtp5GrlOqcotXVGY30dLskL6xMCRt5kVt50UuVMXvo3VlnN0Eswl20wG/C7HqUtsJJ2Exlls4Q5xMSoBjiVom10j4DY91D0yszSwYON67+lgNvkbgczHedH+gfqAqWV/e15Be19DsVONXJRTY0yMt6wJHXhjY8dIRr99HWuJKPtvS3Vez+Zi36Qtba9W5/uK4/7gP7KUDFaJBz8rd+UfzyT25xCNZz2aRX8l8JpNMshqsZBJrYEnBCH83n1SpLM5TyEE4CulTliLnN2k62RWyNYImpyWFksFcguuIhV0AQ8G7PTgPxnIDZy57OEd4Q62Dsr2YQ4FP3WdTzj5iCexbVz3kx14C1Af2Vtix1bPpqS1lK7Z8rXfkeI9jPzVxT91Gn40i+emmjmP9hVqTFlyjjC8RCYUGg7p6/3f37Pjuodq6HY92iI4/5e7YWgFn1QH37wNgMStQtcfuNgvEDVq5HDx4HqKQKZInyyayqzOIDGGo2Ge0hfL85oDcz8VnBdg+9pzpcc/Ccwbc4rJb79LDuHAxWTyB0TsveQAuEDyB1pKTml2eLrvAF8LZklxgJNGL4zGpDAJu/rG0+tH6NI8F7lE8VqoQ0nAiTCt6am6PnpErr8eFSpVFD8bG3qMdNolMJNdE90eHYX/9KODJ8vnS2tMjuWJtpCNNmaZEZe5cQajL1+5fFar2WrWuUJk/K5AcEHM7hC0WYI8A2zzjPoONj5u7nsSu+AuG43pbtdxw19G3oIuDLYvVdFgoEuisOcnttReiZuZC3PDP1THRS+wCKNb6kRqnR5kEqCSJBHo8qob4XjrUOlYqBWKMlU4LSO06fB2crsWsb8M97Ta5gAbQJLFxfbcv1qEokrz3AckxtNqT43aXDKsjXamptaLIWE5JpNlXO6wyyEOjjb1ee6jdV1IbavZXBnL8hgBnD2Iaw8X1ENWfc0fjegwpdygybuxPGebTaZVu4UIe89W89zGMCp2MZ1juTmk+T1heWKjzdReqzkURPxf3vHGcszuPrjcW5WVqpXS0ScJgH723yaK+iQ/9F5KQCOiUip7qG2ophy7N8BmBQCgWcGHu7I+j7jmGtkADaH8ZrHTNsWODDw9FtrW3VzWvjQx+ebAwUiWuGoSfbY4Iu2/ntof9x0OHvUNrt4X2+W8L9ASa/TpjWSAjkBcyNiq8vhDPx8U2XHizqNlYDLE7B3ar0T+qcFFuVMVvhOdNYp9PkNWnOBYU5Vh7dL0JIy/hxe1848ONseiIKxoL24rr72uOiwzEmeSu4MSpnonakpklB+gqq3L9A0Sn3FgsN42aQOLipBtJ/NbOG/ggkDr1AEhdhYJohcdcj74jZCPBNnOkOM/Z5m8OVfjMzlCx7O94xX5bwMAdLO5CH5MmOBm4Sc5c++KBugURLIvYNfgtJfUAX5Gq06Uq+XwlThV85VI8lx8Ua91gtTbbasDBDQCqTMlmWzykVK2gz+lYlUCgYnU6Vi0QqNnLeTdDJnou+ElJQolSrNXykwRgwnTcX9CwBXqVQ+cA3GlKWltz9pgjzh7nZoDJCT9lbOTA+pxIbWXZHr+Mx6vdGRr0rfd3hvzeHHNZqNbvDsRBW7DtYHzOxaGLv8md4U6Ccumb3JvieBNI6euY+mtx5r0axTeOs5LDmUN3rvaTNNh0lQeoBTE40kAMNBaDKhnEsBLEoLxlMdxIWcXX+IbrSYmzXNQ+kFIrKvWksqzVK4y0GqyRMreryasKVfusUTdr8PPioljQ3rdipifjsxt/al8cOJJhxMVl7luw8gW2JVZe/RmNecxjPg9IjKNuT0F7e56LZUWARJ/LVTEmioz35kW8nortAMqIr9ffHQp486wVIa+/OLAEnQVNXYQo6jYBKIXyU4H1afV0EUze83HAqCiY2k9jY6/SUGzXAWv7Ert+i1h/Cs1cLgpOFh/Rx0EWw2iVJ9vTGBm2WlHh8LDY2+lGEa1c3BLqbfb43f7ycm1OKNnXiMQhrZ/hrjJYAIB0NRcKcjI4g0WgjP8t6qawLo2JLbd6VyV814uB02uTAcklIbNVTkzG1TV+MV3RsnAx5cuSbdlqfDGlmm8QJcskGLqlQfWF+Du3C7Er6Lsb41dQjVEmSeLBFTRAuqOIcu9ajqPdHk9VlbHFFLGvXy/ZLI0YVxn33h2RjEmM8GM/hPId9r3+zf4dO/JHQkFfi78hVOK92yS1h/L9loA6cG+Iz71b4qBeMMvV0fhkybX/6gBl4Y+9t26MryeNTyck5gxflgKw1gKsc/U3Vn0sMFuNabnA0mXE96zcbcYsxg0CaDBzDXLi5fhhWCZJDXThUY1Lob/5iViPxRo9EUvE2sdJWyq9dWnj/6mrnXuIOgA34irUgnrRpOdgVlFZESnOT84nHXkr8kiXWSxvEDuSHaSgLNOfSZZaG6yk0ZptJXUp9hSy2PB/2fkS6Lau88yHh43YAWIjCC4PJBaCAAGQ4E4tBCmQBBeQ4qLF1gaCIAkJBCgAlMLYSWwlluwcJ844cUVnTMdN6MaeJHNCSXabJjlnOuM5J3FqJ6nTzulJnG2yNDNVM3E7jR1b9Pz33vewcJFlt5m2M9AvAvfdd99////7//vf7V0MmGi9yQYfEpuELv9y0+Cm/+A18fimWaDy8f3iJr/YbBb7m9A77dSxzUbbGZVPzO8c3pBPbej1Zzr5G/tCjUzfRufw3RvMOLvZehAtxHlv/hVaX4B5dcvNF04awUPARyADv90IxC5JnoS5toudatcbDMTQdocIemCDkX0dheveO9BSUnsHt6BkMELPzG+159Zu0esPdodNyWev+PeWKx9ptDTfde/I/mStrjLU/b8PLE36mheeSp197LRLbWlm/D5fXTXTcvzeYUewmifTqH50frFtorXy/Hz74dbK0+fu2nrD6jFLH3tg+vxADf9DVQZXrHPsfVPuOpOutc7eSkvpmp4j3fuSU822wDF//YHOVnPlcOOB03b7XQdHV6ebJOLKrf+5kLUemPTMZaz7D9+K9g3wJVUt3ibj8KilfQCNmc6BDe8HG+6H/vhAb11LzcQmpVRSA9caqqnJzlDLgYkaQX1go2l4ZKN+rGJDSGAmqzcav5/nvfkCt/Bt221Xoq1oG5s25lqPeMcaji/27xPu01Md+jI+D/t+08jZQ8HFQas7PBxycMs6jYPBAadYoVepdQrhjoUdy7mrZ9yycr1SqVCIVQaVWGfSVfWfn0k2HbCpuZUeja3HucKtAL1FVnpGP55kV3p41OdhhPKAME21UPt77XZvu3fAy6e8ai9dNujiDZTzZJstjbrNmkaYzzYNWwdyU1jwPrIhhdzrFF7x3msitH3OxH+gaNLy0VGuQ902tbnNpFJ4iGus+XkiTX3q7d/xfMJaSk9ZKHOvwvBclX5TWvusSU0GED/ktiJ3bpBrUZePfB6cnVezXZ7yuia3Bf3lJOI/xNXPa/bVWcC3LQRLXg3/j8me/KaUrXavPfkd1ezCneK4goU4rgPvkWses5zdoS20UIFeJ9+n9dFlBi+yP7+9fKCcbtRu1sg20cmcGmT4RpM1t3qBwg7P+72TEFq6iPHvwPb6d7Y92YcO/8E72T6Pzn1Hw9j0NN7f+QZog3ahT/T2xm2rNnrecsFCz5svmOm4cdVIXynnXdXwRJrLGrpMwXuwjCcRPySmxXxeme4aOqZVc03aYNpQDdc/LSS7O3i99uRNsljL/XunXWz+NzpTf5Q8+5lzbR2pP0qd/czZ9g/WDFw4dvjCiJX75v008fzlkf4PXFtOPP/AcN8Hrr1/7OFzB7sXHj4c/tjZA93zD4M+n4dI9XXQpxFiVajXE+9Z7aGP9fDinlUPLWzgCfk8S7t0U++6Ruml7W0WgdC3YR82h9TjXRtCbvyA+gSyxd3FdgGc8I5d7ENea+fUEWsMJLB/3R999FTDQH+/LWcoCEcqnVLUODo60QSByvGBiq7TQ9bgUNg18tBIMHqgmveL7J9eGtRY2+1bTZypBP+Li0Efdh1s1I1c+tLK6MeSfSgKbV24O9K/9BDxSXod71raerV21eZpyKuUPu0atqv0TEiPvA9tSaFFyJPI9wpXWXfzOayTiF6nhWKRpIKxG82tXQft2z3O0bevq0ZR56iVCyAWp1R6hVgilRj90/tvPbHT5x7pGnAo+WUyiViG39maefvX9FdB5hA133vgytDVIbrSzpPZeXqaJ6B5gS9brS0tcvMmKiof9mx0SJ/WnOlY7qAnNLwOTYfGsG8jYBY6hw2s3UC/bduK38NL5S3em8VGFNzxfvhXfcfvHfFOH/IapEgVWePBo12e0c7ahsDU0alAg3VkZaKuv6NBL0Yr6RJRGdM65PUOeowNfdNHp/vA2QILQ3aVsVJXY0JvjFdZqnQNBxsbu12W+sZ90z3eu4dQJ6SWyTVyuVYpNlQaDA3tjHufu67O2X2YxUg4JVyiHqXu7T3U+eXYic3A8qbVqb3ngU2VSbUUiMUCWpVKG+CP3U+N3ROq3VgZ6DxxdmDk6UkP0FH/5+xnh49uDIw9oNowhR7aYHdfW/C2mIasU2iwY6DXZl4ox0OgFm95F9kg++H32GFQblN21/0vejtw+tsCXbBXucfoWDjFE4hk1TYy7XiA7Ic9UOUfdLmG/FUNNeLd0L69rZyj5wJVPp3O0DR9MRRaHmvYbXwsUyulUiU3Qt62PzY8U6U37WKmrtsbue3EIYdYXDns6E8dLtqUKxgj8yjH27+h7xb8B6qbmuntlKoV6iGXtEc6IuUrpNVSur5p00gp1ApaodA4nZRKU6s5qBnXCMo0TRv1oWrFhjHUzM5+br6EGvmpky8gK3pP+m/ifXWXbbcNzNuZgL47P0G5QgxwpWhqoVHsObUgwN1mUoD1FfxSiE5fTfW6JwOBljn/ZrjKvtlCtdQBKY6F50KnTon89vDGsVDHBgzZRqtChg3RIBuh0RwPze54XrKnQvwVz+jQelvxnIwdQu6xmHH7TV4OI35PfXAhyATquKmYtxVPuAq2WMhKW1kBKntDyL+W317CUymdfI/NqD1mztsxfvtthCn/PwlraTvvGXApMW2jP0FRlOIrFO/tt28M9an4E65W1tf4/xF8LYDen/IG1JuumhqXapPf5gqE1K6NnraQbsM2JiH7ry9BsOB58aomGr8jcPGLp+8ewCtGdW6eK79DkIy6tz72rqFgdRRcF7xCxajpXo83oNx0hY9tKvoUVUBUm2uaCocCoZ4eZsg3RA8dU7o22kLloPQJrhUh/0Lv6qDR4gtokabAx7avGRh2bL3upn/+nVbNbu1NcF2kJussPeatmgJ4eHyRymzbHSDeT8kbsKhJ4kW03/XkXyiAJqlUSFmMCqCTKZQKuXwv8HhiDu+tN3Zvt+JeaLcfp873HpzN9m+eut+x2bfSp67ctF+yH+5rsxsM9ra+w0Jq8dQ9yXuSi9KNBwfvD2VD/Y7KUxuLocGNY2OujX1juf1fAnULmRYByKhBk4l4wWoN63jvtDO8uy/esYcWWCi3qCPuLVheqVdv31uG1l7wBoe6xrqLAcWqWuvtzIdTr6OFHtt+Rv7Ou9N7tII7bByF9s2v5pDoITLh6HGDRA/Br/LR4/y5cF8+eojE0LLOUnf1+msPjG+ebTmrPHvy5Fkl3xze7GumNm3mqY25saHRA6HmkMvFdPo66c5xyrxhCwk29OwAhG1ceC2UbJpgo2Nre/Fi6Lu32R3EJV7/HQWevGHoQwZNLrTLi4zNtVb+2HuA/o4CG8xmRukXabfQRDXByGB/LyPWd69TaMl5XaW96vE08G1rDCM1rzWc71iTZvkZ8sqMhpwqQu/p5pddeGSevsd7hvkBWeFrhrRbbzTrHKe73KHW6oah+QNzqrpOp7XHUy2SqeQdZ3r6jrUZF2ddvY26juaWISf9M6lMKmu3Nxpc+x1Nh5qMjlovoyrXa6p0mvJqU23HcOP7FSZrhdvd4Ea+NAzaGYVGykfO5djWpfq16ro11Xn+mrthTZzdfi4HHy7KyVowXhcRgfFEmTbSApHlRM+HLzeG5rr1LqfDiPpsUZlQJHEPWsMzM4e9g3apCJ1O9UtUMkll/ac+Nn4+VC+Sl5dL5Sq5RK0s49tMZ+PxGGMTK7VofWQCJF0U6Skr1Ua5e40SU9s61bSuqV0ySfgNa4bzLWvyHPzkJfSb38vDfqfvKAHiizqTolwu9M3uC9zVWcn0nj7on2lEJzlVOrlwselwk7PbqlHWdbqck20IbhSehnwtnvBiz8D58UZnA69HIBbw+fCxddzvt3YP251jPVZvD9IiDFqcAm+yUR50ttkjWDdrNGb7OmUWCPhrHk+Fc405r11TStYqWOzJe4sQlbkBAPvmbe6FI4O+yCb5143oUybl1ke0TUNt1gMtFmmZWOVo8vgqHvmEfXA+0H9mf1VcEB5r6Gkw0AJhhb5poNkE3q/WmwxKeZngk48GU2POhuDJVkV4qtLdbUHe4qS/zbshqqbakQXKyymlYb3RXle25kvWrRnWGlNVGWUK9yk3yQ7LrZYX8puvuSGgYbe9v/b86j7vBgjEF/oqzTZD2YdlCrn0AYFMp1YD/NNS+Ddt9Ax6DT5tmZAW/lCmLKPVqtpmy36d3qDbcqKwgizC+286qKe783BrhaSsTKam+FQr73f0CcB+HzVK3U2d6PUffqKh/AlXcL3ZBWQz718XU2Pr5ul1m+BqV6rh8Jp+6KrKI+a3y+VM79X280evMhe4E1cQLG/+1c0u9tXS7/2g4FD+qzeJhW6/Tt2+Y5ka/sQ7lqnJo+iKPiEvmzJoLPumW6y9OpnKVf9pV6i1xjJwbnggerDa1VBjqavQGyz7plrMTfprUunTfQdqvbWqvn2Mr1bVvr/9007z0XBzX4NG8HO92tha7RlqqVQppeZyvZkW0Tpre529z18NYwfGGahVekzWbqOxw+kZ8ptFQt1nOw5oLe6Kjn1aS+NWor6OFta6TU6bpsqG/GKF/jZ9ToSiiLNX31C+XiVbp6o0DUblmut83ZIxI8xwy65dxQcXyJKH/fZLrvQ5vGyjlQsOHmyY9AjkOjVqiqhJgk8IfCd93RPNBvpnOdMfmJhobd36KHfNrxeIBDSEJMHWVzwu6/6pTtQSz9Lfpv5W+FpuvfUzVdS6tPbTJvUylja33qrdIVdHwXrrj8AzNZw0Gp1MoKiy28xVNrs5Lw9thu6KpuHjeavJZIU/FjPqVcAMr4yuS9VLuFq8Mrqzyle3K53nnteOs8Qi+Lgb/cKAVUMsoVxznLcamWXOEOwiKFkDvY0dkIK5xU9gy8bAAwcbDjdxF7qqSp3/dHP34WILHD7c5t96MI+AVCaTDrV6rPsPd7J96qMgpRbiIDp3s07VrEtN0OvUrwmzd37upp1+1DGaHBhNDFhsw+dHBs8O1i9pGoOt3oEmA/o+dob/egDm/I6RRLAvOeF2jpwbco111zGdYU/TWBeziPxgBaLCwyCLneqgmnvNtT7put6xTunda3XnpT5vrUBoXlZf8LOC4XNbN/NLk3utSuZwE7OrynqyJkk/zBw8tb/S42qs4EyK3vw3G1pP7+u9q9O0pKzvanRO+psmcDfDf31gOdwo0dXqt17jjqjTryFYAc4Wn2c8fsg52lPv7fmu31/fPcx6AO9FPF6p79XUVVKq9Urp447zdSp9zbI+k1+FvPVC+W1WIYnpyVFn3os0XyQok6uNWnVtnSMnuK6qqtzkcli1qjpjmYAn+IG8XC4CL5ebmyxbTxTbftzihDJlIhl+s2SAfpH3Y5DxIDpX07XOMG633LROyRuvNrdfNXUJbeelVzUGDPn2czVkMXHnOmI7jKQExYsO3OvgAt6P6/bN+Gu6PLUy6DJEAmkVdJH+QVfvSK+rpn3MW91sq5AJELYincUDw2V8h59tOOg2ylRq6HukaplQrVU3NNVaTUbHwTZrl9MgkSukOjUMX4QKtcJbXe+o1Fv34fE5aPc54WepFhQNqfpax7pWJatNOdZMsjVtyoVHVWiZCL8J8sKtF14tGFdt7wyLOkw0wEJ5vM+JyvTmGuWJMOkPuba4hq7W6j3mRpjDCGm+pFwrFYv4x0/w9qHO8BI3LLmEu8pXOrs0fIkS/4Yt/xree5JRckrzPPWcSMJHr87+8CWe92Zu3Er2l3g+bj9p6zuCl9nto60bmIugGriki7jM7cWl3u2qQ39b3xFavPV1Xvjbegm48GrefoP3DeExiItOytQrMzzP6K/LhDbzqJryHnz15e2BgZ/fBSsOFbxnca+hVwgVQlWlXlepEpWLdRZTpUUrFmstlSaLTsw7zk0N+K/INTKBUKaWv9lUZTNIJAZbVZVdL5Ho7aDZ1tu/5q0JjmKZzL1yw18w+m/L1I0gVZwCmdQv3LlUHxTKtNhYCqGyUqetUIoUYk11/p2xao2YVykibUfEN0pVEoFQopS+patgkDRMhakOvfRVh3YM+Qv0BWgjSKrKXrn+hsxywyk02wfUA9DMX2rhoc313YTalmPQ02eE8nKFslwmNEo05nKtWSPeeqwoy1HLv5+bLfH+Onca21Gcp1BQVBkVoWYEZwRTkNJQlVQ99EVt1AFqgEr2dh80P8f0M+3lzxl7jFbqOaFTyBiFQiPDb5E8p2x6rsUVfMYRCPj2P9Pl49c8I66ra9U/Y1K3PiP3UV4YTXJvGqu5BDnYk5+45j9Yh2tr9bdouUQuR7gjx7ZLDvnm/6TOHg4PfQh/bo1YHSMjI1vfwl/0uVonZN4y4C/eDfYefIzwP4outj6EPnlnrQ2jw9+0OgYmbk3UuEJjP2VccI9Gud2h0Bh6Q+MS/Zf0F4WvUhWAF54ZaJ7UocFCjXNdQj1phR5gzeEQVq0pLzeuQRMr+uUHsuha3rXzdwhQ4MC//GCvr9ezQ0r2OCX9RffY4v7/rqqsVH3rvvs7O+v2NVU+Mzh5z2Vbe53Gf+rEx55lutwm/o2O6c4qrZG+YdTOn+o8YhQxzX281q7Am3qrZ+srwdDW32ks6FcLD9Pfoq8LfwkjwOZeU2UlZX9SYXy8iv+4pwrIaVkrf9D5eFk2f/AM7w/B3JisKm07Q08b0dA5v53BLiMY6OuiMolz/4Rv8iMnW9ojD05Zg90eZZlIJ7H4h/2ddwesD1xoGWmrk0jK+P06aCYVRo1/9t+dOrMW75DDrE6s13uM1cbGiezwY48bzeQtR4T8EUC+Gv3Ogta8LjKIlEpKpF2rrOSXr0kvm9f46aLfWQCkWf8q+JUFHKItekuLnv1BA/qIcSuB0OU9IpPLZVt/wqs0yGRbv+CNGfmUiyCqMxq1/+Ayarb+B5bju/Q+kKMSZuLlEkouWKd0wjW5XM1fq7iszuQP/r6EzJ3/5QSElEVDgiv3own75NKtP+fVS+WGrVcrGKYCpLhHKhduGnVbr0OXvfV1iUwmoV8GCQgC36VeE/6EUsBIVL4uklyhcyPR8hxbtLTzGuJlqmUq6B+g538lkUolt4wshu3AQY3O2CvXKbH0ipKFjed94WYRVogRwNNu3HpYVYkY8pqMfLoJEPk25neGSCTQARaNMIrVN64LNesVtsuMSMXXVV3WZWQZOlNwhh5HXooISo7M2/GJeVFBOzBq/dp20iI0Ap2BqTXSW38pMFWaK/hbP+EZaxlDdXl/o0v2D/wtlZ0Z1JmJhhu3jkvKJGX052+dwIi9aNLXWG69TMNkUW+61Q4xGFntCkhqhHZr79WKateV1JMVSmZNKJTWrJVflhYYbtuJ7SL5DIaC89rt9BVn+PxQDKFj1tww+43HFy50tWvs6vi5YycEv+s+1Wfd+hWW6M8rdAJh+fKZrpBSQG998y6Klek6Rq+d6u+1qvzrRteTFsm6Q2F18C0WY9mTlNG/ZjUrldrmNfNlbQYvm5BpbRc3zDJ2qX+ivpkPpPnT2tvkRiHGYCCHtQs0uK53aAwKET+sqGnosA8TL7zONGqisWMjjR2VI1Lhs01+jaPu1NKxKfrnoAp0IH9c22rXbz3PeSdNqxYPh08ZNYM9X9Br6Kqmg0ohf+vNYYr39p+Kj9B28ZMQOcs2QWWv39fMh+Y3QCdufUr85BD+2b7H3ol4fF50F/rqTqIlO6j1thQvoF/cCfHbMV3/5yaBbk+6T/D9PAlNLJ3fhb4m8uToCqZr2+jrRfTrPIlnxd/KU5l2D5rH9H1CkqMF9Af/FJLW3IbW8iS7W3a33An0PCFF8y70h4iUA8pbqtfVV3aS5q7b0o8IlT+tDSPSHdRbcvQFjgwaTId30L076POFZFQW0YU96DeIKkZYejVPpu8Sqgyx9Pdm8Q5arbJVl1fbd9Cr/xSqGQX6w1pBbbT2PzMp5psWCaZWoCuWl+ragK7U/WP9+L8opesfK1GJ/hnoR4VkbfxXRBdKVKL/t8mmvgNatr1ke8musYcxpTBdtf8tIkc70DMlKlGJSlSiEpWoRCUqUYlKVKISlahEJSpRiUpUohKVqEQlKlGJSlSiEpWoRCUqUYlKVKISlahEJfoXpa+UqET//xJFUS30KQqdQYZ/tBqfnENpHlVJ29k0TSnpXjbNp3y4FEoLCsoIqQo6zKZFkD/PpsXUBfo+Nl1GNfIFbFpCMcIyNi2lnxI2sGkZdUT8DTYtpxrLati0QikqG2LTSmoYyvCwrBSvzBBm0zxKYYywaZoSG5Nsmk9VGI+waUFBGSElN66waRHk38+mxVSP8eNsuozSG2bYtIRSG7/JpqW8CeNfs2kZ5TI52bSc0pum2bRCzDfF2bSSsuXKqEE27lkNJTRyZcqxbHyKJ5CAAuX0P7JpYguSJrYgaWILkhYUlCG2IGliC5ImtiBpYguSJrYgaWILkia2IGliC5JWKCuYBJsmtiBpNaXMPasBTu3UsxRDtaBT4VQnpMaoOBWl0lSKysDfPJWFvH5Ipall/BmBnDikkpQH7gSoBBBDTULeArUI9zL4KgbfMSh9AT7noKSCGoLULOTEqItQYhy4xYDHNLWKUww1CpxXge8KrjEBqQUsCQN/KSizCs9ydTA5mX2UH1L23FUH5cb1R4DDMpRloN4I1IN4RKlzbNlhuFqEXHR3BeTL5PSZhvw41iGxpzzzGAeG6oPrWbiDciMYhWIdCZ8UqymDa1mBu1GsL4fuRXg2jXNWoNQcRo2B/EWcN0aFQCaEThw/l8S49uDnY7hEjFqCOhHKc/iTYSXiyjI4P4NtGgdZOOvl9UD3syBFHJ7MAAo7PaAb+0AEc57FfIhExBrI2gsgfQJrcgRrkMnV0g4cW8BKxc83FTy/nTPBLYJRQP42h3VEvM9hPOeL8NnprQv4egV05Uoj6y/BNfKEOEbD83/J66Ulv/834/ejIEmUaoCcDOVk7zPUIPaK1G39dAnuEw2IvhEsA8N6Qxz74DzkLuG6VuHqIqSy2E4ZqHUW0glcG/FchEccPhdYJAnXLNaZ1JnEGkexJkm2xSE7hrDV5iEHeewKRjiD+cZYW8WxzgSrDPaaDG5dxKORRZfZfK6WJdy2sxhFImUScpZwrYRnBiOZlwDVuIx1Ia2Hw57InsBehTxlkfVsJBVpn1EsfxxrnM35PcGM1ELsnGT1Iu17FpfMS1yoEULtffg5ovU5uPbsiGcOzG0Jc1jFOKyw7bgQb847k6ynp7GvZFkrZ3I+HMO2ZtgYRLQhMi6wZVB8fD/LPQtaEAtdyFkpgn0EtZClIr242BQFSSK4/ihbvwcjlcXW66a8QHO47SOrLO2Ibh42JnohvYqttIC5odixCrkRkJfEAI4r4ZnAbQRpPY8tSqxOeO0WQzMYg2WMNGml3HPIBsdxHQT3VYwXabnZXDTiSnMoRVlPRjq7cRtF5ZbZqFXotcvYJkkWLcIlxl5HWA+NYXzjWEMi3SyWg7Pz9oiSZZ8gnpfekTOf08F9Rz0VaSNzGNMs2xZJ/0Hqdefq2a4B8amLGKcobkG7YXaR1TSOe4IEjvmkZ9qJPXqGtLMGKO8sirC7cycyvFdsC+M3iXUMG62y2HLRoqixXYN8jNguV0+BDyBNiC4kdnJ9eToXh+dwJEriiBTZU1Pie5EiryLtOMV+Eq1IegW3F9J/zuFWHWf7PsIHlUzgyLC3j5JRRpK1TJ4710LiBTF2EUexOIszGnUocH8eY3Xg4i2HcrFXu7FlIjg9l+tttvfD21tCw7a4EMPjiIs4vsax9ZFVI5CHEFqAEtw9L8vz9La+3cm23ny0yMdGTpp3M3q6w9EKU7WNxyjHg6nOefNZyCN24ryGxOoEO8rJe/ftRmCcV+49CkOWm8i1nEzBKJrYm3hBjK2LROwka3c31jnNjo64cS/pJRZYO3N+TPxqmR03kBpSeBQSwXpynhKh8qPQ7fHs92CLHEIRrDvCLc7G+jm2rUbZkUcSy1o4povjsUkG+yYr4962hfRU8TgUrO0swGiuYLxU2B7umB+VH+NxpXePbu5t0Y3DfvvTCTxGim/Tm5MrP0fIt5p8T8TZ0E1xY1U0JuWuYwUesoxHownsb4sFPSyRehbLEmN7qpWcLQtjCbGhl7V4BreSRE4Grl0X+9Kdo1rYwxMtC3uaYp/OI3ER47j0Hu3I9QYreKxNkIkVSDCHP1GdeVzOQoloQd+RvU08JpF/DmvA9XjdRVGcjMYu4PRus8Ik7iO4XqZwtMr1E7vFlOKnMjhWEFvNsnrv3udG9rBoOqd9BntpEnMnrWjnPOC9egDXvw1RQXx3nBqAq6PQW07inBDkMRBFJ+HOEbg6BLmHIMcBJabY+w5sqaO4HxqCcjO4jyM8JuEzDNfHcYwboBh8ja5GoHwYeKFng9QxXEcQuE3hkpOY9xjkjsJ3kC2HnuiHnBm4RulBHAVJfWF4isxxQ2yfSCSdhnwmp2GxVCFcIyfZGFxNAv8h9m4AeIcwPyQ/qn8Ap8M5OQdYSQMYI8QZ8ewHiUbxFcqdge8JKDeF6w9gnYm0YazDANwnugSxBKhmD6srKYfwOcLeQTZC8o0C5bUKYAyGsDR5/PrhewIkR/wH4e407iHG4clDWNMpjF6QxQxpO4qv8loRS/VjbRCqCINDkB6Dv8EcdpP4k8gyWcCtGLuj+H6+FNEvwH72Y+TG8RWxRj++msa2QnfdrC0nsR7baz2KPTGISwWwxlM5DxnA3kuk57yT1DFeIAmpD9m2UBbOq5nbtBHChbs/w1p6Jy4I9QDGBMk1lat5L87QNp9lWnzNncxYPJpOZVLzWaY/lV5OpSPZeCrpYQKJBDMZX1jMZpjJWCaWvhCb8yiGYrPp2EVmfDmWnF5djjGjkdXUSpZJpBbiUSaaWl5NoycYxNnnZ+zoq8PNTEYSy4vMUCQZTUXPQe5wajHJDK3MZVA904vxDJMo5DOfSjN98dlEPBpJMGyNUCYFlTKZ1Eo6GmOQuBcj6RizkpyLpZnsYowZC00zo/FoLJmJ9TCZWIyJLc3G5uZic0yC5DJzsUw0HV9G6uE65mLZSDyR8eQA6Gb6I4n4bDoOjECNydjCSiKSPhJLZ9Aj7Z4WP3u/Cd/nCoNsESabjszFliLpc0xqnsiTg3UhnVpZRtnR1NJyJBmPZTyjK9GGSMYJIjCD6VSqmNVSCnQCVSPJDCiSjs8z85GleGKVuRjPLjKZldlsIsYAz+RcPLkAuEDRbGwJnkzOQRXpJMjrYUJZZj4Wya6kYxkmHQMg41moI5pxM5mlCJg2GlmGNHpkaSWRjS8Dy+TKUiwNJTOxLGaQYZbTKXAIBBhwTyRSF5lFUJyJgxrRLBNPMlmEA0gGjwDMSagL1JyNL2DGpKJs7H1ZeDh+Lubh4HVkmKVIcpWJroBXEbkRYkmwczoCuqTjGWTUWGSJAeCgGuC4ADmZ+PuheDYFCl1AKkUY8IElUhcCOroYSYNgsbRnMZtdznR7vXOpaMazxFnCAwbwZleXUwvpyPLiqjcyC06HikLJxEo0kplPJUF1KJU3XmZleTkRBy9C9zzM8dQKyL7KrIA/ZZHnomwkUhRAzsbczFw8swzeTKBdTsfhbhSKxOA7AoDG0kvxbBbYza5inTnfBKHBgqk0l5hHNbh3+hJYZG4lmnUjx7gAz7rRM1wFgNTFxXh0sUCyi1BpPBlNrEBDyEufSoLNGuJO0kYKigOH20lLmhR4HVggk03Ho8Q1uAqwR3C8ejACDXGoBbwTxZU08uG51MVkIhWZK0YvQqACG4M6KagKPleyyxAS5mJITVRmMZZYLkYUghR4ESmODBLHHrsYn41nUbBSTIPI8ynkt0hkFmo3MxvJgKypZC5scEZoYH0hlvRcjJ+LL8fm4hFPKr3gRVdeKHmaDTBOMC92C+yNiM3uEXG3SPYXbIlRVOIVBPPZFOiEoAGvTkCUw3AXx0wEZVHUVCgmkHEyODKB3gBBDJ4CxwZk5tzMfBoiIAo50CQWQGeEMWAFFoXHmdQsRL4kAiWCozbnZ3euBRIoksmkovEI8g9oZxA8ktkICa7xBCDTgDgWactMsWH7FSeWaA7HJWKHXcvhiIeyC9zNzbobkp67nYiDn5K6Ea806bagBtyIkIZuFFXj8+g7hgFZXgGFMou4wQLr2RXUeDMok/US0NALimdiKFimluMktu0pKmnwUCVpNCzSWIiLi6ml2+iImsFKOgnCxDCDuRREMyzL2Vg0yzlY3o/B+efiuOF1ExeHMHYhVtD7JlNZ1GRIWI2zzZh4Cnsrs4gi82ysqOVGChRNo+ozWXCmOJgo1wfcDgDU3oaCzNT4wPTRwGSQCU0xE5PjR0KHgocYR2AKrh1u5mhoemh8ZpqBEpOB8PRxZnyACYSPMyOh8CE3Ezw2MRmcmmLGJ5nQ2MRoKAh5oXD/6MyhUHiQ6YPnwuPQyYegJQLT6XEGVciyCgWnELOx4GT/EFwG+kKjoenjbmYgNB1GPAeAaYCZCExOh/pnRgOTzMTM5MT4VBCqPwRsw6HwwCTUEhwLhqeh8wtDHhM8AhfM1FBgdBRXFZgB6SexfP3jE8cnQ4ND08zQ+OihIGT2BUGyQN9okFQFSvWPBkJjbuZQYCwwGMRPjQOXSVyMle7oUBBnQX0B+N8/HRoPIzX6x8PTk3DpBi0np3OPHg1NBd1MYDI0hQAZmBwH9ghOeGIcM4HnwkHCBUHNFFkEiqDrmalgXpZDwcAo8JpCDxcW9ihKewSlPYJ3gW1pj+D3t0cgxX+lfYJ/m/sExHqlvYLSXkFpr6C0V7A9mpf2C4r3Czh0SnsGpT2D0p7Bv7o9A2ib7NkGitp6E1r47v947Dc6hUDPJZILbNqTIekjKB1IR2ZhNpteSrqZ/tV0ws0MxlLn8GcaPtMxSKPlJjczGskm311pLAMPywF/1Z+Bbx0Rqfqq71L1J0WSxstDl3+r4Inppy5VfwSy7qN5vGaZTyISupR8ulJI+SIiqUvEE/AuddA8wVNTvsM+d0FO1Wdr7qui9mEax4ExhYcqqCM9gMhnKWAm0L0Vsd79+Rt/09q1GRoVvZn9s62vXat46lLFjO+S4L/4LvG/8BSf5tG01g8ivviBFsO9H7wlJDi/6FPkpOUJQa6LWEz+jECkpWemmrU+Dboo00qPRjKL8eRCNpVsVvuUKFOsFU/G5pZSybnmGl8VypFq9btu+DRbfLXoPl9bkb8/HV+KNU1lI0vLzER/wFdjVDS3+7p8Hc0dbZ1tbXfBZWfBpe/+678XyRQ+Gbov0wrGxicmmx0+G7msSfbHl9Ha76GpIBOcCnd3tHQeaupvbRtoGugK9jXbfPVEo6pdNZoiK+i+S7y6QoR5Qop/iaeiIF9KX+LxqEeWn1SefPrqjT/57TNf+pb/Sz/5iqr+cDJT9qvwGzbboy/PHvuv37j/i29d++nf3HvldfePf3PxQ0+1Vhi7Hhqbf4I/+HPT93/2mwff6LwuqH34Ed0x9eYnuo6/8fdvNXQd/8iFS+eEwcAht/tS4u/uVb71ckC28sk3E6NPjl3/xI/us79xzwfmf/vEZ+s/7v3++ZmNZ1+JfudTtmuu1/Z/refCT+nKX3/pxNAvNx//TJfO/2eP/J9irjwcyu4Nm8UuZJBEdsY23hlkCyFb9jWF7PuaZGthxp6s2WVPSHbis2QvW4WEkiWRPUISym+Gkq+vb/n98V3fzHXNXM973vecM+fcz32f5zzvvHJqMz29GAs9aM77/vDwB0b1sQVPfIqVpnl6eV1fhWCIz7LOdRzpx+esXa5ZPaYgcgsfKHwX7kERtOVQg58EgmAo7mQQiKn5JrlWWpYOUYgQTHgkjx9eXYn2CgIJRcVqBpiAIVg/ysaAiLEjgg8wYoeUkRxKC6W2/tTHcB7WiZwFcznG2ySP5h4r69zFECMblA6g9aNmE9p4qa3gSrJ4astjq5y3pEW4nALQxZ3ABFUDVADlDMUM+SC5b5vuFm6OP2VqXB3scEcFvuU8LgnsTyNuFncnEYtKBPYUwICACOuY+PiEIBBUFTgDKH23AXDQyW8NeHp6/qoBK7e/qNkdgOH6ywElA0i+Vwkh+skhITiUOGbsGPV41w5OFxGM1zKaIx3WU2zy3pPYSnKk+p0mUurO71GdGCs4AfNcycw4TM+weUXslExB0SCR4TXGuq7Fo7lRLeSONI3w1FMR5ZeCFdU1mSOijYM+VEBQaez90gS3OeEY5XGhub7xF1UpZWV008XW8qA+cZJy2/ceMJSV+KDKfdNJ8RFfnyXosOC1nSOF1k4+jWV6RLeOvW7OK9WyoEl7Gsstr/pZ/L5j+LrIMDxjgfy5Q/gyq6WV2aNSHhQne2RAtQRvx6sZ1y/3rlyu4VflellrFDFdEbtSKjRTlL0qjJ5scCZ3MHXLGR/pIKh/Ga9n6nDRlis5W9Uc/3Ove/m1NQBDAMLS2OwBGmudDd3wQWvO7uzSWOvBUSPF0tj1f4Us4ADnntMzHSy3tGLWsbPZzXhgJxaX90buspkIIIpEogDsW2iPzX6YgPu/0r9v5ZA/Kf9bNgq5Uc3eQhiZ7OdNs81puu0Wwre5lp0QEq9Qld1lEiogLog4Hu21eTWfCQOq9Omir4N0Ksy3JX3agjKuBJLssDpnrthItnHRTcGZPkJjZSwW3tbQ3FyEJQuPirrqukgsFMoTA8pNDyOBJLIuj45Pl+JoPXvDamMfEwUyLx7PE/5wsXncHU/lRt/r6PkBr6/hm4WmIZL1vzEVmSc0tAWURhUNFPM+190SfvXkYsy74zsLFx26fIk83McptZT6P+C1K6lmEwpPnTv05ert9nfn3wZ+HEimYIq4OxlwpGmgM50R9PiLUi4sRjCBRQm10cyehVf2UKfT35nbEL0k6uy3WrsAI53/zkZ+2BG5ukc3HDi62VdmVSLQvqdCDtBV14B5wDNTsbkdm2ajvvbagqoWWCKgjSs+DMVy0R1FQP5npRECUDgTH8aLEgQAJIrXQhQQMhe2MuMXEjMX4hdCCYryiwqeQPFbigojrc1QKGEha4vfUaCSs+WUJv5zzL0jIiKslU55nZfBcX9Ogb9kKBfXS7ssiIULFsdYFGMBjMOvCe6DHxDhB0R3KdDsAAXqAdjVygEKlP/bBr6z4F804Q6Q4ToOA4F2oGAA7yd3hmDAIDwCWqbhs82a7WwaWVpeg4sbX57Uv2j88PmY/qJOu50i/ovWroWJ7STDOJPDovBGfHnYeLJ3SJ11wXDtPFiPrUqSzUvGqWjjA9752KQbDN3EcT3JDKeB/BzaxzWKhh95hcLSIw1EWtQZilk7KZ8MYSjzhZeLWNsj2e+iw8a4GCatGUOlEDtnIWpNzv4ZqPmKcgFNfWOCUpqb7YwWVZfI3g74cFLwxMvnovyl4qXOKnuyhX4tpXx8Y4qIRquN9zzSUMw+Pu9OiEM83OVDa9FcvfyRbnN1dKUuvWJEYo5TozPXow0upvZF5nzS0g9PSZNjJ+xT7fwzTww6MX8NfLHTUp1wgvirJHVTInV+Y1D3EqapQI9djq5SKdArqOdzX6r00ZfUodPh6bbsIbYS+Y/91DmniVhULb7cvkWjJlipb6oxeOY30YgdxEipyR05hw6vZ6W1DpH+jsFu9+ZyttJH6AfEti07nKSIpq76lxbWZddceRavf8fHoItK0byPZWn7ZCuS9JOAlGWOiIuppnTV6SiNDNKwh9cN1h/bBJsNpyW2tt/sclF804iIXSxdLwGcFuyV82bjPdrriVq/SnwsuiRCUKb/7Gh/7cfYzmCGFT97kMaDY+hL5c8NWaXFDejGQt7btCrnCrzmCJO80LMgdDqasS6azAMjtdQ6xJ8JBUcofV4aAT+DZGFFgBArAkt7IkBiRmsrtMv9DD8vYU126ZSEOIYz9NYKnyXoKC0Ei0bkUeDI7w4S74MVC0PePd5k/8Gb2i4uWPLEQtfO2s7CzN2KWeayu62Lm527N47cARFACBBEooQFATEsuaOQu6YggDP/uzX03/F7eqZj6diwUgzPVQfE0Tf1E2/bkrTYNAufjtCps1O8783tVS10B5gPzxO+0I2jUY49JhtTlGgEcL7Cc5i5Ur8QSkjxiRyauBzazdQlyB6curJmw8C3fWU6hHFuWj07s4lNpzN8U/4Zcc+F4p4SWWjW57uOt2wG4a8VdEqCeqbgCgiu+0EaetpkkxC+LfuoKMA5ePUckLp5fSChfIYl4fpGH2yVqErHSbtCPipdCe+MovVhLm7rvITJ5wToM1mfA3IPK1ITY9IDFvW8voKSGTWJAvEoAYXFqlE2hdpWft304uNeMkjP7pQxCf9bmWbgSsZDpdufUspAT1lVdHc+47c0M5N+5/cC7IjkAhT7jIMPQLBfB/j8l6tLHH0zUkChWPwFAZQExN80gQaEO4IHoBP3uBkdBaDD/ajJ72NMT+lzJUxxwLZ53pDoxJ2bvJNpccfsX4cnhtK7kDbzTEZOoeolgzVCGMIK0NwTBWUAq0MZchkyQdL/fF28X4y7lQxH5buCoHtAEJQABeD0AUEQ/X/WxLjfIbdX6z9cD2PHmjLhRosR5PSJkdmKQs/hp95aaqBShPtFQycyWMHTh1ciqxH9VFk3ncyrz4K71JlhmkkjPqcmztYWGyQzvGEEBd2v9VoJ61mQAL2feBhJgt8erjSxrEMzolEQMzkdbv/Cr+ld7AqBQCBkNpqHndV1a3170isJcegT4YRrHZ16aoQDiVtcdabYbRv+Ni3yOXMjadrEMGbpCUJ61Odu5BkPpCSvG2n7nKvkTiAJbKyZxCxiebD6yLx6mG+bMO+F7Ib5umukslf6ddxY3gOdtV5WRoagIyTU5H2vqBM/nvzN2qCcX2D6c2BQt5b+TKprrON9MdX+de+Ge3Q+5txLWSncQgSe9OYdksedmDDLpI/5ap/JlU99XrhW+fZOnrtwtXrbRTYqTg/Sk9o3L55XkKOuKy8vUbNpT5fd8fNm8UujAaxnZKku0LensbL0yM3yztauKXXz9Q+h/FQ5eZTYTc7P6S/dHU1K7RR3qUdzuRMcfu/B0pCCaeLSfVBqLxma6WFW4ZwJu9twT3GZyuXLDZRj2dcxrfabbB3W9amMwVSWYEn+4nOR1ZMsU5UlnRYVXrr4/TIIzfuxJTleBeUZ8ZfpX8YEwy6zCqDyiJwzDG9yNGQsBXSyDMwf1+hIfq88/glk5RJKeq3drv2d81xuwlMk9w55m6HRkNqxzKFNgTRphB6tQwcs+wuAIfQBMPjm36WAPKpv79kRP4cB6JB/hYpRALDnkNz/xCF/RARIrGyIogBhsT3ROLFrIgGc+Z9HLBjwH7UDjNMOMFY7sD5XsLzpRsmAKBxyvoehVBOqWXlgwJIue4zHYfa85r1qAlF6qHKNbwvZ8RERh0dUQ6TLos1JBCXtYi9A1EjZ56GHvC2Dr8easjsWpynfnrW90DeWolNGwtdS/DKft8iHuHgw/lynKT3+rLXHDEqbk0pguoBI81n56SrjoVYE5HKB7WqX06q4USbtmkLNuKjlfWdLYa+7GRYU/M9P3dp4O0p46IWRd44y9/Shhxkwz4exkktbb3nPUzKp6cOzfNzGqcSrlC8MLS7KRfu/vFJ2JejYS6nSm8YzoRoB9CuZAucmoyT4iwQN2qqkvqKel0MkS8uKY0Sv96X68X1U149mEeZoEXO29NWpuU1ReJQtoGutBhIU/slkuUe74WZscF0jizuHCR38QTcXXJQjUezMiWdXS2OKGNhy860XzJjs38CVU01CJjiMn7OoSGm3Vp6VZocs9/oYCrxge+tqTKGl4Fm+gfem7j4YYzLcSFNef6xfT2VaLJNilk25jq769FX5yaYWN59xt2n2sQaFpLalZoazw/7hC2rKQG5BxNiCYXrx9kiJ9URTAvrK4sCiyrQydy4Mfjf3mo3fuxvmXiZlAgGDZ28bNXjC4R8WnVrgkXyRp0Q0mt4Eng5tJVZt68+RE3CP++S84cVswAczNo1LltIQDHhVEnJkNE19Lb6kTiHDMbFvfCDk5r52LmK1c/YX8vdDPH8Zlxzdv4AaDCU7ToKns5vxkcOT+b2u/kGUD0Y8bvziYGSU3G/U+Opv5nIfI3vZQoWA83vihttC1chQy1AJUv6/Nn2wfov1Wqyz7gclJoCgCQq1K3MXDsicNqAJqB+QOdl/JnN/Ub87gE7HdZ4Zik4A0LEAOnp/kBAQAO0PSH9vDgyiFfy7MAt3OzL2l9k5mbl5W7heQti6OwGn9isAA0LHUcyMeKp4uId04JJrJrvJtb1krDfWuvQtTWy1nyxHMDP+KhCzWQnKSRzX9aZHPB9yt2FNIY0//MYiJkk2/lqfN1lUk5UJgk9qo8Wt18n/60PpGZJOiQbF/OxVu2GLBlbhnARjq4Coa2EKmnpDZDFX++hVGFZPyoZp95R8cXgrRYjgTnkneSynv5LRM1ZsYtay47Sklw/bKuza3Sh3//C1Lk6wAk/zDcraO/n4ZCmLtpu2iLgMHmkeBwNlCyZiO+fzifGT/muNkasKvKPbEj31wkvOHEVTxVyLPSOr5MVJ8IRENXJJ0hWi0AGmFhTdxHIb/1PDtAplMZJHJM2PCoumyl4O04RoyRuIoi5y0fuWrnFtjPKJM9sllp0LtXV2ya1ybzmFT3AXxAOXwkjD1KxJG8vVPr6J9GVwobkmn+sxdYrHKrvFWNs8qIXR4kRC0Nir1Y0V2sxkrjdPchJ63htbyLw1JLwdLEXgSdBLUHqZifqhmVnl8utHx6APx2Qek8Pfj1oJLCSsZxrFD+ENZCrUn1tNyCFWUaJM8mPqweNuK03JkZb3PC78qC8rK93Hh3VTKY6pYEuRze9j2kaDQ5VKwsT8ZS/6hTmRJG86lZ2Bcjbby++KN7fD5kn95uwkireBRahqxNjYZSeLaMneVH11jQa/s6yZXodRLD5LMiSl0lt53XeMmzJDUs5e1FdXkm+U7UjxMCTxU3L44p3eVO/kZN+hfQl2yEfzCRIDLQEw0PtgEAhAx/3XwvXr7cAfyZEMdCuOfL6BmBiCJDuYecH24odFiiQHDpbSAGw/LoQisdQW+Wiub+MDUQsgWNtqU5kcRJa7tAxYHriEDKkP6Gbw+MF/eQ+f7h+fsZDJ6cf+p56tu/93AuaftBmKAeH5m1qmaslHIpqzk8qLGUq4XF0JKK53O4bFu3jXMbEpfXT80G82arIUq8bDaWeNjmpU+7qFv9ksagbP5hoxvzLK6s/Cs361bpDN2kjdImhq42TCwD35Anabp9veMi1p82lCPIyxZX3FKOlo7qiFinszFnSZg6wZDugRtr5YX07pD2oNqw69GONnlcL8EOZ8FVVaeRIie4svdogi8yfTC3P4tylUn4zmZlVL3OuVfTfd5JxFf/1oYh5Tp7zUTi6p4oxxyhozUbs/4jX4wSr9mQ8wA6sEuGbrwrz/wqXZJTJy+NIbMfqsW/MpxRwy1tFWfcFV6PB6LypjtBOHz4m13sBzMaGZGDAcuzxh/zFHBEgMmAZ76PAuNCP+s0D815m2A5g0BugOQpL0R8YQhG18vwQfSbG7cXwCKYxC4l7n/4BIwcrjU+J9VM4XEqEj669iX8ZuE734KWTCYcXaZMTn9ZdN0cjCOHvSOs9uWWWATclguNzI6NPF546nO+HzKwLW9+wuLFC9m+ykdFnPHqfqMKarun1o69xRmWUB8WdL/cPmd9eUBe3vMxfPGNmbhKv1dCCs+E89ktMQ8S2oiLuw88RZsPXlci4GMQB5PdNWPRfkQQan1+qUEZ/+JGyhaSMNWYVFMhtW2rIyBi55UMT4CIyelLgW7U+XHP+oWWFTH33oZM3UNLvm/Lp9STjnRWEVCrD+qojvKzdTEi5Kxi+vbDVCrlNKLSsYrScOVqKIzS5MKlJGpJrmpqMJ9CCkx1fzuukq5qN8vZyEX/mOeK5EgStY6N2mUdqPLX2XNB7h/Q/1OLL+DQplbmRzdHJlYW0NCmVuZG9iag0KMjggMCBvYmoNClsgMFsgNTA3XSAgM1sgMjI2XSAgMTdbIDUzNSA1MzVdICAyOFsgNDg5XSAgODdbIDUwOF0gIDkwWyA1MzJdICAyNThbIDQ3MV0gIDI3MlsgNDI1XSAgMjgyWyA1MjBdICAyODZbIDQ5NF0gIDI5NlsgMjk5XSAgMzM2WyA0NjldICAzNDZbIDUyMF0gIDM0OVsgMjIxXSAgMzY3WyAyMjFdICAzNzRbIDUyMF0gIDM4MVsgNTIxXSAgMzkzWyA1MjBdICAzOTZbIDM0NV0gIDQwMFsgMzg3XSAgNDEwWyAzMjldIF0gDQplbmRvYmoNCjI5IDAgb2JqDQpbIDIyNl0gDQplbmRvYmoNCjMwIDAgb2JqDQo8PC9UeXBlL01ldGFkYXRhL1N1YnR5cGUvWE1ML0xlbmd0aCAzMDYxPj4NCnN0cmVhbQ0KPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz48eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSIzLjEtNzAxIj4KPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnBkZj0iaHR0cDovL25zLmFkb2JlLmNvbS9wZGYvMS4zLyI+CjxwZGY6UHJvZHVjZXI+TWljcm9zb2Z0wq4gV29yZCAyMDE5PC9wZGY6UHJvZHVjZXI+PC9yZGY6RGVzY3JpcHRpb24+CjxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iPgo8ZGM6Y3JlYXRvcj48cmRmOlNlcT48cmRmOmxpPlRpYWdvIEFsdmVzPC9yZGY6bGk+PC9yZGY6U2VxPjwvZGM6Y3JlYXRvcj48L3JkZjpEZXNjcmlwdGlvbj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI+Cjx4bXA6Q3JlYXRvclRvb2w+TWljcm9zb2Z0wq4gV29yZCAyMDE5PC94bXA6Q3JlYXRvclRvb2w+PHhtcDpDcmVhdGVEYXRlPjIwMjMtMDUtMjJUMTc6NDY6MTIrMDE6MDA8L3htcDpDcmVhdGVEYXRlPjx4bXA6TW9kaWZ5RGF0ZT4yMDIzLTA1LTIyVDE3OjQ2OjEyKzAxOjAwPC94bXA6TW9kaWZ5RGF0ZT48L3JkZjpEZXNjcmlwdGlvbj4KPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIj4KPHhtcE1NOkRvY3VtZW50SUQ+dXVpZDozMzUwRTg2Qy01QTExLTQxREQtQkNCNy01MDNBQTBDQTQwREM8L3htcE1NOkRvY3VtZW50SUQ+PHhtcE1NOkluc3RhbmNlSUQ+dXVpZDozMzUwRTg2Qy01QTExLTQxREQtQkNCNy01MDNBQTBDQTQwREM8L3htcE1NOkluc3RhbmNlSUQ+PC9yZGY6RGVzY3JpcHRpb24+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAo8L3JkZjpSREY+PC94OnhtcG1ldGE+PD94cGFja2V0IGVuZD0idyI/Pg0KZW5kc3RyZWFtDQplbmRvYmoNCjMxIDAgb2JqDQo8PC9EaXNwbGF5RG9jVGl0bGUgdHJ1ZT4+DQplbmRvYmoNCjMyIDAgb2JqDQo8PC9UeXBlL1hSZWYvU2l6ZSAzMi9XWyAxIDQgMl0gL1Jvb3QgMSAwIFIvSW5mbyAxNCAwIFIvSURbPDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPjw2Q0U4NTAzMzExNUFERDQxQkNCNzUwM0FBMENBNDBEQz5dIC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDEyMD4+DQpzdHJlYW0NCnicY2AAgv//GYGkIAMDiFoGoe6BKcZPYIq5B0IdBFMsnhAqFUyxckKoIDDF5gGh6sAUuy6Y4lBmYGACminOwAqh2CAUO4TigFAsEIoZQkE1cAK1c7LAeIwQigkoyHUabDRPMpjKvg+mcm5CqC9gqtKGgQEAzdMPVw0KZW5kc3RyZWFtDQplbmRvYmoNCnhyZWYNCjAgMzMNCjAwMDAwMDAwMTUgNjU1MzUgZg0KMDAwMDAwMDAxNyAwMDAwMCBuDQowMDAwMDAwMTY2IDAwMDAwIG4NCjAwMDAwMDAyMjIgMDAwMDAgbg0KMDAwMDAwMDQ5OCAwMDAwMCBuDQowMDAwMDAwOTA4IDAwMDAwIG4NCjAwMDAwMDA5NjEgMDAwMDAgbg0KMDAwMDAwMTA5NyAwMDAwMCBuDQowMDAwMDAxMTI1IDAwMDAwIG4NCjAwMDAwMDEyODkgMDAwMDAgbg0KMDAwMDAwMTM2MiAwMDAwMCBuDQowMDAwMDAxNjA4IDAwMDAwIG4NCjAwMDAwMDE2NjIgMDAwMDAgbg0KMDAwMDAwMTgzNyAwMDAwMCBuDQowMDAwMDAyMDgzIDAwMDAwIG4NCjAwMDAwMDAwMTYgNjU1MzUgZg0KMDAwMDAwMDAxNyA2NTUzNSBmDQowMDAwMDAwMDE4IDY1NTM1IGYNCjAwMDAwMDAwMTkgNjU1MzUgZg0KMDAwMDAwMDAyMCA2NTUzNSBmDQowMDAwMDAwMDIxIDY1NTM1IGYNCjAwMDAwMDAwMjIgNjU1MzUgZg0KMDAwMDAwMDAyMyA2NTUzNSBmDQowMDAwMDAwMDI0IDY1NTM1IGYNCjAwMDAwMDAwMjUgNjU1MzUgZg0KMDAwMDAwMDAwMCA2NTUzNSBmDQowMDAwMDAyNzYzIDAwMDAwIG4NCjAwMDAwMDMxNzEgMDAwMDAgbg0KMDAwMDAyNzYxNSAwMDAwMCBuDQowMDAwMDI3ODY1IDAwMDAwIG4NCjAwMDAwMjc4OTIgMDAwMDAgbg0KMDAwMDAzMTAzNiAwMDAwMCBuDQowMDAwMDMxMDgxIDAwMDAwIG4NCnRyYWlsZXINCjw8L1NpemUgMzMvUm9vdCAxIDAgUi9JbmZvIDE0IDAgUi9JRFs8NkNFODUwMzMxMTVBREQ0MUJDQjc1MDNBQTBDQTQwREM+PDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPl0gPj4NCnN0YXJ0eHJlZg0KMzE0MDINCiUlRU9GDQp4cmVmDQowIDANCnRyYWlsZXINCjw8L1NpemUgMzMvUm9vdCAxIDAgUi9JbmZvIDE0IDAgUi9JRFs8NkNFODUwMzMxMTVBREQ0MUJDQjc1MDNBQTBDQTQwREM+PDZDRTg1MDMzMTE1QURENDFCQ0I3NTAzQUEwQ0E0MERDPl0gL1ByZXYgMzE0MDIvWFJlZlN0bSAzMTA4MT4+DQpzdGFydHhyZWYNCjMyMjE5DQolJUVPRg=="}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service rcbev2 is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service rcbev2 is currently unavailable"}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}