{"openapi":"3.1.0","info":{"title":"bizapis","version":"2"},"servers":[{"url":"https://apigwws.bizapis.com/v2/documents/"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","x-default":"eyJuYW1lIjoiRG9jdW1lbnRhdGlvbiIsImxpY2Vuc2UiOiJiM2ZkZDQzYS1kMDNhLTQwMTctODRmNS1jZTc2ZmI3YzEwNDAiLCJ0eXBlIjowfQ","name":"Authorization","x-bearer-format":"bearer"}}},"security":[{"sec0":[]}],"paths":{"/at-aggregator":{"post":{"summary":"AT-Aggregator (Autoridade Tributária Agregador)","description":"Retrieve information about the current alerts, interactions and the integrated position from Autoridade Tributária","operationId":"at-aggregator","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user","password"],"properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"request":{"value":{"user":"test","password":"test"}},"Invalid Credentials":{"value":{"user":"<user>","password":"invalidCredentials"}},"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}},"Failed extract data":{"value":{"user":"<user>","password":"extractData"}},"Loading page timeout":{"value":{"user":"<user>","password":"pageTimeout"}},"Loading Problem reaching Authentication":{"value":{"user":"<user>","password":"reachAuthentication"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"<value>\",\n        \"Posicao Integrada\": [\n            {\n                \"title\": \"Patrimonio\",\n                \"status\": \"amarelo\"\n            },\n            {\n                \"title\": \"IRS\",\n                \"status\": \"vermelho\"\n            },\n            {\n                \"title\": \"IVA\",\n                \"status\": \"amarelo\"\n            }\n        ],\n        \"Alertas\": [\n            {\n                \"descriptionName\": \"IRC\",\n                \"description\": \"<description>\",\n                \"limitDate\": \"2023-10-26\"\n            },\n            {\n                \"descriptionName\": \"IUC\",\n                \"description\": \"<description>\",\n                \"limitDate\": \"2023-10-12\"\n            },\n            {\n                \"descriptionName\": \"IVA\",\n                \"description\": \"<description>\",\n                \"limitDate\": \"2023-10-05\"\n            },\n            {\n                \"descriptionName\": \"IMI\",\n                \"description\": \"<description>\",\n                \"limitDate\": \"2023-10-03\"\n            }\n        ],\n        \"Interacoes\": [\n            {\n                \"tax\": \"IRS\",\n                \"description\": \"Entrega da declaração\",\n                \"date\": \"2023-10-22\"\n            }\n        ]\n    }\n}"},"Invalid Credentials":{"value":"{\n    \"message\": \"Failed to login - Invalid Credentials\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"},"Failed extract data":{"value":"{\n    \"message\": \"Failed to extract data\"\n}"},"Loading page timeout":{"value":"{\n    \"message\": \"Problem loading the page (timeout)\"\n}"},"Login Problem reaching authentication":{"value":"{\n    \"message\": \"Failed to login - Problem reaching the authentication page.\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"<value>"},"Posicao Integrada":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","example":"Patrimonio"},"status":{"type":"string","example":"amarelo"}}}},"Alertas":{"type":"array","items":{"type":"object","properties":{"descriptionName":{"type":"string","example":"IRC"},"description":{"type":"string","example":"<description>"},"limitDate":{"type":"string","example":"2023-10-26"}}}},"Interacoes":{"type":"array","items":{"type":"object","properties":{"tax":{"type":"string","example":"IRS"},"description":{"type":"string","example":"Entrega da declaração"},"date":{"type":"string","example":"2023-10-22"}}}}}}}},{"title":"Invalid Credentials","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Invalid Credentials"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}},{"title":"Failed extract data","type":"object","properties":{"message":{"type":"string","example":"Failed to extract data"}}},{"title":"Loading page timeout","type":"object","properties":{"message":{"type":"string","example":"Problem loading the page (timeout)"}}},{"title":"Login Problem reaching authentication","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Problem reaching the authentication page."}}}]}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-aggregator is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-aggregator is currently unavailable"}}}}}}},"deprecated":false}},"/at-alert":{"post":{"summary":"AT-Alerts (Autoridade Tributária Alertas)","description":"Endpoint to retrieve the list of alerts in Autoridade Tributária.","operationId":"at-alerts","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user","password"],"properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Failed extract info":{"value":{"user":"<user>","password":"extractData"}},"Failed to login":{"value":{"user":"<user>","password":"failedLogin"}},"Alerts not found":{"value":{"user":"<user>","password":"notFound"}},"Unable access site":{"value":{"user":"<user>","password":"unableAccess"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"<value>\",\n        \"alerts\": [\n            {\n                \"descriptionName\": \"IRC\",\n                \"description\": \"Data limite para entrega da declaração Modelo 23 de IRC relativo a 2023\",\n                \"limitDate\": \"2023-10-05\"\n            }\n        ]\n    }\n}"},"Failed to login":{"value":"{\n    \"message\": \"Failed to login\"\n}"},"Error extracting info":{"value":"{\n    \"message\": \"Error extracting info\"\n}"},"Alerts not found":{"value":"{\n    \"message\": \"Can't find any alerts for the current account\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":"<value>"},"alerts":{"type":"array","items":{"type":"object","properties":{"descriptionName":{"type":"string","example":"IRC"},"description":{"type":"string","example":"Data limite para entrega da declaração Modelo 23 de IRC relativo a 2023"},"limitDate":{"type":"string","example":"2023-10-05"}}}}}}}},{"title":"Failed to login","type":"object","properties":{"message":{"type":"string","example":"Failed to login"}}},{"title":"Error extracting info","type":"object","properties":{"message":{"type":"string","example":"Error extracting info"}}},{"title":"Alerts not found","type":"object","properties":{"message":{"type":"string","example":"Can't find any alerts for the current account"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-alert is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-alert is currently unavailable"}}}}}}},"deprecated":false}},"/at-divida":{"post":{"summary":"AT-Divida (Autoridade Tributária Dívida/Não Dívida","description":"Endpoint to retrieve the document \"Dívida/Não Dívida\" from Autoridade Tributária","operationId":"at-divida","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"223147789"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Document not found":{"value":{"user":"<user>","password":"notFound"}},"Error Extracting file":{"value":{"user":"<user>","password":"extractingFile"}},"Loading Timeout":{"value":{"user":"<user>","password":"loadingTimeout"}},"Error extracting data":{"value":{"user":"<user>","password":"extractingData"}},"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}},"Invalid Credentials":{"value":{"user":"<user>","password":"invalidCredentials"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"\"\n    },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Document not found":{"value":"{\n    \"message\": \"Document not found\"\n}"},"Error extracting file":{"value":"{\n    \"message\": \"Error extracting file\"\n}"},"Loading Timeout":{"value":"{\n    \"message\": \"Problem loading the page (timeout)\"\n}"},"Error extracting data":{"value":"{\n    \"message\": \"Failed to extract data\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"},"Invalid Credentials":{"value":"{\n    \"message\": \"Failed to login - Invalid Credentials\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":""}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Document not found","type":"object","properties":{"message":{"type":"string","example":"Document not found"}}},{"title":"Error extracting file","type":"object","properties":{"message":{"type":"string","example":"Error extracting file"}}},{"title":"Loading Timeout","type":"object","properties":{"message":{"type":"string","example":"Problem loading the page (timeout)"}}},{"title":"Error extracting data","type":"object","properties":{"message":{"type":"string","example":"Failed to extract data"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}},{"title":"Invalid Credentials","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Invalid Credentials"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>\n"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-divida is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-divida is currently unavailable"}}}}}}},"deprecated":false}},"/at-interacoes":{"post":{"summary":"AT-Interações (Autoridade Tributária - Interações)","description":"Endpoint to retrieve list of \"Interações\" present in Autoridade Tributária","operationId":"at-interações","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user","password"],"properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Request Example":{"value":{"user":"test","password":"test"}},"Failed Authentication":{"value":{"user":"<user>","password":"failedLogin"}},"Unable access site":{"value":{"user":"<user>","password":"unableAccess"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"<value>\",\n        \"Interacoes\": [\n            {\n                \"tax\": \"IRS\",\n                \"description\": \"Entrega da declaração\",\n                \"date\": \"2023-10-22\"\n            }\n        ]\n    }\n}"},"Failed authentication":{"value":"{\n    \"message\": \"Failed during authentication\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"<value>"},"Interacoes":{"type":"array","items":{"type":"object","properties":{"tax":{"type":"string","example":"IRS"},"description":{"type":"string","example":"Entrega da declaração"},"date":{"type":"string","example":"2023-10-22"}}}}}}}},{"title":"Failed authentication","type":"object","properties":{"message":{"type":"string","example":"Failed during authentication"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-interacoes is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-interacoes is currently unavailable"}}}}}}},"deprecated":false}},"/at-irc":{"post":{"summary":"AT-IRC (Autoridade Tributária-Imposto Sobre o Rendimento)","description":"Endpoint to retrieve the list of IRC (Imposto sobre o Rendimento das Pessoas Coletivas) in Autoridade Tributária.","operationId":"irc","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Reaching authentication page":{"value":{"user":"<user>","password":"reachAuthentication"}},"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}},"Invalid Credentials":{"value":{"user":"<user>","password":"invalidCredentials"}},"Unable access":{"value":{"user":"<user>","password":"unableAccess"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"\",\n        \"alert\": \"Está a decorrer até 2023-02-31 o prazo de entrega da declaração modelo 22 IRC para 2022\",\n        \"list\": [\n            {\n                \"year\": \"2022\",\n                \"situation\": \"NAO LIQUIDAVEL\",\n                \"date\": \"2023-03-04\"\n            },\n            {\n                \"year\": \"2021\",\n                \"situation\": \"LIQUIDAVEL\",\n                \"date\": \"2022-03-07\"\n            },\n            {\n                \"year\": \"2020\",\n                \"situation\": \"LIQUIDAVEL\",\n                \"date\": \"2021-12-01\"\n            },\n            {\n                \"year\": \"2019\",\n                \"situation\": \"LIQUIDAVEL\",\n                \"date\": \"2020-01-31\"\n            }\n        ]\n    }\n}"},"Reaching authentication page":{"value":"{\n    \"message\": \"Failed to login - Problem reaching the authentication page\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"},"Invalid Credentials":{"value":"{\n    \"message\": \"Failed to login - Invalid Credentials\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":""},"alert":{"type":"string","example":"Está a decorrer até 2023-02-31 o prazo de entrega da declaração modelo 22 IRC para 2022"},"list":{"type":"array","items":{"type":"object","properties":{"year":{"type":"string","example":"2022"},"situation":{"type":"string","example":"NAO LIQUIDAVEL"},"date":{"type":"string","example":"2023-03-04"}}}}}}}},{"title":"Reaching authentication page","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Problem reaching the authentication page"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}},{"title":"Invalid Credentials","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Invalid Credentials"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>\n"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"\n{\n    \"message\": \"Service at-irc is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-irc is currently unavailable"}}}}}}},"deprecated":false}},"/at-iva-sa":{"post":{"summary":"AT-IVA- SA (Autoridade Tributária-IVA Situação Atual)","description":"Endpoint to retrieve the list of IVA (Imposto sobre Valor Acrescentado Situação Atual) in Autoridade Tributária.","operationId":"at-iva-sa-autoridade-tributária-iva-situação-atual","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}},"Unable access":{"value":{"user":"<user>","password":"unableAccess"}},"Failed to login":{"value":{"user":"<user>","password":"failedLogin"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"\",\n        \"ivaList\": {\n            \"2019\": [\n                {\n                    \"periodo\": \"1901\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1902\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"0\"\n                },\n                {\n                    \"periodo\": \"1903\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1904\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"0\"\n                },\n                {\n                    \"periodo\": \"1905\",\n                    \"entregues\": \"0\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"1\",\n                    \"declaracaoRecapit\": \"0\"\n                },\n                {\n                    \"periodo\": \"1906\",\n                    \"entregues\": \"0\",\n                    \"emFalta\": \"1\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1907\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"1\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1908\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1909\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1910\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1911\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"1912\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"1\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"1\",\n                    \"declaracaoRecapit\": \"0\"\n                }\n            ],\n            \"2023\": [\n                {\n                    \"periodo\": \"2301\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"1\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                },\n                {\n                    \"periodo\": \"2302\",\n                    \"entregues\": \"0\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"0\"\n                },\n                {\n                    \"periodo\": \"2303\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"0\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"0\"\n                },\n                {\n                    \"periodo\": \"2304\",\n                    \"entregues\": \"1\",\n                    \"emFalta\": \"0\",\n                    \"reembolsoPedido\": \"1\",\n                    \"reembolsoEmAnalise\": \"-\",\n                    \"reembolsoDeferido\": \"0\",\n                    \"declaracaoRecapit\": \"1\"\n                }\n            ]\n        }\n    }\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"},"Failed to Login":{"value":"{\n    \"message\": \"Failed to login\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":""},"ivaList":{"type":"object","properties":{"2019":{"type":"array","items":{"type":"object","properties":{"periodo":{"type":"string","example":"1901"},"entregues":{"type":"string","example":"1"},"emFalta":{"type":"string","example":"0"},"reembolsoPedido":{"type":"string","example":"0"},"reembolsoEmAnalise":{"type":"string","example":"-"},"reembolsoDeferido":{"type":"string","example":"0"},"declaracaoRecapit":{"type":"string","example":"1"}}}},"2023":{"type":"array","items":{"type":"object","properties":{"periodo":{"type":"string","example":"2301"},"entregues":{"type":"string","example":"1"},"emFalta":{"type":"string","example":"0"},"reembolsoPedido":{"type":"string","example":"1"},"reembolsoEmAnalise":{"type":"string","example":"-"},"reembolsoDeferido":{"type":"string","example":"0"},"declaracaoRecapit":{"type":"string","example":"1"}}}}}}}}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}},{"title":"Failed to Login","type":"object","properties":{"message":{"type":"string","example":"Failed to login"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"\n{\n    \"message\": \"Service at-iva-sa is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-iva-sa is currently unavailable"}}}}}}},"deprecated":false}},"/at-iva-enquadramento":{"post":{"summary":"AT-IVA-Enquadramento (Autoridade Tributária Enquadramento do IVA)","description":"Endpoint to retrieve the list of IVA (Imposto sobre Valor Acrescentado Enquadramento) in Autoridade Tributária.","operationId":"at-iva-enquadramento-autoridade-tributária-enquadramento-do-iva","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Invalid Credentials":{"value":{"user":"<user>","password":"invalidCredentials"}},"Failed extract data":{"value":{"user":"<user>","password":"extractData"}},"Loading problem reaching authentication":{"value":{"user":"<user>","password":"reachAuthentication"}},"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"<value>\",\n        \"enquadramento\": \"Normal Mensal\",\n        \"dataDeEnquadramento\": \"2003-12-01\",\n        \"situacao\": \"Enquadramento em vigor\",\n        \"dataDeCessao\": \"-\",\n        \"motivoDeCessao\": \"-\",\n        \"nifDaCaessao\": \"-\",\n        \"nomeDoCessionario\": null,\n        \"atividadeConstante\": \"NÃO\",\n        \"descricao\": \"-\",\n        \"tipoOperacoes\": \"Que conferem direito à dedução\",\n        \"proRataDeducaoIva\": \"2%\",\n        \"transacaoIntracomunitariasBens\": \"-\",\n        \"opcaoRenuncia\": \"NÃO\",\n        \"opcaoRegime\": \"-\",\n        \"opcaoPeriodicidade\": \"NÃO\",\n        \"prestacao\": \"SIM\",\n        \"importacoes\": \"NAO\",\n        \"exportacoes\": \"SIM\",\n        \"aquisicoes\": \"NAO\",\n        \"trasnmissoes\": \"SIM\",\n        \"reembolsoSituacao\": \"-\",\n        \"reembolsoDataInicio\": \"-\",\n        \"reembolsoDataFim\": \"-\",\n        \"ivaDataInicio\": \"-\",\n        \"ivaDataFim\": \"-\",\n        \"ivaMotivo\": \"-\",\n        \"importacoesDataInicio\": \"-\",\n        \"importacoesDataFim\": \"-\",\n        \"importacoesMotivo\": \"-\",\n        \"forfetarioDataInicio\": \"-\",\n        \"forfetarioDataFim\": \"-\",\n        \"forfetarioMotivo\": \"-\"\n    }\n}"},"Login reaching authentication":{"value":"{\n    \"message\": \"Failed to login - Problem reaching the authentication page.\"\n}"},"Failed extract data":{"value":"{\n    \"message\": \"Failed to extract data\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"},"Invalid Credentials":{"value":"{\n    \"message\": \"Failed to login - Invalid Credentials\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"<value>"},"enquadramento":{"type":"string","example":"Normal Mensal"},"dataDeEnquadramento":{"type":"string","example":"2003-12-01"},"situacao":{"type":"string","example":"Enquadramento em vigor"},"dataDeCessao":{"type":"string","example":"-"},"motivoDeCessao":{"type":"string","example":"-"},"nifDaCaessao":{"type":"string","example":"-"},"nomeDoCessionario":{},"atividadeConstante":{"type":"string","example":"NÃO"},"descricao":{"type":"string","example":"-"},"tipoOperacoes":{"type":"string","example":"Que conferem direito à dedução"},"proRataDeducaoIva":{"type":"string","example":"2%"},"transacaoIntracomunitariasBens":{"type":"string","example":"-"},"opcaoRenuncia":{"type":"string","example":"NÃO"},"opcaoRegime":{"type":"string","example":"-"},"opcaoPeriodicidade":{"type":"string","example":"NÃO"},"prestacao":{"type":"string","example":"SIM"},"importacoes":{"type":"string","example":"NAO"},"exportacoes":{"type":"string","example":"SIM"},"aquisicoes":{"type":"string","example":"NAO"},"trasnmissoes":{"type":"string","example":"SIM"},"reembolsoSituacao":{"type":"string","example":"-"},"reembolsoDataInicio":{"type":"string","example":"-"},"reembolsoDataFim":{"type":"string","example":"-"},"ivaDataInicio":{"type":"string","example":"-"},"ivaDataFim":{"type":"string","example":"-"},"ivaMotivo":{"type":"string","example":"-"},"importacoesDataInicio":{"type":"string","example":"-"},"importacoesDataFim":{"type":"string","example":"-"},"importacoesMotivo":{"type":"string","example":"-"},"forfetarioDataInicio":{"type":"string","example":"-"},"forfetarioDataFim":{"type":"string","example":"-"},"forfetarioMotivo":{"type":"string","example":"-"}}}}},{"title":"Login reaching authentication","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Problem reaching the authentication page."}}},{"title":"Failed extract data","type":"object","properties":{"message":{"type":"string","example":"Failed to extract data"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}},{"title":"Invalid Credentials","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Invalid Credentials"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-iva-enquadramento is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-iva-enquadramento is currently unavailable"}}}}}}},"deprecated":false}},"/at-iva-dp":{"post":{"summary":"AT-IVA-DP (Autoridade Tributária IVA Declarações Periódicas)","description":"Endpoint to retrieve the list of IVA (Imposto sobre Valor Acrescentado Declaração periódica) in Autoridade Tributária.","operationId":"at-iva-dp-autoridade-tributária-iva-declarações-periódicas","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["user","password"],"properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Login Timeout":{"value":{"user":"<user>","password":"loginTimeout"}},"Failed login":{"value":{"user":"<user>","password":"failedLogin"}},"Exceeds limit":{"value":{"user":"<user>","password":"exceedsLimit"}},"Unable access":{"value":{"user":"<user>","password":"unableAccess"}},"Input negative page number":{"value":{"user":"<user>","password":"negativeNumbers"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"<value>\",\n        \"results\": \"30\",\n        \"totalPages\": 2,\n        \"atIvaList\": [\n            {\n                \"declaracao\": \"1112342680\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2302\",\n                \"estado\": \"Liquidável\",\n                \"dataSub\": \"2023-04-03\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"0987657520\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2301\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2023-03-02\",\n                \"valor\": \"-1.000,00\"\n            },\n            {\n                \"declaracao\": \"119876546\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2212\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2023-02-06\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"1876543887\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2211\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-12-29\",\n                \"valor\": \"-1.000,00\"\n            },\n            {\n                \"declaracao\": \"23456780028\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2209\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-11-04\",\n                \"valor\": \"-10.000,00\"\n            },\n            {\n                \"declaracao\": \"1127654\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2208\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-10-11\",\n                \"valor\": \"-1.000,00\"\n            },\n            {\n                \"declaracao\": \"1234567890\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2207\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-09-01\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"11237098765435\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2206\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-08-10\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"112373076500\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2205\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-07-08\",\n                \"valor\": \"-1.000,00\"\n            },\n            {\n                \"declaracao\": \"198765400420\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2203\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-05-09\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"112362495078\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2202\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-04-08\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"11237098765412\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2201\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2022-03-09\",\n                \"valor\": \"-1.000,00\"\n            },\n            {\n                \"declaracao\": \"11237098765413\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2302\",\n                \"estado\": \"Liquidável\",\n                \"dataSub\": \"2023-04-03\",\n                \"valor\": \"null\"\n            },\n            {\n                \"declaracao\": \"11237098765414\",\n                \"vigente\": \"Sim\",\n                \"periodo\": \"2301\",\n                \"estado\": \"Liquidada\",\n                \"dataSub\": \"2023-03-02\",\n                \"valor\": \"-8.355,95\"\n            }\n        ]\n    }\n}"},"Input negative page number":{"value":"{\n    \"message\": \"Tee field pagina does not allow negative numbers \"\n}"},"Failed to login":{"value":"{\n    \"message\": \"Failed to login\"\n}"},"Page requested exceeds the limit":{"value":"{\n    \"message\": \"Page number requested exceeds the limit\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"},"Login Timeout":{"value":"{\n    \"message\": \"Failed to login - Website Timeout\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"<value>"},"results":{"type":"string","example":"30"},"totalPages":{"type":"integer","example":2,"default":0},"atIvaList":{"type":"array","items":{"type":"object","properties":{"declaracao":{"type":"string","example":"1112342680"},"vigente":{"type":"string","example":"Sim"},"periodo":{"type":"string","example":"2302"},"estado":{"type":"string","example":"Liquidável"},"dataSub":{"type":"string","example":"2023-04-03"},"valor":{"type":"string","example":"null"}}}}}}}},{"title":"Input negative page number","type":"object","properties":{"message":{"type":"string","example":"Tee field pagina does not allow negative numbers "}}},{"title":"Failed to login","type":"object","properties":{"message":{"type":"string","example":"Failed to login"}}},{"title":"Page requested exceeds the limit","type":"object","properties":{"message":{"type":"string","example":"Page number requested exceeds the limit"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}},{"title":"Login Timeout","type":"object","properties":{"message":{"type":"string","example":"Failed to login - Website Timeout"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-iva-dp is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-iva-dp is currently unavailable"}}}}}}},"deprecated":false}},"/at-pi":{"post":{"summary":"AT-PI (Autoridade Tributária Posição Integrada)","description":"Endpoint to retrieve the values corresponding to Posição Integrada in Autoridade Tributária.","operationId":"at-pi-autoridade-tributária-posição-integrada","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"}}},"examples":{"Failed to login":{"value":{"user":"<user>","password":"failedLogin"}},"Unable access":{"value":{"user":"<user>","password":"unableAccess"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"<value>\",\n        \"atpiList\": [\n            {\n                \"title\": \"Património\",\n                \"status\": \"vermelho\"\n            },\n            {\n                \"title\": \"IRC\",\n                \"status\": \"amarelo\"\n            },\n            {\n                \"title\": \"IVA\",\n                \"status\": \"verde\"\n            },\n            {\n                \"title\": \"IUC\",\n                \"status\": \"amarelo\"\n            }\n        ]\n    }\n}"},"Failed to login":{"value":"{\n    \"message\": \"Failed to login\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"<value>"},"atpiList":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","example":"Património"},"status":{"type":"string","example":"vermelho"}}}}}}}},{"title":"Failed to login","type":"object","properties":{"message":{"type":"string","example":"Failed to login"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-pi is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-pi is currently unavailable"}}}}}}},"deprecated":false}},"/at-docs":{"post":{"summary":"CP (Caderneta Predial)","description":"The building book is a document that contains all relevant information about the property. This endpoint retrieves this document in an encoded base64 pdf.","operationId":"at-docs-caderneta-predial","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"requirer_nif":{"type":"string","default":"testNif"},"validation_code":{"type":"string","default":"testCode"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"\"\n    },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Document does not exist":{"value":"{\n    \"message\": \"Document doesn't exist\"\n}"},"Incorrect nif":{"value":"{\n    \"message\": \"The input nif is incorrect\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":""}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Document does not exist","type":"object","properties":{"message":{"type":"string","example":"Document doesn't exist"}}},{"title":"Incorrect nif","type":"object","properties":{"message":{"type":"string","example":"The input nif is incorrect"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service at-docs is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service at-docs is currently unavailable"}}}}}}},"deprecated":false}},"/ce":{"post":{"summary":"CE (Certificados Energéticos)","description":"The CE is a digital document that evaluates the energy performance of a home. This endpoint permits the consult of energy certificates.","operationId":"ce-certificados-energéticos","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"txtNumDoc":{"type":"string","description":"The ID of the certificado. This field can also be called as \"code\"."},"distritosCESelect":{"type":"string","description":"It can be the id or name of the district (ex: distritosCESelect:\"AVEIRO\" or distritosCESelect:\"1\")"},"concelhosCESelect":{"type":"string","description":"It can be the id or name of the county (ex: concelhosCESelect:\"ANADIA\" or concelhosCESelect:\"3\")"},"freguesiasCESelect":{"type":"string","description":"It can be the id or name of the parish (ex: freguesiasCESelect:\"MOITA\" or freguesiasCESelect:\"07\")"},"txtMoradaCE":{"type":"string"},"txtConservatoria":{"type":"string"},"txtSobONum":{"type":"string"},"txtArtMatricial":{"type":"string"},"txtFracAutonoma":{"type":"string"},"resultsPorPagina":{"type":"string","default":"10"},"numeroPaginaCE":{"type":"string","default":"0"},"ComparingMorada":{"type":"string"},"ComparingFraAutonoma":{"type":"string"},"ComparingTipoDocumento":{"type":"string"},"ComparingLocalidade":{"type":"string"},"ComparingFreguesia":{"type":"string"},"ComparingConcelho":{"type":"string"},"ComparingDataEmissao":{"type":"string"},"ComparingDataValidade":{"type":"string"},"ComparingNumPeritoQualificado":{"type":"string"},"ComparingClasseEnergetica":{"type":"string"},"ComparingArtigoMatricial":{"type":"string"},"ComparingConservatoria":{"type":"string"},"ComparingNumConservatoria":{"type":"string"},"ComparingTituloDocumento":{"type":"string"},"ComapringNumDocumento":{"type":"string"}}},"examples":{"Request multiple documents":{"value":{"distritosCESelect":"11","concelhosCESelect":"10","ComparingMorada":"Rua 12","freguesiasCESelect":"14"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"TituloDocumento\": \"Certificado de Desempenho Energético\",\n        \"RequestId\": \"51248ec9-4433-4f48-9a62-bc5359c2944c\",\n        \"NumDocumento\": \"SCE0000103950624\",\n        \"TipoDocumento\": \"Certificado\",\n        \"Morada\": \"Urbanização Vale do Arão Lote J Z\",\n        \"Localidade\": \"MEXILHOEIRA GRANDE\",\n        \"Freguesia\": \"MEXILHOEIRA GRANDE\",\n        \"Concelho\": \"PORTIMÃO\",\n        \"DataEmissao\": \"2015/05/12\",\n        \"DataValidade\": \"2025/05/12\",\n        \"NumPeritoQualificado\": \"PQ01061\",\n        \"ClasseEnergetica\": \"C\",\n        \"ArtigoMatricial\": \"3842\",\n        \"Conservatoria\": \"PORTIMÃO\",\n        \"NumConservatoria\": \"1085\",\n        \"FracaoAutonoma\": \"Z\"\n    },\n    \"file\": \"<base64pdf>\"\n}"},"Temporary issue":{"value":"{\n    \"message\": \"There is a temporary issue; PLease try again later.\"\n}"},"Too many values":{"value":"{\n    \"message\": \"Value requested <resultsRequested> is greater than the minimum results <resultsPerPage>\"\n}"},"No results found":{"value":"{\n    \"message\": \"No results found...\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"TituloDocumento":{"type":"string","example":"Certificado de Desempenho Energético"},"RequestId":{"type":"string","example":"51248ec9-4433-4f48-9a62-bc5359c2944c"},"NumDocumento":{"type":"string","example":"SCE0000103950624"},"TipoDocumento":{"type":"string","example":"Certificado"},"Morada":{"type":"string","example":"Urbanização Vale do Arão Lote J Z"},"Localidade":{"type":"string","example":"MEXILHOEIRA GRANDE"},"Freguesia":{"type":"string","example":"MEXILHOEIRA GRANDE"},"Concelho":{"type":"string","example":"PORTIMÃO"},"DataEmissao":{"type":"string","example":"2015/05/12"},"DataValidade":{"type":"string","example":"2025/05/12"},"NumPeritoQualificado":{"type":"string","example":"PQ01061"},"ClasseEnergetica":{"type":"string","example":"C"},"ArtigoMatricial":{"type":"string","example":"3842"},"Conservatoria":{"type":"string","example":"PORTIMÃO"},"NumConservatoria":{"type":"string","example":"1085"},"FracaoAutonoma":{"type":"string","example":"Z"}}},"file":{"type":"string","example":"<base64pdf>"}}},{"title":"Temporary issue","type":"object","properties":{"message":{"type":"string","example":"There is a temporary issue; PLease try again later."}}},{"title":"Too many values","type":"object","properties":{"message":{"type":"string","example":"Value requested <resultsRequested> is greater than the minimum results <resultsPerPage>"}}},{"title":"No results found","type":"object","properties":{"message":{"type":"string","example":"No results found..."}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"text/plain":{"examples":{"Result":{"value":"{\n    \"message\": \"Service ce is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service ce is currently unavailable"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"{\n    \"code\": \"SCE0000318415527\"\n}","name":"Request one document"}],"samples-languages":["text"]}}},"/cpp":{"post":{"summary":"CPP (Certidão Permanente Predial)","description":"The permanent property certificate is a digital document with all records about a property. With this endpoint it's possible to obtain the document in encoded base64.","operationId":"cpp","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string","description":"Certificate code","default":"PL-1111-11111-111111-111111"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"<value>\"\n    },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Error searching the document":{"value":"{\n    \"message\": \"Error searching for document <code>. RequestId: <requestId>\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":"<value>"}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Error searching the document","type":"object","properties":{"message":{"type":"string","example":"Error searching for document <code>. RequestId: <requestId>"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service cpp is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service cpp is currently unavailable"}}}}}}},"deprecated":false}},"/cprc":{"post":{"summary":"CPRC (Certidão Permanente de Registo Comercial)","description":"CPRC ensures access to records and documents of any entity subject to commercial registration - companies, societies, cooperatives, public companies or others. This service replaced the now deprecated crc-service","operationId":"cprc-certidão-permanente-de-registo-comercial","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["crc"],"properties":{"crc":{"type":"string","description":"Certificate code"},"client_id":{"type":"string","default":"no_client"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"request-id\": \"<value>\",\n        \"client_id\": \"no_client\",\n        \"CRC\": \"<value>\",\n        \"NIPC\": \"<value>\",\n        \"titulo\": \"Certidão Permanente\",\n        \"NomeEmpresa\": \"<value>\",\n        \"NaturezaJuridica\": \"SOCIEDADE POR QUOTAS\",\n        \"MoradaSede\": {\n            \"Morada\": \"<value>\",\n            \"Distrito\": \"Lisboa\",\n            \"Concelho\": \"Lisboa\",\n            \"Freguesia\": \"Alcântara\"\n        },\n        \"CapitalSocial\": {\n            \"Montante\": \"<value>\",\n            \"Moeda\": \"EUR\",\n            \"Data\": \"02-06-1999\"\n        },\n        \"CAE\": {\n            \"Principal\": \"<value>\",\n            \"Secundario\": []\n        },\n        \"FormaObrigar\": \"com a assinatura de um gerente\",\n        \"DataCriacao\": \"02-06-1999\",\n        \"DuracaoMandato\": null,\n        \"DataFimMandato\": null,\n        \"Representantes\": [\n            {\n                \"Nome\": \"<value>\",\n                \"NIFNIPC\": \"<value>\",\n                \"Cargo\": \"GERENTE\",\n                \"BEF\": true,\n                \"PercentagemCapitalDetido\": \"86.67\",\n                \"EstadoCivil\": \"Divorciado\",\n                \"NomeConjuge\": \"<value>\",\n                \"RegimeBens\": \"Separação de bens\",\n                \"Sede\": {\n                    \"Morada\": \"<value>\",\n                    \"CodigoPostal\": \"<value>\",\n                    \"Localidade\": \"LISBOA\"\n                }\n            },\n            {\n                \"Nome\": \"<value>\",\n                \"NIFNIPC\": \"<value>\",\n                \"Cargo\": \"SOCIO SEM CARGO\",\n                \"BEF\": false,\n                \"PercentagemCapitalDetido\": \"1.33\",\n                \"EstadoCivil\": \"Solteiro Maior\",\n                \"Sede\": {\n                    \"Morada\": \"<value>\",\n                    \"CodigoPostal\": \"<value>\",\n                    \"Localidade\": \"LISBOA\"\n                }\n            },\n            {\n                \"Nome\": \"<value>\",\n                \"NIFNIPC\": \"<value>\",\n                \"Cargo\": null,\n                \"BEF\": null,\n                \"PercentagemCapitalDetido\": \"12.0\",\n                \"Sede\": {\n                    \"Morada\": \"<value>\",\n                    \"CodigoPostal\": \"<value>\",\n                    \"Localidade\": \"LISBOA\"\n                }\n            }\n        ],\n        \"DataValidade\": \"20-03-2025\",\n        \"Socios\": {\n            \"Unipessoal_SocioPessoaSingular\": null,\n            \"Unipessoal_SocioPessoaColetiva\": null,\n            \"SociosSingulares\": false,\n            \"SociosColetivos\": false,\n            \"SociosSingulareseColetivos\": true,\n            \"SociosGerentes\": [\n                \"<value>\"\n            ],\n            \"ListaDeSocios\": [\n                {\n                    \"Nome\": \"<value>\",\n                    \"NIFNIPC\": \"<value>\",\n                    \"EstadoCivil\": \"Divorciado\",\n                    \"ResidenciaSede\": \"<value>\",\n                    \"TipodeSocio\": \"Pessoa Singular\",\n                    \"Cargo\": \"GERENTE\",\n                    \"BEF\": true,\n                    \"SocioGerente\": true,\n                    \"PercentagemCapitalDetido\": \"86.67\",\n                    \"ValorCapitalDetido\": \"<value>\"\n                },\n                {\n                    \"Nome\": \"<value>\",\n                    \"NIFNIPC\": \"<value>\",\n                    \"EstadoCivil\": \"Solteiro Maior\",\n                    \"ResidenciaSede\": \"<value>\",\n                    \"TipodeSocio\": \"Pessoa Singular\",\n                    \"Cargo\": \"SOCIO SEM CARGO\",\n                    \"BEF\": false,\n                    \"SocioGerente\": null,\n                    \"PercentagemCapitalDetido\": \"1.33\",\n                    \"ValorCapitalDetido\": \"<value>\"\n                },\n                {\n                    \"Nome\": \"<value>\",\n                    \"NIFNIPC\": \"<value>\",\n                    \"EstadoCivil\": null,\n                    \"ResidenciaSede\": \"<value>\",\n                    \"TipodeSocio\": \"Pessoa Coletiva\",\n                    \"Cargo\": null,\n                    \"BEF\": null,\n                    \"SocioGerente\": null,\n                    \"PercentagemCapitalDetido\": \"12.0\",\n                    \"ValorCapitalDetido\": \"<value>\"\n                }\n            ]\n        },\n        \"FactosPendentes\": false,\n        \"Objecto\": \"<value>\",\n\t\t\"Representantes_Gerentes\": [\n            {\n                \"Nome\": \"<value>\",\n                \"NIFNIPC\": \"<value>\"\n            }\n        ],\n        \"NumeroRepresentantesGerentes\": 1,\n        \"PoderesDeAssinatura\": {\n            \"ObrigaCom1Assinatura\": [\n                \"189869933\"\n            ],\n            \"ObrigaCom2Assinaturas\": []\n        },\n        \"Tem_Erro_Leitura\": false,\n        \"SociedadeAnonima\": false,\n        \"SociedadePorQuotas\": true\n    },\n    \"b64file\": \"<document encoded in base64>\",\n\t\"message\": null\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"request-id":{"type":"string","example":"<value>"},"client_id":{"type":"string","example":"no_client"},"CRC":{"type":"string","example":"<value>"},"NIPC":{"type":"string","example":"<value>"},"titulo":{"type":"string","example":"Certidão Permanente"},"NomeEmpresa":{"type":"string","example":"<value>"},"NaturezaJuridica":{"type":"string","example":"SOCIEDADE POR QUOTAS"},"MoradaSede":{"type":"object","properties":{"Morada":{"type":"string","example":"<value>"},"Distrito":{"type":"string","example":"Lisboa"},"Concelho":{"type":"string","example":"Lisboa"},"Freguesia":{"type":"string","example":"Alcântara"}}},"CapitalSocial":{"type":"object","properties":{"Montante":{"type":"string","example":"<value>"},"Moeda":{"type":"string","example":"EUR"},"Data":{"type":"string","example":"02-06-1999"}}},"CAE":{"type":"object","properties":{"Principal":{"type":"string","example":"<value>"},"Secundario":{"type":"array"}}},"FormaObrigar":{"type":"string","example":"com a assinatura de um gerente"},"DataCriacao":{"type":"string","example":"02-06-1999"},"DuracaoMandato":{},"DataFimMandato":{},"Representantes":{"type":"array","items":{"type":"object","properties":{"Nome":{"type":"string","example":"<value>"},"NIFNIPC":{"type":"string","example":"<value>"},"Cargo":{"type":"string","example":"GERENTE"},"BEF":{"type":"boolean","example":true,"default":true},"PercentagemCapitalDetido":{"type":"string","example":"86.67"},"EstadoCivil":{"type":"string","example":"Divorciado"},"NomeConjuge":{"type":"string","example":"<value>"},"RegimeBens":{"type":"string","example":"Separação de bens"},"Sede":{"type":"object","properties":{"Morada":{"type":"string","example":"<value>"},"CodigoPostal":{"type":"string","example":"<value>"},"Localidade":{"type":"string","example":"LISBOA"}}}}}},"DataValidade":{"type":"string","example":"20-03-2025"},"Socios":{"type":"object","properties":{"Unipessoal_SocioPessoaSingular":{},"Unipessoal_SocioPessoaColetiva":{},"SociosSingulares":{"type":"boolean","example":false,"default":true},"SociosColetivos":{"type":"boolean","example":false,"default":true},"SociosSingulareseColetivos":{"type":"boolean","example":true,"default":true},"SociosGerentes":{"type":"array","items":{"type":"string","example":"<value>"}},"ListaDeSocios":{"type":"array","items":{"type":"object","properties":{"Nome":{"type":"string","example":"<value>"},"NIFNIPC":{"type":"string","example":"<value>"},"EstadoCivil":{"type":"string","example":"Divorciado"},"ResidenciaSede":{"type":"string","example":"<value>"},"TipodeSocio":{"type":"string","example":"Pessoa Singular"},"Cargo":{"type":"string","example":"GERENTE"},"BEF":{"type":"boolean","example":true,"default":true},"SocioGerente":{"type":"boolean","example":true,"default":true},"PercentagemCapitalDetido":{"type":"string","example":"86.67"},"ValorCapitalDetido":{"type":"string","example":"<value>"}}}}}},"FactosPendentes":{"type":"boolean","example":false,"default":true},"Objecto":{"type":"string","example":"<value>"},"Representantes_Gerentes":{"type":"array","items":{"type":"object","properties":{"Nome":{"type":"string","example":"<value>"},"NIFNIPC":{"type":"string","example":"<value>"}}}},"NumeroRepresentantesGerentes":{"type":"integer","example":1,"default":0},"PoderesDeAssinatura":{"type":"object","properties":{"ObrigaCom1Assinatura":{"type":"array","items":{"type":"string","example":"189869933"}},"ObrigaCom2Assinaturas":{"type":"array"}}},"Tem_Erro_Leitura":{"type":"boolean","example":false,"default":true},"SociedadeAnonima":{"type":"boolean","example":false,"default":true},"SociedadePorQuotas":{"type":"boolean","example":true,"default":true}}},"b64file":{"type":"string","example":"<document encoded in base64>"},"message":{}}}}}},"201":{"description":"201","content":{"application/json":{"examples":{"Response after 30 seconds":{"value":"{\n    \"request_id\": \"<value>\",\n    \"status\": \"pending\"\n}"}},"schema":{"type":"object","properties":{"request_id":{"type":"string","example":"<value>"},"status":{"type":"string","example":"pending"}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Not Found":{"value":"{\n    \"data\": null,\n    \"b64file\": null,\n    \"message\": \"{\\\"msg\\\":\\\"Não existe qualquer certidão com esse número.\\\"}\"\n}"},"Wrong input lenght":{"value":"{\n    \"message\": \"{\\\"msg\\\":\\\"O \\\"Código da certidão a aceder\\\" tem que ser composto por 14 dígitos.\\\"}\"\n}"}},"schema":{"oneOf":[{"title":"Not Found","type":"object","properties":{"data":{},"b64file":{},"message":{"type":"string","example":"{\"msg\":\"Não existe qualquer certidão com esse número.\"}"}}},{"title":"Wrong input lenght","type":"object","properties":{"message":{"type":"string","example":"{\"msg\":\"O \"Código da certidão a aceder\" tem que ser composto por 14 dígitos.\"}"}}}]}}}},"500":{"description":"500","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 500 – Internal Server Error</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 500 – Internal Server Error</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service cprc is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service cprc is currently unavailable"}}}}}},"504":{"description":"504","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 504 – Gateway Timeout</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 504 – Gateway Timeout</h1>\n</body>\n\n</html>"}}}}}},"deprecated":false}},"/debt":{"post":{"summary":"Debt (Dívidas Autoridade Tributária/Segurança Social)","description":"Endpoint to identify if a person is currently in debt to Segurança Social or Autoridade Tributária.It takes the persons NIF and the portal that could assume the values \"AT\" (Autoridade Tributária) or \"SS\" (Segurança Social) as inputs","operationId":"debt","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["portal"],"properties":{"nif":{"type":"string","description":"Taxpayer identification number.","default":"214257071"},"portal":{"type":"string","description":"Value to choose between where the data should be retrieved. Segurança Social (SS) or Autoridade Tributária (AT)","default":"AT"}}},"examples":{"AT":{"value":{"nif":"<value>","portal":"AT"}},"SS":{"value":{"nif":"<value>","portal":"SS"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"RequestId\": \"3498a4ca-cc55-49bd-bdce-6254006c9f31\",\n        \"NIF\": \"<debtor's nif>\",\n        \"Name\": \"<debtor's name>\",\n        \"Last update\": \"2023-09-27\",\n        \"TierValueGreaterThan\": 25001,\n        \"TierValueLessThan\": 50000\n    }\n}"},"Resource not found":{"value":"{\n    \"message\": \"Resource not found\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"RequestId":{"type":"string","example":"3498a4ca-cc55-49bd-bdce-6254006c9f31"},"NIF":{"type":"string","example":"<debtor's nif>"},"Name":{"type":"string","example":"<debtor's name>"},"Last update":{"type":"string","example":"2023-09-27"},"TierValueGreaterThan":{"type":"integer","example":25001,"default":0},"TierValueLessThan":{"type":"integer","example":50000,"default":0}}}}},{"title":"Resource not found","type":"object","properties":{"message":{"type":"string","example":"Resource not found"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service debt is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service debt is currently unavailable"}}}}}}},"deprecated":false}},"/estado-empresa":{"post":{"summary":"Estado-Empresa (Estado da Empresa)","description":"The Estado-Empresais a digital document that assesses the company's status. This endpoint allows you to consult Publicações de Atos Societários e de outras entidades.","operationId":"estado-empresa","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"nipc":{"type":"string","description":"Legal Person Identification Number","default":"500004285"}}},"examples":{"Request Example":{"value":{"nipc":"500004285"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"Date\": \"2009-01-20\",\n        \"NIPC\": \"500004285\",\n        \"Entity\": \"Company name LDA\",\n        \"County\": \"Lisboa\",\n        \"Act/Fact\": \"DISSOLUÇÃO E ENCERRAMENTO DA LIQUIDAÇÃO NA SEQUÊNCIA DE PROCESSO ADMINISTRATIVO\",\n        \"Status\": \"Liquidada\",\n        \"Code\": \"003\"\n    }\n}"},"No results found":{"value":"{\n    \"message\": \"No results found\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"},"Retry":{"value":"{\n    \"message\": \"Please try again later\"\n}"},"Invalid NIPC":{"value":"{\n    \"message\": \"Invalid NIF / NIPC\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"Date":{"type":"string","example":"2009-01-20"},"NIPC":{"type":"string","example":"500004285"},"Entity":{"type":"string","example":"Company name LDA"},"County":{"type":"string","example":"Lisboa"},"Act/Fact":{"type":"string","example":"DISSOLUÇÃO E ENCERRAMENTO DA LIQUIDAÇÃO NA SEQUÊNCIA DE PROCESSO ADMINISTRATIVO"},"Status":{"type":"string","example":"Liquidada"},"Code":{"type":"string","example":"003"}}}}},{"title":"No results found","type":"object","properties":{"message":{"type":"string","example":"No results found"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}},{"title":"Retry","type":"object","properties":{"message":{"type":"string","example":"Please try again later"}}},{"title":"Invalid NIPC","type":"object","properties":{"message":{"type":"string","example":"Invalid NIF / NIPC"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service estadoEmpresa is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service estadoEmpresa is currently unavailable"}}}}}}},"deprecated":false}},"/ies":{"post":{"summary":"IES (Informação Empresarial Simplificada)","description":"This endpoint allows you to consult IES (Informação Empresarial Simplificada).","operationId":"ies-informação-empresarial-simplificada","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"nif":{"type":"string","default":"513097599"},"year":{"type":"integer","default":2021,"format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"anexoA\": {\n      \"q0101_nif\": 5.789547,\n      \"q0102_exercicio\": \"2023\",\n      \"q03_A5001\": 78451202.82,\n      \"q03_A5007\": 5451202.43,\n      \"q03_A5008\": 4782112.78,\n      \"q03_A5016\": 55.16,\n      \"q03_A5017\": -21185.55,\n      \"q03_A5020\": -21185.55,\n      \"q03_A5023\": -21185.55,\n      \"q03_A5024\": 3886.82,\n      \"q03_A5025\": -25072.37,\n      \"q04_A5101\": 20489.01,\n      \"q04_A5109\": 10993.49,\n      \"q04_A5112\": 31482.5,\n      \"q04_A5115\": 94214.54,\n      \"q04_A5117\": 78965412.68,\n      \"q04_A5119\": 66247852.13,\n      \"q04_A5125\": 888.56,\n      \"q04_A5126\": 78784.91,\n      \"q04_A5127\": 149726.41,\n      \"q04_A5128\": 5000.0,\n      \"q04_A5132\": 543.53,\n      \"q04_A5134\": 20805.74,\n      \"q04_A5138\": 26349.27,\n      \"q04_A5139\": -25072.37,\n      \"q04_A5141\": 1276.9,\n      \"q04_A5147\": 0.0,\n      \"q04_A5148\": 28.51,\n      \"q04_A5150\": 7239.9,\n      \"q04_A5152\": 500.0,\n      \"q04_A5153\": 140681.1,\n      \"q04_A5159\": 78965.51,\n      \"q04_A5160\": 852.51,\n      \"q04_A5161\": 888.41,\n      \"q05291_A6012\": 68.0,\n      \"q05291_A6013\": 86.0,\n      \"q05291_A6014\": 0.0,\n      \"q05291_A6015\": 76.0,\n      \"q05291_A6016\": 8.0,\n      \"q05291_A6017\": 0.0,\n      \"q05291_A6018\": 7.0,\n      \"q05291_A6019\": 4.0,\n      \"q05291_A6020\": 1.0,\n      \"q05291_A6021\": 0.0,\n      \"q05291_A6022\": 0.0,\n      \"q05291_A6023\": 0.0\n    },\n    \"anexoRSNC\": {\n      \"q031\": 1.0,\n      \"q032\": 0.0,\n      \"q04ALista\": {\n        \"q04ALinha\": [\n          {\n            \"q04A1\": \"620\",\n            \"q04A21\": \"Avenida da Graça n.º 888 RC Esq.º\",\n            \"q04A2SedeCodPostal\": \"7896\",\n            \"q04A2SedeUniFuncional\": \"1489\",\n            \"q04A23\": \"Lisboa\",\n            \"q04A24\": \"78\",\n            \"q04A25\": \"06\",\n            \"q04A26\": \"66\",\n            \"q04A28\": 9.785522,\n            \"q04A29\": \"info@hotmail.com\",\n            \"q04A210\": \"02\",\n            \"q04A211\": \"Forum Web\",\n            \"q04A212\": \"444\",\n            \"q04A213\": 1.0,\n            \"q04A21415\": true\n          }\n        ]\n      }\n    },\n    \"rosto\": {\n      \"q01Ano\": 2021.0,\n      \"q03Name\": \"Results New, Lda\",\n      \"q03Nif\": 5.7879421\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"anexoA":{"type":"object","properties":{"q0101_nif":{"type":"number","example":5.789547,"default":0},"q0102_exercicio":{"type":"string","example":"2023"},"q03_A5001":{"type":"number","example":78451202.82,"default":0},"q03_A5007":{"type":"number","example":5451202.43,"default":0},"q03_A5008":{"type":"number","example":4782112.78,"default":0},"q03_A5016":{"type":"number","example":55.16,"default":0},"q03_A5017":{"type":"number","example":-21185.55,"default":0},"q03_A5020":{"type":"number","example":-21185.55,"default":0},"q03_A5023":{"type":"number","example":-21185.55,"default":0},"q03_A5024":{"type":"number","example":3886.82,"default":0},"q03_A5025":{"type":"number","example":-25072.37,"default":0},"q04_A5101":{"type":"number","example":20489.01,"default":0},"q04_A5109":{"type":"number","example":10993.49,"default":0},"q04_A5112":{"type":"number","example":31482.5,"default":0},"q04_A5115":{"type":"number","example":94214.54,"default":0},"q04_A5117":{"type":"number","example":78965412.68,"default":0},"q04_A5119":{"type":"number","example":66247852.13,"default":0},"q04_A5125":{"type":"number","example":888.56,"default":0},"q04_A5126":{"type":"number","example":78784.91,"default":0},"q04_A5127":{"type":"number","example":149726.41,"default":0},"q04_A5128":{"type":"integer","example":5000,"default":0},"q04_A5132":{"type":"number","example":543.53,"default":0},"q04_A5134":{"type":"number","example":20805.74,"default":0},"q04_A5138":{"type":"number","example":26349.27,"default":0},"q04_A5139":{"type":"number","example":-25072.37,"default":0},"q04_A5141":{"type":"number","example":1276.9,"default":0},"q04_A5147":{"type":"integer","example":0,"default":0},"q04_A5148":{"type":"number","example":28.51,"default":0},"q04_A5150":{"type":"number","example":7239.9,"default":0},"q04_A5152":{"type":"integer","example":500,"default":0},"q04_A5153":{"type":"number","example":140681.1,"default":0},"q04_A5159":{"type":"number","example":78965.51,"default":0},"q04_A5160":{"type":"number","example":852.51,"default":0},"q04_A5161":{"type":"number","example":888.41,"default":0},"q05291_A6012":{"type":"integer","example":68,"default":0},"q05291_A6013":{"type":"integer","example":86,"default":0},"q05291_A6014":{"type":"integer","example":0,"default":0},"q05291_A6015":{"type":"integer","example":76,"default":0},"q05291_A6016":{"type":"integer","example":8,"default":0},"q05291_A6017":{"type":"integer","example":0,"default":0},"q05291_A6018":{"type":"integer","example":7,"default":0},"q05291_A6019":{"type":"integer","example":4,"default":0},"q05291_A6020":{"type":"integer","example":1,"default":0},"q05291_A6021":{"type":"integer","example":0,"default":0},"q05291_A6022":{"type":"integer","example":0,"default":0},"q05291_A6023":{"type":"integer","example":0,"default":0}}},"anexoRSNC":{"type":"object","properties":{"q031":{"type":"integer","example":1,"default":0},"q032":{"type":"integer","example":0,"default":0},"q04ALista":{"type":"object","properties":{"q04ALinha":{"type":"array","items":{"type":"object","properties":{"q04A1":{"type":"string","example":"620"},"q04A21":{"type":"string","example":"Avenida da Graça n.º 888 RC Esq.º"},"q04A2SedeCodPostal":{"type":"string","example":"7896"},"q04A2SedeUniFuncional":{"type":"string","example":"1489"},"q04A23":{"type":"string","example":"Lisboa"},"q04A24":{"type":"string","example":"78"},"q04A25":{"type":"string","example":"06"},"q04A26":{"type":"string","example":"66"},"q04A28":{"type":"number","example":9.785522,"default":0},"q04A29":{"type":"string","example":"info@hotmail.com"},"q04A210":{"type":"string","example":"02"},"q04A211":{"type":"string","example":"Forum Web"},"q04A212":{"type":"string","example":"444"},"q04A213":{"type":"integer","example":1,"default":0},"q04A21415":{"type":"boolean","example":true,"default":true}}}}}}}},"rosto":{"type":"object","properties":{"q01Ano":{"type":"integer","example":2021,"default":0},"q03Name":{"type":"string","example":"Results New, Lda"},"q03Nif":{"type":"number","example":5.7879421,"default":0}}}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service ies is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service ies is currently unavailable"}}}}}}},"deprecated":false}},"/irs-by-code":{"post":{"summary":"IRSByCode (Imposto sobre o Rendimento das Pessoas Singulares)","description":"Endpoint to retrieve the IRS document.","operationId":"irs-imposto-sobre-o-rendimento-das-pessoas-singulares","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["nif","code"],"properties":{"nif":{"type":"string","description":"Taxpayer identification number","default":"test"},"code":{"type":"string","default":"test"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"<value>\"\n    },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Resource not found":{"value":"{\n    \"message\": \"«Resource not found for nif <nif> and code <code> request: <requestId>\"\n}"},"Problem processing request":{"value":"{\n    \"message\": \"Problem processing the request: <requestId>\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":"<value>"}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Resource not found","type":"object","properties":{"message":{"type":"string","example":"«Resource not found for nif <nif> and code <code> request: <requestId>"}}},{"title":"Problem processing request","type":"object","properties":{"message":{"type":"string","example":"Problem processing the request: <requestId>"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service irs-by-code is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service irs-by-code is currently unavailable"}}}}}}},"deprecated":false}},"/irs-by-user-password":{"post":{"summary":"IRSByUserPassword (Imposto sobre o Rendimento das Pessoas Singulares)","description":"Endpoint to retrieve the IRS document.","operationId":"irs-imposto-sobre-o-rendimento-das-pessoas-singulares-1","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"},"year":{"type":"string","description":"The \"year\" field is limited to the last 2 tax years, with the current year being available only if the request is made after June 30th.","default":"2022"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"requestId\": \"<value>\"\n    },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Failed to authenticate":{"value":"{\n    \"message\": \"Failed to authenticate\"\n}"},"Resource not found":{"value":"{\n    \"message\": \"Impossible to obtain the request data for the year <year>\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":"<value>"}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Failed to authenticate","type":"object","properties":{"message":{"type":"string","example":"Failed to authenticate"}}},{"title":"Resource not found","type":"object","properties":{"message":{"type":"string","example":"Impossible to obtain the request data for the year <year>"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>\n"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service irs-by-user-password is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service irs-by-user-password is currently unavailable"}}}}}}},"deprecated":false}},"/irs-by-user-password-details":{"post":{"summary":"IRSByUserPassword Details (Imposto sobre o Rendimento das Pessoas Singulares)","description":"Endpoint to retrieve information from the IRS Mod3 document.","operationId":"irsbyuserpassword-imposto-sobre-o-rendimento-das-pessoas-singulares-details","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","description":"Taxpayer number","default":"test"},"password":{"type":"string","description":"Access password","default":"test"},"year":{"type":"string","description":"The \"year\" field is limited to the last 2 tax years, with the current year being available only if the request is made after June 30th.","default":"2022"}}},"examples":{"Failed To Authenticate":{"value":{"user":"test","password":"failedtoauthenticate","year":"2022"}},"Impossible get data for this Year":{"value":{"user":"test","password":"invalidyear","year":"2022"}},"Unable to access resource":{"value":{"user":"test","password":"unabletoaccess","year":"2022"}},"Obtain Data":{"value":{"user":"test","password":"test","year":"2022"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"requestId\": \"4e1c4ef1-0907-4586-afbf-53087d908ecc\",\n    \"intro\": {\n      \"yearOfIncome\": \"2023\",\n      \"taxpayerNIFA\": \"123456788\",\n      \"taxpayerNIFB\": \"245544552\"\n    },\n    \"catA\": {\n      \"incomeFromDependentWorkSum\": 6749.11,\n      \"withholdingTaxSum\": 0,\n      \"contributionsSum\": 0,\n      \"surtaxWithholdingSum\": 0,\n      \"unionDuesSum\": 0\n    },\n    \"catB\": {\n      \"grossProfessionalCommercialAndIndustrialIncomeSum\": 0,\n      \"grossAgriculturalForestryAndLivestockIncomeSum\": 0,\n      \"grossIncomeIncreasesSum\": 0\n    },\n    \"catC\": null,\n    \"catD\": null,\n    \"catE\": null,\n    \"catF\": {\n      \"grossAmountLeaseWithoutReduction\": 6749.11,\n      \"withholdingTaxLeaseWithoutReduction\": 0,\n      \"grossAmountLeasePermanentHousing\": 0,\n      \"withholdingTaxLeasePermanentHousing\": 0,\n      \"grossAmountRealRightContract\": 0,\n      \"withholdingTaxRealRightContract\": 0\n    },\n    \"catG\": {\n      \"realizationValueSum\": 6749.11,\n      \"acquisitionValueSum\": 0,\n      \"expensesAndChargesSum\": 0\n    },\n    \"catH\": {\n      \"exemptIncomeSubjectToAggregation\": {\n        \"incomeSum\": 0,\n        \"personalIncomeTaxSum\": 0\n      },\n      \"incomeFromIntellectualPropertySum\": 0,\n      \"alimonyPaymentSum\": 0,\n      \"taxBenefitsAndExpensesRelatedToPeopleWithDisabilities\": 0\n    },\n    \"catI\": null,\n    \"catJ\": null,\n    \"catL\": null\n  },\n    \"file\":\"<base64EncodedFile>\"\n}"},"Failed to authenticate":{"value":"{\n    \"message\": \"Failed to authenticate\"\n}"},"Resource not found":{"value":"{\n    \"message\": \"Impossible to obtain the request data for the year <year>\"\n}"},"Unable access site":{"value":"{\n    \"message\": \"Unable to access resource site\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"data":{"type":"object","properties":{"requestId":{"type":"string","example":"4e1c4ef1-0907-4586-afbf-53087d908ecc"},"intro":{"type":"object","properties":{"yearOfIncome":{"type":"string","example":"2023"},"taxpayerNIFA":{"type":"string","example":"123456788"},"taxpayerNIFB":{"type":"string","example":"245544552"}}},"catA":{"type":"object","properties":{"incomeFromDependentWorkSum":{"type":"number","example":6749.11,"default":0},"withholdingTaxSum":{"type":"integer","example":0,"default":0},"contributionsSum":{"type":"integer","example":0,"default":0},"surtaxWithholdingSum":{"type":"integer","example":0,"default":0},"unionDuesSum":{"type":"integer","example":0,"default":0}}},"catB":{"type":"object","properties":{"grossProfessionalCommercialAndIndustrialIncomeSum":{"type":"integer","example":0,"default":0},"grossAgriculturalForestryAndLivestockIncomeSum":{"type":"integer","example":0,"default":0},"grossIncomeIncreasesSum":{"type":"integer","example":0,"default":0}}},"catC":{},"catD":{},"catE":{},"catF":{"type":"object","properties":{"grossAmountLeaseWithoutReduction":{"type":"number","example":6749.11,"default":0},"withholdingTaxLeaseWithoutReduction":{"type":"integer","example":0,"default":0},"grossAmountLeasePermanentHousing":{"type":"integer","example":0,"default":0},"withholdingTaxLeasePermanentHousing":{"type":"integer","example":0,"default":0},"grossAmountRealRightContract":{"type":"integer","example":0,"default":0},"withholdingTaxRealRightContract":{"type":"integer","example":0,"default":0}}},"catG":{"type":"object","properties":{"realizationValueSum":{"type":"number","example":6749.11,"default":0},"acquisitionValueSum":{"type":"integer","example":0,"default":0},"expensesAndChargesSum":{"type":"integer","example":0,"default":0}}},"catH":{"type":"object","properties":{"exemptIncomeSubjectToAggregation":{"type":"object","properties":{"incomeSum":{"type":"integer","example":0,"default":0},"personalIncomeTaxSum":{"type":"integer","example":0,"default":0}}},"incomeFromIntellectualPropertySum":{"type":"integer","example":0,"default":0},"alimonyPaymentSum":{"type":"integer","example":0,"default":0},"taxBenefitsAndExpensesRelatedToPeopleWithDisabilities":{"type":"integer","example":0,"default":0}}},"catI":{},"catJ":{},"catL":{}}},"file":{"type":"string","example":"<base64EncodedFile>"}}},{"title":"Failed to authenticate","type":"object","properties":{"message":{"type":"string","example":"Failed to authenticate"}}},{"title":"Resource not found","type":"object","properties":{"message":{"type":"string","example":"Impossible to obtain the request data for the year <year>"}}},{"title":"Unable access site","type":"object","properties":{"message":{"type":"string","example":"Unable to access resource site"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n\t<title>HTTP Status 401 – Unauthorized</title>\n\t<style type=\"text/css\">\n\t\tbody {\n\t\t\tfont-family: Tahoma, Arial, sans-serif;\n\t\t}\n\n\t\th1,\n\t\th2,\n\t\th3,\n\t\tb {\n\t\t\tcolor: white;\n\t\t\tbackground-color: #525D76;\n\t\t}\n\n\t\th1 {\n\t\t\tfont-size: 22px;\n\t\t}\n\n\t\th2 {\n\t\t\tfont-size: 16px;\n\t\t}\n\n\t\th3 {\n\t\t\tfont-size: 14px;\n\t\t}\n\n\t\tp {\n\t\t\tfont-size: 12px;\n\t\t}\n\n\t\ta {\n\t\t\tcolor: black;\n\t\t}\n\n\t\t.line {\n\t\t\theight: 1px;\n\t\t\tbackground-color: #525D76;\n\t\t\tborder: none;\n\t\t}\n\t</style>\n</head>\n\n<body>\n\t<h1>HTTP Status 401 – Unauthorized</h1>\n</body>\n\n</html>\n"}}}}},"503":{"description":"503","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"message\": \"Service irs-by-user-password is currently unavailable\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Service irs-by-user-password is currently unavailable"}}}}}}},"deprecated":false}},"/nifName":{"post":{"summary":"NifName  (Número Fiscal e Nome)","description":"This endpoint allows querying the NIF and the associated name.","operationId":"nifname","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["nif"],"properties":{"nif":{"type":"string"},"service":{"type":"array","default":["IDENTITY"],"items":{"type":"string"}}}},"examples":{"No Activity":{"value":{"nif":"<valid nif>","service":["IDENTITY"],"testResponse":"NOACTIVITY"}},"Unexpected Error":{"value":{"nif":"<valid nif>","service":["IDENTITY"],"testResponse":"UNEXPECTEDERROR"}},"Error Extracting Data":{"value":{"nif":"<valid nif>","service":["IDENTITY"],"testResponse":"ERROREXTRACTINGDATA"}},"Failed Login":{"value":{"nif":"<valid nif>","service":["IDENTITY"],"testResponse":"FAILEDLOGIN"}},"Invalid NIF":{"value":{"nif":"<valid nif>","service":["IDENTITY"],"testResponse":"INVALIDNIF"}},"Company - Example":{"value":{"nif":"<nif that starts with 5>","service":["IDENTITY"]}},"Person - Example":{"value":{"nif":"<nif that starts with 1 or 2>","service":["IDENTITY"]}}}}}},"responses":{"200":{"description":"200","cont
[...]
